.sec-title {
    position: relative;
    margin-bottom: 30px
}

.title-54 {
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 900;
    line-height: initial;
}

.title-40 {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 900;
    line-height: initial;
}

.btn-dark-bg {
    background-color: #142149 !important;
    color:#fff !important;
}

.color-offWhite {
    color: #E8E9ED !important;
}
/*------------------------------------------------------------------------------------
                      |  Banner Section StyleSheet  |
  -----------------------------------------------------------------------------------*/
.banner-section {
    height: max-content !important;
    position: relative;
    z-index: 1;
    padding:60px 0;
}
.banner-section:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(176, 214, 254, 1);
    z-index: -2;
    opacity: 1;
}
.banner-section:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('../../images/services/master-services-banner-background.jpg') !important;
    background-size: cover;
    /*background-position: center;
    background-attachment: fixed;*/
    z-index: -1;
    opacity:0.6;
    mix-blend-mode:screen;
}

.banner-section .sub-desc {
    font-size: 18px;
    line-height: 29px;
    font-weight: 500;
    margin: 0 0 25px;
    color: #142149;
}

.banner-section h1 {
    position: relative;
    font-weight: 700;
    line-height: 63px;
    font-size: 54px;
    margin-bottom:30px;
    background: 0 0;
    letter-spacing:-1px;
}

/*------------------------------------------------------------------------------------
                      |  List Section  |
  -----------------------------------------------------------------------------------*/

.list-section {
    padding: 60px 0 0 0;
}

.list-box{
    width:fit-content;
    padding:10px;

}

.list-icon img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: #009CFF;
    border-radius:5px;
    padding:4px;
}

.list-section .list-box .content h3{
    line-height: 60px;
    color: #142149;
    font-size:90px !important;
}

.list-icon p {
    color: #142149;
    font-weight:500;
    margin:0;
}

.about-section{
    padding:80px 0 0 0 !important;
}

.about-section .img-col img {
    width:auto !important;
    height:63% !important;
}
/*----------------------- End Section ------------------------------------------------*/

/*------------------------------------------------------------------------------------
                      |  Services Section  |
  -----------------------------------------------------------------------------------*/
.service-block-five .inner-box {
    position: relative;
    background-color: #fff; /*#f2f5fe*/
    /*border:1px solid #000;*/
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.services-section-five .avidclan_section_title .sec-title p {
    color: #626A85 !important;
    padding-bottom: 40px;
}

.service-block-five .inner-box .content-box {
    position: relative;
    padding: 18px 15px;
    border-radius: 10px;
    border:1px solid #000;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 9;
    min-height: 450px;
    text-align: center;
}

.service-block-five .icon {
    padding: 0;
    margin-bottom:12px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

    .service-block-five .icon img {
        max-height: 130px;
        width:100%;
        height:100%;
    }

.service-block-five h4 {
    position: relative;
    font-size: 26px;
    margin-bottom: 12px;
    font-weight: 700;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.service-block-five .content-box p {
    margin-bottom: 12px !important;
    color: #000 !important;
    min-height:179px;
}

.btn-style-card {
    width:100%;
    position: relative;
    font-size: 20px;
    line-height: 25px;
    color: #007BFC;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #007BFC;
}

.btn-style-card .btn-title {
    color:#007BFC;
}

.style-three .service-block-five .inner-box .content-box:before, .style-three .service-block-five .inner-box:after, .style-three .service-block-five .inner-box:before {
    background-color: #201630
}

/*------------------------------------------------------------------------------
                      | Why US  |
--------------------------------------------------------------------------------*/

.dark-blue-bg {
    background-color: #142149;
}

.why-us-section .text-part {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding:137px 38px 38px 165px;
    row-gap:25px;
}

.why-us-section .img-col{
    /*height: 641px;
    width:290px;*/
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.why-us-section .img-col img {
    position: absolute;
    right: 85px;
    height: 540px;
    background-color: transparent;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(22px 16px 11px rgba(34, 34, 34, 0.6));
}

.lets-talk .image-col{
    width:fit-content;
}

.lets-talk .image-block {
    width: 214px;
    height: 265px;
    border-radius: 30px;
    overflow: hidden;
}
.lets-talk .image-block {
    object-fit:cover;

}
.lets-talk .sec-title{
    display:flex;
    flex-direction:column;
    row-gap:25px;
}

.working-process{
    padding-top:0 !important;
}

.working-process .avidclan_section_title{
    padding-bottom:30px;
}

.working-process .image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}
.working-process .image-block .image-box{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: fit-content;
    overflow:hidden;
}

.working-process .image-block .image-box img{
     object-fit:cover;
}

/*------------------------------------------------------------------------------------
                    |  Protfolio Section  |
-----------------------------------------------------------------------------------*/
.industry-serve{
    padding-top:0 !important;
}

.industry-serve .col-industry-serve{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.industry-serve-block .inner-box .content-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.industry-serve-block .inner-box .content-box .icon {
    width: 328px;
    height: 169px;
    border-radius: 10px;
    overflow: hidden;
}

.industry-serve-block h4 {
    position: relative;
    font-size: 26px;
    font-weight: 700;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.industry-serve-block p {
    color: #000 !important;
    font-size:14px !important;
}

/*------------------------------------------------------------------------------------
                    |  Protfolio Section  |
-----------------------------------------------------------------------------------*/
.portfolio {
    padding-top: 0 !important;
}

.portfolio-block{
    display:flex;
    justify-content:center;
    align-content:center;
    text-align:center;
}

.portfolio .col-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.portfolio-block .box-item {
    width: 100%;
    height: 302px;
    border-radius: 10px;
    display:block;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:10px;
}

.food_and_restaurant_bg {
    background-image: url('../../images/services/food_and_restaurant_bg.png');
}

.essentials_and_houseware_bg {
    background-image: url('../../images/services/home_essentials_and_houseware_bg.png');
}

.food_and_recipes_bg {
    background-image: url('../../images/services/food_and_recipes_bg.png');
}

.health_care_bg {
    background-image: url('../../images/services/health_care_bg.png');
}

.box-item .portfolio_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.box-item:hover .portfolio_content {
    visibility: hidden;
    opacity: 0;
    transform: scale(1);
}

.portfolio_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 123, 252, 0.3);
    padding-left: 0;
    padding-right: 0;
    visibility: visible;
    opacity: 1;
    transform-origin: center center;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.portfolio_content h4 {
    width: 100%;
    height: fit-content;
    background: #142149;
    font-size: 26px;
    font-weight: 700;
    color:#fff;
}

.portfolio-block p {
    color: #000 !important;
    font-size: 14px !important;
}

.testimonial {
    padding-top: 30px !important;
    background-color: #142149 !important;
}

.testimonial .card-body .info {
    padding-left: 10px;
    padding-right: 10px;
    width:fit-content;
}

.testimonial .card-body .text-content {
    border-bottom: 2px dashed #B1B1B0 !important;
    color: #393939 !important;
    font-size: 14px !important;
    line-height:20px;
}

.testimonial .card-body .user-info .usr-title {
    color: #080808 !important;
    font-size: 14px !important;
    line-height: 20px;
}

.testimonial .user-info .designation-text {
    font-size: 13px !important;
    color: #898988 !important;
    line-height: 16px;
}

.testimonial .user-info img{
    padding-right:4px !important;
}

/*------------------------------------------------------------------------------------
                    |  Contact Us Section  |
-----------------------------------------------------------------------------------*/
.contact_us .contact_form-col .contact-form {
    border-radius: 0px !important;
    background-color: #142149 !important;
}

.contact_us .contact_form-col .contact-form .form-group .contact_input {
    color: #fff !important;
    background-color: transparent !important;
    border-bottom: 1px solid #fff !important;
    padding-bottom: 0 !important;
    border-radius: 0px !important;
}

.contact_us .contact_form-col .contact-form .contact_input::placeholder {
    color: #fff;
    opacity: 1;
}

.contact_us .contact_form-col .contact-form .contact_input::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

/*------------------------------------------------------------------------------------
                    |  Media Query  |
-----------------------------------------------------------------------------------*/
@media(min-width:1441px) {
    .banner-section{
        padding:60px 0;
    }
    .about-section .img-col img {
        width: auto !important;
        height: 63% !important;
    }
}
@media(max-width:1441px) and (min-width:1025px){
    .banner-section {
        padding: 60px 0;
    }
    .about-section .img-col img {
        width: auto !important;
        height: 63% !important;
    }
    /*.services-section-five .container{
        padding-left:164px;
        padding-right:164px;
    }*/
}
@media(max-width:1025px) and (min-width:769px){
    .banner-section {
        padding: 100px 0;
    }
    .about-section .img-col img {
        width: auto !important;
        height: auto !important;
    }
}
@media(max-width:769px) and (min-width:426px){
    .banner-section {
        padding: 100px 0;
    }
    .about-section .img-col img {
        width: auto !important;
        height: auto !important;
    }
}
@media(max-width:426px) and (min-width:376px){
    .banner-section {
        padding: 100px 0;
    }
    .about-section .img-col img {
        width: auto !important;
        height: auto !important;
    }
}
@media(max-width:376px) and (min-width:321px){
    .banner-section {
        padding: 100px 0;
    }
    .about-section .img-col img {
        width: auto !important;
        height: auto !important;
    }
}
@media(max-width:321px){
    .banner-section {
        padding: 100px 0;
    }
    .about-section .img-col img {
        width: auto !important;
        height: auto !important;
    }
}

/*-------------------------- Section End ---------------------------------------------*/
.sidebar-widget .recent-posts ul li, .tec-services + .service-list, .technology-ic-list {
    margin-top: 30px
}

    .service-list ul, .technology-ic-list ul {
        display: flex;
        display: -ms-flexbox;
        flex-wrap: wrap;
        margin-bottom: 0
    }

.service-list {
    margin: 30px 0
}

    .blog-details-post .blog-details-content .blog-post-pagination .next-post, .blog-details-post .blog-details-content .blog-post-pagination .previous-post, .service-list ul.two-cols li {
        width: 50%
    }

    .service-list ul li {
        font-size: 14px;
        width: 100%;
        line-height: 20px;
        position: relative;
        margin: 5px 0;
        padding-left: 32px
    }

        .service-list ul li::before {
            content: "";
            background: url(../../../assets/images/icons/check-square.svg) 0 0/contain no-repeat;
            position: absolute;
            width: 20px;
            height: 20px;
            left: 5px
        }

.FAQ-section, .blogs-section, .industry_serve, .inquiry-section, .key-benefit-section {
    padding: 70px 0
}

    .inquiry-section .service-list ul li {
        font-size: 16px;
        margin: 10px 0
    }

    .inquiry-section .contact-form-section .sec-title h2 {
        margin-top: 50px;
        color: #007bfc;
        padding-bottom: 10px
    }

    .inquiry-section .contact-form-section .sec-title p {
        font-size: 18px
    }

/*Service*/
.service-section {
    padding: 50px 0
}

    .service-section .sec-title h2 {
        padding-bottom: 15px
    }

.services-section-four {
    position: relative;
    padding: 190px 0 70px
}

.service-section .section-view, .technology-section .section-view {
    background-color: #f2f5fe;
    border-radius: 30px
}

    .service-section .section-view img.ser_img, .technology-section .section-view img.ser_img {
        border-radius: 30px 0 0 30px;
        object-fit: cover;
        height: 100%
    }

    .service-section .section-view.right img.ser_img {
        border-radius: 0 30px 30px 0;
        object-fit: cover;
        height: 100%
    }

.service-block .inner-box {
    position: relative;
    margin-bottom: 80px;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 16px -2px rgba(0,0,0,.05);
    box-shadow: 0 2px 16px -2px rgba(0,0,0,.05)
}

.service-block .image-box {
    position: relative;
    text-align: center
}

    .service-block .image-box img {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        max-height: 210px;
        width: auto;
        margin: 0 auto;
        opacity: 1
    }

.service-block .content {
    position: relative;
    padding: 10px 0 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    text-align: center
}

    .service-block .content a, .service-block .content a::after {
        transition: .3s ease-in-out;
        position: absolute;
        left: 0;
        right: 0
    }

    .service-block .content h4 {
        font-size: 20px;
        font-weight: 600
    }

    .service-block .content a {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        display: block;
        margin: auto;
        width: 200px;
        bottom: -40px
    }

        .service-block .content a::after {
            content: "";
            height: 3px;
            width: 0;
            bottom: -2px;
            background-color: transparent;
            color: #007bfc;
            border-bottom: 2px solid #007bfc;
            transform: translate(0,0) translateZ(0);
            -webkit-transform: translate(0,0) translateZ(0)
        }

    .service-block .content .text {
        position: relative;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #5e7290
    }

/*Technology*/
.technologies-section {
    padding: 90px 0 0
}

.technology-section {
    padding: 40px 0
}

    .technology-section .section-view .main-content {
        font-size: 14px;
        margin-bottom: 30px
    }

    .technology-section .section-view.right img.ser_img {
        border-radius: 0 30px 30px 0
    }

    .technology-section .section-view .sec-title h2 {
        padding-bottom: 20px;
        font-size: 24px
    }

    .technology-section .tech-info .tech-ic {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 10px 0 rgb(0 0 0 / 5%);
        -webkit-box-shadow: 0 4px 10px 0 rgb(0 0 0 / 5%);
        width: 72px;
        height: 72px;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
        display: -ms-flexbox;
        align-items: center;
        justify-content: center;
        cursor: default
    }

        .technology-section .tech-info .tech-ic img {
            width: 24px;
            height: auto;
            margin-bottom: 5px
        }

    .technology-section .tech-info .content p {
        font-size: 14px;
        margin-bottom: 5px
    }

    .technology-section .tech-info .content .devider {
        background-color: rgb(94 114 144 / 20%);
        height: 1px;
        width: 100%;
        display: block;
        margin: 20px 0
    }

    .technology-section .tech-info .content a {
        font-size: 14px;
        font-weight: 500
    }

.technology-ic-list ul li {
    list-style: none;
    margin: 0 15px 15px 0
}

    .technology-ic-list ul li div {
        padding: 3px 14px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,5%);
        -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,5%);
        width: 56px;
        height: 56px;
        display: flex;
        display: -ms-flexbox;
        align-items: center;
        justify-content: center;
        cursor: default
    }

        .technology-ic-list ul li div img {
            width: 32px;
            height: auto
        }

.project-inquiry {
    padding: 70px 0;
    position: relative;
    z-index: 1;
    background-image: url(../../../assets/images/testimonial_bg.jpg)
}

    .project-inquiry::after {
        content: "";
        background-color: #f2f5fe;
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1
    }
/*Contact Form*/
.contact-form .form-group {
    position: relative;
    margin-bottom: 20px
}

    .contact-form .form-group label {
        font-size: 16px;
        font-weight: 500;
        color: #142149;
        margin-bottom: 5px
    }

    .contact-form .bootstrap-select > .dropdown-toggle, .contact-form .form-group input[type=email], .contact-form .form-group input[type=tel], .contact-form .form-group input[type=text], .contact-form .form-group select, .contact-form .form-group textarea {
        position: relative;
        display: block;
        height: 45px;
        width: 100%;
        font-size: 15px;
        color: #142149;
        line-height: 30px;
        font-weight: 400;
        border: 0;
        background-color: #f2f5fe;
        border-radius: 5px;
        padding: 10px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s
    }

    .contact-form .form-group textarea {
        height: 100px
    }

.contact-form {
    background-color: #fff;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: 0 3px 16px 0 rgba(0,0,0,.05);
    border-radius: 25px;
    padding: 40px
}

.contact-form-section {
    position: relative;
    padding: 70px 0
}

    .contact-form-section .contact-form {
        padding: 35px
    }

        .contact-form-section .contact-form.career_form {
            padding: 15px 5px
        }

        .contact-form-section .contact-form .form-group, .sidebar-widget .widget-title {
            margin-bottom: 25px
        }

    .contact-form-section .bootstrap-select .dropdown-toggle .filter-option {
        line-height: 1.4
    }

        .contact-form-section .bootstrap-select .dropdown-toggle .filter-option:after {
            right: 10px;
            top: 10px;
            line-height: 22px
        }

    .contact-form-section .contact-form .bootstrap-select > .dropdown-toggle, .contact-form-section .contact-form .form-group input[type=email], .contact-form-section .contact-form .form-group input[type=tel], .contact-form-section .contact-form .form-group input[type=text], .contact-form-section .contact-form .form-group select, .contact-form-section .contact-form .form-group textarea {
        position: relative;
        flex: 1 1 auto;
        width: 100%;
        min-width: 0
    }

    .contact-form-section .contact-form .form-group textarea {
        height: 100px;
        resize: none
    }

    .contact-form-section .note p {
        font-size: 18px;
        font-weight: 500;
        font-style: italic
    }

    .contact-form-section .contact-form .input-group-text {
        background-color: #f2f5fe;
        border: 0;
        color: #007bfc
    }
