
@{
    ViewBag.Title = "BoltWellCaseStudyDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section AdditionalMeta
{
    <link rel="stylesheet" href="~/assets/css/Avidclan/work.css" />
    <link rel="stylesheet" href="~/assets/css/Avidclan/casestudy.css" />
}
<style>
    .secImg img {
        /*height: 30px;*/
        margin: 5px;
    }
</style>
<!--BoltWell Section-->
<section>
    <div class="container">
        <div class="row mt5 mb5">
            <div class="col-md-6 mtsix order-lg-1 order-md-1 order-sm-2 order-2">
                <div class="case-title">
                    <h2>BoltWell</h2>
                </div>
                <p>
                    Cloud-based oil and gas platform leveraging cutting-edge forecasting algorithms for automatic predictions from standardized production data, enabling effortless and comprehensive curve display
                </p>
                <div class="mt5">
                    <h3>Tools used:</h3>
                    <div class="secImg">
                        <img src="~/assets/images/casestudy/boltwell/sql.png" />
                        <img src="~/assets/images/casestudy/boltwell/visual studio.png" />
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-4 mtimggg order-lg-2 order-md-2 order-sm-1 order-1">
                <img src="~/assets/images/casestudy/boltwell/Boltwell_1.png" style="height:100%" alt="boltwell" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<!--About Project-->
<section>
    <div class="container">
        <div class="row mt5 mb-5 aboutpro">
            <div class="col-md-4 p-5">
                <img src="/assets/images/casestudy/goolgoal/gg1.png" alt="goolgoal" class="img-fluid" style="width: 270px;height: 552px;">
            </div>
            <div class="col-md-8 mt5">
                <div class="case-title mt5">
                    <h2 style="border-bottom: 1px solid #ccc; width: fit-content; ">About Project</h2>
                </div>
                <p class="mt5">
                    Welcome to GoolGoal, the premier mobile app for Football Fantasy Streaming. Immerse yourself in live matches, participate in dynamic chat rooms, and connect with fellow enthusiasts via audio and video calls. Stay informed with the latest updates on your beloved teams, track leagues, and delve into comprehensive statistics. Share your love for the game with interactive posts and experience the excitement of football in a whole new way. GoolGoal offers innovative features for an unmatched fan experience, bringing the thrill of football right to your fingertips.
                </p>

                <div class="row justify-content-left mt-3 Sec">
                    <div class="col-md-3 col-6">
                        <h3>Sector :</h3>
                        <p>Oil &amp; Gas</p>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center divi">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-3 col-6">
                        <h3>Design Service:</h3>
                        <p>Web Application</p>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-3">
                        <h3>Timeline :</h3>
                        <p>12 Jan - 30 Jan </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--  Our Technology -->
<section class="process-section hiring-process testimonial-section-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <div class="case-title">
                        <div class="custom-underline" style="width: 32%">
                            <h2>Our Technology</h2>
                        </div>
                    </div>
                </div>
                <div class="container mt5">
                    <div class="d-flex justify-content-center">
                        <div class="col stat-card">
                            <div class="d-flex flex-row justify-content-center">
                                <div><img src="/assets/images/casestudy/boltwell/Dotnet.png" class="img-fluid"></div>
                                <div class="d-flex flex-column p-1 ms-2">
                                    <h3>
                                        Asp.net C#
                                    </h3>
                                </div>
                            </div>
                        </div><div class="col-1 d-flex justify-content-center align-items-center">
                            <div class="divider"></div>
                        </div>

                        <div class="col stat-card mmt5">
                            <div class="d-flex flex-row justify-content-center">
                                <div>
                                    <img src="/assets/images/casestudy/boltwell/ML.NET-Logo.wine 1.png" class="img-fluid">
                                </div>
                                <div class="d-flex flex-column p-1 ms-2">
                                    <h3>ML.NET</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <div class="divider"></div>
                        </div>
                        <div class="col stat-card mmt5">
                            <div class="d-flex flex-row justify-content-center">
                                <div>
                                    <img src="/assets/images/casestudy/boltwell/OpenAI.png" class="img-fluid">
                                </div>
                                <div class="d-flex flex-column p-1 ms-2">
                                    <h3>Asp.net</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <div class="divider"></div>
                        </div>
                        <div class="col stat-card mmt5">
                            <div class="d-flex flex-row justify-content-center">
                                <div>
                                    <img src="/assets/images/casestudy/boltwell/D3 Company.png" class="img-fluid">
                                </div>
                                <div class="d-flex flex-column p-1 ms-2">
                                    <h3>D3 Chart</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <div class="divider"></div>
                        </div>
                        <div class="col stat-card mmt5">
                            <div class="d-flex flex-row justify-content-center">
                                <div>
                                    <img src="/assets/images/casestudy/boltwell/Windows.png" class="img-fluid">
                                </div>
                                <div class="d-flex flex-column p-1 ms-2">
                                    <h3>Windows services</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row justify-content-center mt-5">
                        <div class="col-md-3 col-sm-6 stat-card">
                            <div class="d-flex flex-row justify-content-center">
                                <div><img src="~/assets/images/casestudy/boltwell/Dotnet.png" class="img-fluid" /></div>
                                <div class="d-flex flex-column p-1 ms-2">
                                    <h3>Web App</h3>
                                    <h3 style="color: #0d47a1; text-align: left;">
                                        Asp.net C#
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <div class="divider"></div>
                        </div>
                        <div class="col-md-3 col-sm-6 stat-card mmt5">
                            <div class="d-flex flex-row justify-content-center">
                                <div>
                                    <img src="~/assets/images/casestudy/boltwell/ML.NET-Logo.wine 1.png" class="img-fluid" />
                                </div>
                                <div class="d-flex flex-column p-1 ms-2">
                                    <h3>Web App</h3>
                                    <h3 style="color: #0d47a1; text-align: left;">
                                        ML.NET
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <div class="divider"></div>
                        </div>
                        <div class="col-md-3 col-sm-6 stat-card mmt5">
                            <div class="d-flex flex-row justify-content-center">
                                <div>
                                    <img src="~/assets/images/casestudy/boltwell/OpenAI.png" class="img-fluid" />
                                </div>
                                <div class="d-flex flex-column p-1 ms-2">
                                    <h3>Web App</h3>
                                    <h3 style="color: #0d47a1; text-align: left;">
                                        Asp.net
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <div class="divider"></div>
                        </div>
                        <div class="col-md-3 col-sm-6 stat-card mmt5">
                            <div class="d-flex flex-row justify-content-center">
                                <div>
                                    <img src="~/assets/images/casestudy/boltwell/D3 Company.png" class="img-fluid" />
                                </div>
                                <div class="d-flex flex-column p-1 ms-2">
                                    <h3>Web App</h3>
                                    <h3 style="color: #0d47a1; text-align: left;">
                                        D3 Chart
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <div class="divider"></div>
                        </div>
                        <div class="col-md-3 col-sm-6 stat-card mmt5">
                            <div class="d-flex flex-row justify-content-center">
                                <div>
                                    <img src="~/assets/images/casestudy/boltwell/Windows.png" class="img-fluid" />
                                </div>
                                <div class="d-flex flex-column p-1 ms-2">
                                    <h3>Web App</h3>
                                    <h3 style="color: #0d47a1; text-align: left;">
                                        Windows services
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</section>

<!--Clients Requirements-->
<section class="section-clientRequirement">
    <div class="container-fluid mt5 mb-5">
        <div class="row">
            <div class="col-sm-8 col-lg-6 mx-auto mt5">
                <div class="case-title text-center">
                    <div class="custom-underline" style="width: 61%">
                        <h2>Clients Requirements</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5 txtCenter">
            <div class="col-md-4 first-column-content order-lg-1 order-md-1 order-sm-1 order-2 crtxtcls">
                <div class="p-2">
                    <div class="customdiv">1</div>
                    <h3>User Engagement Tracking:</h3>
                    <p>Develop an analytics system to monitor user activity and preferences for continuous app optimization.</p>
                </div>
                <div class="p-2">
                    <div class="customdiv">2</div>
                    <h3>Seamless Audio/Video Calls:</h3>
                    <p>Integrate high-quality calling features for smooth communication during live matches.</p>
                </div>
            </div>
            <div class="col-md-2 order-lg-2 order-md-2 order-sm-3 order-1">
                <img src="/assets/images/casestudy/goolgoal/gg4.png" class="img-fluid" />
            </div>
            <div class="col-md-4 last-column-content order-lg-3 order-md-3 order-sm-2 order-3">
                <div class="p-2">
                    <div class="customdiv">3</div>
                    <h3>Chat Room Moderation:</h3>
                    <p>Implement effective moderation tools for real-time chat rooms to ensure a positive user experience.</p>
                </div>
                <div class="p-2">
                    <div class="customdiv">4</div>
                    <h3>Efficient Content Management:</h3>
                    <p>Create a user-friendly system to manage live streams, league data, and updates for seamless content delivery.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<!--Our Approach-->
<section>
    <div class="container">
        <div class="row mb5 mt5">
            <div class="col-md-6 p-2 oahidimg">
                <img src="~/assets/images/casestudy/goolgoal/OurAppImg.jpg" class="img-fluid" />
            </div>
            <div class="col-md-6 ourapp mt5">
                <div class="row">
                    <div class="avidclan_section_title text-left mb-50">
                        <div class="case-title">
                            <h2 style="border-bottom: 1px solid #ccc;">Our Approach</h2>
                        </div>
                    </div>
                    <img class="oashwimg img-fluid" src="/assets/images/casestudy/goolgoal/OurAppImg.jpg" />
                    <div class="mt5">
                        <ul class="listst">
                            <li>
                                <p> Prioritizing intuitive interfaces and engaging features to enhance user satisfaction.</p>
                            </li>
                            <li><p> Leveraging cutting-edge development and streaming technology for seamless performance.</p></li>
                            <li><p>Iterating and refining the platform based on robust analytics and user feedback.</p></li>
                            <li><p> Ensuring high standards in all aspects, from chat moderation to audio/video integration, for a safe and enjoyable user experience.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Project Challenges and Our Solution-->
<section class="ourmission lightblue-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 proch">
                <div class="row">
                    <div class="avidclan_section_title">
                        <div class="case-title">
                            <h2 style="border-bottom: 1px solid #ccc;">Project Challenges</h2>
                        </div>
                    </div>
                    <div class="col order-lg-1 order-md-1 order-sm-3 order-2 mt3">
                        <ul class="listst">
                            <li><p>Forecasting errors, resource inefficiency</p></li>
                            <li><p> With numerous leagues and teams, fans struggle to stay informed about schedules, results, and standings</p></li>
                            <li><p>Time-consuming forecasting delays</p></li>
                            <li><p>Restricted production visibility</p></li>
                            <li><p>Delay in operational processes</p></li>
                        </ul>
                    </div>
                    <div class="col order-lg-2 order-md-2 order-sm-1 order-1 mt3">
                        <img src="~/assets/images/casestudy/goolgoal/ProjectChallenge.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 oursol">
                <div class="row">
                    <div class="avidclan_section_title">
                        <div class="case-title">
                            <h2 style="border-bottom: 1px solid #ccc;">Our Solution</h2>
                        </div>
                    </div>
                    <div class="col order-lg-1 order-md-1 order-sm-3 order-2 mt3">
                        <ul class="listst">
                            <li><p>AI-Driven forecasting, resource optimization</p></li>
                            <li><p>Intelligent AI-based chatbot</p></li>
                            <li><p>Simultaneous type of curve display</p></li>
                            <li><p>Simplified auto-forecasting complexity</p></li>
                            <li><p>Real-time production dashboard view</p></li>
                            <li><p>Rapid decision support</p></li>
                        </ul>
                    </div>
                    <div class="col order-lg-2 order-md-2 order-sm-1 order-1 mt3">
                        <img src="~/assets/images/casestudy/goolgoal/OurSolution.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Key Features-->
<section class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-lg-1 order-md-1 order-sm-2 order-2">
                <div class="row">
                    <div class="col-sm-8 col-lg-12 mx-auto mb-5 mt5">
                        <div class="case-title text-center keyfhed">
                            <h2>Key Features</h2>
                        </div>
                    </div>
                    <div class="row keyftxt txtCenter">
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/goolgoal/category_FILL0_wght400_GRAD0_opsz24.png" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Live Games by Relevant Categories and Subcategories</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/goolgoal/diversity_1_FILL0_wght400_GRAD0_opsz24.png" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Real-time Group & Game Chat</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/goolgoal/analytics_FILL0_wght400_GRAD0_opsz24.png" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Half-Time Results, Current Status, Goals, Stats</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/goolgoal/query_stats_FILL0_wght400_GRAD0_opsz24.png" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Track Live or Upcoming Games</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/goolgoal/headset_mic_FILL0_wght400_GRAD0_opsz24.png" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Chat Room Creation/Join: Team-Specific or Neutral Rooms</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/goolgoal/handshake_FILL0_wght400_GRAD0_opsz24.png" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Create, Edit, Delete Posts with Media; View, Share Posts</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-lg-1 order-md-1 order-sm-1 order-1">
                <div class="row mt-3">
                    <div class="col-md-4 col-6 p-2"><img src="/assets/images/casestudy/goolgoal/Submit.png" class="img-fluid"></div>
                    <div class="col-md-4 col-6 p-2"><img src="/assets/images/casestudy/goolgoal/Create Profile.png" class="img-fluid"></div>
                    <div class="col-md-4 col-6 p-2"><img src="/assets/images/casestudy/goolgoal/Login.png" class="img-fluid"></div>
                    <div class="col-md-4 col-6 p-2"><img src="/assets/images/casestudy/goolgoal/Statistics 4.png" class="img-fluid"></div>
                    <div class="col-md-4 col-6 p-2"><img src="/assets/images/casestudy/goolgoal/Statistics 2.png" class="img-fluid"></div>
                    <div class="col-md-4 col-6 p-2"><img src="/assets/images/casestudy/goolgoal/Statistics 1.png" class="img-fluid"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--User Interface Designs-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-lg-6 mx-auto mb5 mt5">
                <div class="case-title text-center">
                    <div class="custom-underline uidsignhed">
                        <h2>User Interface Designs</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mb-3">
            <div class="p-2">
                <div class="d-flex justify-content-center align-items-center" style="height: 15vh;">
                    <div class="uidHeader">
                        <h3>1. Splash / Login Signup / User Profile</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/gg4.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Submit.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Create Profile.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Login.png" class="img-fluid" />
                </div>
            </div>
            <div class="p-2">
                <div class="d-flex justify-content-center align-items-center" style="height: 15vh;">
                    <div class="uidHeader">
                        <h3>2. Statistics</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Statistics 3.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Statistics 4.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Statistics 2.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Statistics 1.png" class="img-fluid" />
                </div>
            </div>
            <div class="p-2">
                <div class="d-flex justify-content-center align-items-center" style="height: 15vh;">
                    <div class="uidHeader">
                        <h3>3. Chat Room Feature</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Chatroom 1.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Chatroom 2.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Chatroom 3.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Chatroom 4.png" class="img-fluid" />
                </div>
            </div>
            <div class="p-2">
                <div class="d-flex justify-content-center align-items-center" style="height: 15vh;">
                    <div class="uidHeader">
                        <h3>4. Create Post and Add Members</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Create post.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Post list 2.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Post list.png" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/goolgoal/Add members.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!--Dynamics Statistics-->
<section class="ourmission lightblue-bg mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center">
                    <div class="case-title">
                        <div class="custom-underline" style="width:31%;">
                            <h2>Dynamic Statistics</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center dysts">
                    <div class="col-md-3 col-sm-6 stat-card">
                        84%
                        <div class="stat-desc">Increased forecasting precision</div>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-3 col-sm-6 stat-card mmt5">
                        62%
                        <div class="stat-desc">Increased real-time data analysis</div>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-3 col-sm-6 stat-card mmt5">
                        73%
                        <div class="stat-desc">Reduction in operational time</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Business Outcomes-->
<section class="business-outcomes">
    <div class="container-fluid mt-5">
        <div class="row BO_row">
            <div class="col-md-6">
                <div class="first-column_content">
                    <h2 class="section-title">Business Outcomes</h2>
                    <hr />
                    <div class="row">
                        <div class="col order-lg-1 order-md-1 order-sm-2 order-2">
                            <p class="section-content mt-3">
                                Gool Goal’s innovative features and UX strategies drive heightened user engagement and satisfaction. Live matches, dynamic chat rooms, and audio/video calls cultivate a strong sense of community. This surge in engagement has boosted app downloads, active users, and retention rates, solidifying Gool Goal as the top choice for Football Fantasy Streaming.
                            </p>
                        </div>
                        <div class="col order-lg-1 order-md-1 order-sm-1 order-1">
                            <img src="/assets/images/casestudy/goolgoal/businessoutcome.png" class="img-fluid mt-3 rounded" alt="Business Outcomes">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 light-blue-bg">
                <div class="testimonial">
                    <h2 class="section-title">What does the Client Have to say about the project?</h2>
                    <hr />
                    <div class="quote"><img src="~/assets/images/casestudy/goolgoal/quoteupper.png" class="img-fluid" alt="Business Outcomes"></div>
                    <p class="testimonial-content mt-3">
                        Working with Avidclan Technologies was an exceptional experience. Their team's professionalism and creativity were evident from the start. They not only grasped our brand identity effortlessly but also translated it into a visually stunning design that surpassed our expectations. The final product not only looks fantastic but also provides a seamless user experience, elevating our business significantly.
                    </p>
                    <div class="row mt-5 mb-3">
                        <div class="col-md-2 col-3">
                            <img src="/assets/images/casestudy/goolgoal/darrenjon.png" class="img-fluid rounded-circle" alt="Business Outcomes">
                        </div>
                        <div class="col-md-8 col-8">
                            <div class="testimonial-author">
                                <span style="font-weight: 700;font-size: 20px;margin-top: 0.5rem;">
                                    - Darrell Johnson
                                </span>
                                <br>
                                <div class="text-muted" style="font-weight: 600;font-size: 14px;">( Chief Executive Officer )</div>
                            </div>
                        </div>
                        <div class="col-md-2 quote">
                            <img src="/assets/images/casestudy/goolgoal/quotelower.png" class="img-fluid" alt="Business Outcomes">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--Explore our Portfolio-->
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-8 col-lg-4 mx-auto mt5 mb-4">
                <div class="case-title text-center" style="border-bottom: 1px solid #ccc; /* width: fit-content; */ ">
                    <h2>Explore our Portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 col-lg-4">
                <img src="~/assets/images/casestudy/goolgoal/E-Sala.jpg" class="img-fluid" />
                <div class="mt-2">
                    <h3> E-Shala</h3>
                    <p>  School management app used by teachers and students to manage attendance, assignments and more activities.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="~/assets/images/casestudy/goolgoal/prizai.jpg" class="img-fluid" />
                <div class="mt-2">
                    <h3>Prizai</h3>
                    <p>
                        App used by customers wanting to get salon services online by getting benefit of various referral programs.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="~/assets/images/casestudy/goolgoal/improve.jpg" class="img-fluid" />
                <div class="mt-2">
                    <h3>Improve</h3>
                    <p>
                        App focused on health and fitness factors, which engages its user to get fit by providing knowledge on diet, exercise.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")








