
@{
    ViewBag.Title = "CaseStudy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AdditionalMeta
{
    <title>Avidclan CaseStudy: Latest Insights on Web and Mobile App Development</title>
    <link rel="stylesheet" href="~/assets/css/Avidclan/casestudy.css" />
}
<section class="primary-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-7 mx-auto mb-5 mt-5">
                <div class="sec-title text-center">
                    <h2 class="mb-sm-30">Our Case Studies</h2>
                    <p class="mt-0">
                        “Embark on a journey where creativity knows no bounds and innovation reigns supreme. Each case study is a testament to our passion for crafting captivating experiences across apps, websites, and web applications. Click on any case study to unlock the secrets within.”
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="app-card">
                    <img class="LitsImg" src="~/assets/images/casestudy/goolgoal.png" alt="goolgoal" />
                    <div class="app-detail">
                        <h3>GoolGoal</h3>
                        <p>Introducing GoolGoal, the ultimate Football Fantasy Streaming mobile application.</p>
                        <div class="d-flex">
                            <button class="btn btn-custom">Mobile Application</button>
                            <button class="btn btn-custom">Category</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-card">
                    <img class="LitsImg" src="~/assets/images/casestudy/sportsfntcy.png" alt="sportsfntcy" />
                    <div class="app-detail">
                        <h3>Sports Fantasy</h3>
                        <p>Introducing GoolGoal, the ultimate Football Fantasy Streaming mobile application. </p>
                        <div class="d-flex">
                            <button class="btn btn-custom">Mobile Application</button>
                            <button class="btn btn-custom">Category</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-card">
                    <img class="LitsImg" src="~/assets/images/casestudy/parkingnav.png" alt="parkingnav" />
                    <div class="app-detail">
                        <h3>Parking Navigator</h3>
                        <p>Introducing GoolGoal, the ultimate Football Fantasy Streaming mobile application.</p>
                        <div class="d-flex">
                            <button class="btn btn-custom">Mobile Application</button>
                            <button class="btn btn-custom">Category</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-card">
                    <img class="LitsImg" src="~/assets/images/casestudy/fitnessmuscle.png" alt="fitnessmuscle" />
                    <div class="app-detail">
                        <h3>Fitness Muscle</h3>
                        <p>Introducing GoolGoal, the ultimate Football Fantasy Streaming mobile application.</p>
                        <div class="d-flex">
                            <button class="btn btn-custom">WebSite</button>
                            <button class="btn btn-custom">Category</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-card">
                    <img class="LitsImg" src="~/assets/images/casestudy/healthcare.png" alt="healthcare" />
                    <div class="app-detail">
                        <h3>HealthCare</h3>
                        <p>Introducing GoolGoal, the ultimate Football Fantasy Streaming mobile application.</p>
                        <div class="d-flex">
                            <button class="btn btn-custom">WebSite</button>
                            <button class="btn btn-custom">Category</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-card">
                    <img class="LitsImg" src="~/assets/images/casestudy/aeneftis.png" alt="aeneftis" />
                    <div class="app-detail">
                        <h3>Aeneftis</h3>
                        <p>Introducing GoolGoal, the ultimate Football Fantasy Streaming mobile application.</p>
                        <div class="d-flex">
                            <button class="btn btn-custom">WebSite</button>
                            <button class="btn btn-custom">Category</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>


@Html.Partial("_Footer")
