
@{
    ViewBag.Title = "CLFCaseStudyDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section AdditionalMeta
{
    <title>Streamline Business-Concierge Communication with CLF</title>
    <meta name="description" content="Discover how CLF is transforming the concierge industry by providing real-time access to business updates, menus, and event listings." />
    <link rel="canonical" href="https://www.avidclan.com/case-studies/concierge-live-feed/" />

    <link rel="stylesheet" href="~/assets/css/Avidclan/work.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="~/assets/css/swiper-bundle-min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="~/assets/css/Avidclan/responsive_image_slide.css" rel="stylesheet" />
    <script src="~/assets/js/Avidclan/responsive_image_slide.js"></script>
    <link rel="stylesheet" href="~/assets/css/Avidclan/casestudy.css" />
}
@*<style>
    .secImg img {
        /*height: 30px;*/
        margin: 5px;
    }

    .d-none {
        display: none !important;
    }
</style>*@


<!--Orisuun Section-->
<section class="pt-5">
    <div class="container">
        <div class="row mt5 banner-sec-custom mb5">
            <div class="col-lg-5 order-lg-1 order-md-2 order-sm-2 order-2">
                <div class="case-title intro-heading">
                    <h1 class="banner-section-two-h1">Concierge Live Feed (CLF)</h1>
                </div>
                <p>
                    Welcome to CLFNow.com—where concierge services meet innovation. Concierge Live Feed (CLF) is a groundbreaking platform that streamlines communication between local businesses and concierges, providing quick access to updated menus, event listings, and promotions. Created to help resorts deliver memorable guest experiences, CLF equips concierges with everything they need to offer instant, tailored suggestions. With features like list management, real-time updates, and even a rewards system, CLF empowers concierges to make every recommendation exceptional.
                </p>
                <div style="margin-top: 21px !important; margin-bottom: 15px !important;">
                    <h3>Tools Used</h3>
                    <div class="row">
                        <div class="col-md-3 col-6 mb-3">
                            <img src="~/assets/images/casestudy/boltwell/visual studio.png" alt="visual-studio" />
                            <h4 class="mt-2 fs-6">Visual Studio</h4>
                        </div>
                        <div class="col-md-3 col-6 mb-3">
                            <img src="~/assets/images/casestudydetail/TechnologiesImages/git.svg" alt="git" />
                            <h4 class="mt-2 fs-6">GIT</h4>
                        </div>
                        <div class="col-md-3 col-6 mb-3">
                            <img src="~/assets/images/casestudydetail/tools/MySQL.svg" alt="my-sql" />
                            <h4 class="mt-2 fs-6">MYSQL</h4>
                        </div>
                        <div class="col-md-3 col-6">
                            <img src="~/assets/images/casestudydetail/tools/Cypress-2.svg" alt="cypress-2" />
                            <h4 class="mt-2 fs-6">Cypress</h4>
                        </div>
                        <div class="col-md-3 col-6">
                            <img src="~/assets/images/casestudy/goolgoal/figma.svg" alt="figma" />
                            <h4 class="mt-2 fs-6">Figma</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7  mtimggg order-lg-2 order-md-1 order-sm-1 order-1">
                <img src="~/assets/images/casestudy/withoutborder/CLF/Banner-image-clf.png" class="img-border img-fluid w-100" alt="banner-image-clf" />
            </div>
        </div>
    </div>
</section>

<section class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 order-lg-1 order-md-1 order-sm-1 order-1  d-flex flex-wrap align-content-center about-img">
                <img src="~/assets/images/casestudy/withoutborder/CLF/About-Image.png" alt="about-img-clf" class="img-border img-fluid" />
            </div>
            <div class="col-lg-7 order-lg-2 order-md-2 order-sm-2 order-2">
                <div class="row justify-content-left mt-3 Sec">
                    <div class="case-title mt5">
                        <h2 style="border-bottom: 1px solid #ccc; width: fit-content; ">About Project</h2>
                    </div>
                    <p class="mt5 about-subtopic">
                        Concierge Live Feed (CLF) is a modern form of communication platform intended to facilitate between local enterprises, including restaurants and entertainment establishments, and hotel concierges. Available in major markets like Las Vegas with Los Angelinteractions es, Boston and New York, the platform provides concierges with up-to-date resources, menus, and exclusive information. With a robust presence in the hospitality industry, CLFNow.com helps elevate the guest experience by enabling concierges to effortlessly curate and share customized local recommendations.
                    </p>
                    <div class="col-md-3 col-6">
                        <h3>Sector :</h3>
                        <p>Hospitality and Tourism</p>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center divi">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-3 col-6">
                        <h3>Design Service:</h3>
                        <p>Web and Mobile Application</p>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center divi">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-3 col-6">
                        <h3>Timeline :</h3>
                        <p>2 years</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Our Technology -->
<section class="process-section hiring-process testimonial-section-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="case-title text-center mb-50">
                    <div class="custom-underline">
                        <h2>Our Technology</h2>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4 col-md-6  stat-card">
                        <div class="d-flex flex-row content-center">
                            <div><img src="~/assets/images/casestudydetail/TechnologiesImages/NETcore.svg" alt="net-core" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">Backend Framework</h3>
                                <h3 style="color: #0d47a1; text-align: left;">
                                    .NET Core + MVC
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 stat-card mmt5">
                        <div class="d-flex flex-row content-center">
                            <div> <img src="~/assets/images/casestudydetail/TechnologiesImages/MySQL.svg" alt="my-sql" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">Database</h3>
                                <h3 style="color: #0d47a1; text-align: left;">
                                    MySQL
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  stat-card mmt5">
                        <div class="d-flex flex-row content-center">
                            <div> <img src="~/assets/images/casestudydetail/TechnologiesImages/js.svg" alt="js" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">Front-End</h3>
                                <h3 class="text-left" style="color: #0d47a1;">
                                    JavaScript
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  stat-card">
                        <div class="d-flex flex-row content-center">
                            <div> <img src="~/assets/images/casestudy/Vyking/jquery.svg" alt="jquery" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">Front-End</h3>
                                <h3 style="color: #0d47a1; text-align: left;">
                                    jQuery#
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  stat-card mmt5">
                        <div class="d-flex flex-row content-center">
                            <div> <img src="~/assets/images/casestudydetail/TechnologiesImages/Cypress.svg" alt="cypress" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">Testing Tool</h3>
                                <h3 style="color: #0d47a1; text-align: left;">
                                    Cypress with Java
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  stat-card mmt5">
                        <div class="d-flex flex-row content-center">
                            <div> <img src="~/assets/images/casestudydetail/TechnologiesImages/icons8-stripe.svg" alt="stripe" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">Payment Gateway</h3>
                                <h3 style="color: #0d47a1; text-align: left;">
                                    Stripe Payment
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Clients Requirements-->
<section class="section-clientRequirement">
    <div class="container-fluid mt5 mb-2">
        <div class="row">
            <div class="col-lg-6 col-8 mx-auto mt5">
                <div class="case-title text-center">
                    <div class="custom-underline">
                        <h2>Client's Requirements</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5 txtCenter">
            <div class="col-lg-3 first-column-content order-lg-1 order-md-2 order-sm-2 order-2 crtxtcls">
                <div class="p-2">
                    <div class="customdiv txt-client-requ txt-requ ">1</div>
                    <h3>Efficient Guest Interaction</h3>
                    <p>Enable concierges to access a centralized portal for guest suggestions, including local restaurants, activities, nightlife, and more.</p>
                </div>
                <div class="p-2 mt-3">
                    <div class="customdiv txt-client-requ">2</div>
                    <h3>Live Feed Customization</h3>
                    <p>Create a dynamic feed where concierges receive updated listings like event schedules, happy hours, brunch details etc.</p>
                </div>
            </div>
            <div class="col-lg-5 mb-0 mb-md-4 mb-lg-0 order-lg-2 order-md-1 order-sm-1 order-1 text-center">
                <img src="~/assets/images/casestudy/withoutborder/CLF/ClientReq-Image.png" alt="client-req-clf" class="img-border img-fluid" />
            </div>
            <div class="col-lg-3 last-column-content order-lg-3 order-md-2 order-sm-2 order-3">
                <div class="p-2">
                    <div class="customdiv txt-client-requ">3</div>
                    <h3>Custom List Creation</h3>
                    <p>Concierges can create, save, and share tailored recommendation lists to improve client experiences and simplify service delivery.</p>
                </div>
                <div class="p-2 mt-2">
                    <div class="customdiv txt-client-requ">4</div>
                    <h3>Guest-Focused Reservation Management</h3>
                    <p>Streamline reservations and guest communication via text or email, supporting a branded and seamless concierge experience.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Our Approach-->
<section>
    <div class="container">
        <div class="row mb5 mt5">
            <div class="col-lg-6 p-2 oahidimg">
                <img src="~/assets/images/casestudy/goolgoal/OurAppImg.jpg" alt="our-app-clf" class="img-border img-fluid" />
            </div>
            <div class="col-lg-6 ourapp">
                <div class="avidclan_section_title text-left mb-50">
                    <div class="case-title">
                        <h2 class=" width-fit-content" style="border-bottom: 1px solid #ccc;">Our Approach</h2>
                    </div>
                </div>
                <img class="img-border oashwimg img-fluid" src="/assets/images/casestudy/goolgoal/OurAppImg.jpg" alt="our-app-clf" />
                <div class="mt5">
                    <ul class="listst">
                        <li><p>We developed intuitive user interfaces tailored for concierge needs, allowing quick access to key features such as list creation, favourite list reservation booking, and file sharing.</p></li>
                        <li><p>Integrated APIs for live updates from businesses, ensuring accurate and timely information.</p></li>
                        <li><p>Developed flexible list-saving and sharing features for personalized recommendations.</p></li>
                        <li><p>Ensured that user data, especially for reservations and guest interactions, remains secure.</p></li>
                        <li><p>Introduced a rewards system to encourage active platform usage, making it engaging and motivating for concierge teams.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Project Challenges and Our Solution-->
<section class="ourmission lightblue-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pe-lg-4 proch">
                <div class="row">
                    <div class="avidclan_section_title">
                        <div class="avidclan_section_title">
                            <div class="case-title">
                                <h2 style="border-bottom: 1px solid #ccc;">Project Challenges</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 order-lg-1 order-md-1 order-sm-3 order-2 mt3">
                        <ul class="listst">
                            <li><p>Managing the creation, saving, and sending of personalized guest recommendations remains challenging, especially when maintaining seamless organization of lists for enhanced concierge workflows.</p></li>
                            <li><p>Updating information from participating establishments automatically and seamlessly is challenging, as outdated details can compromise the quality of guest service and guest satisfaction.</p></li>
                            <li><p>Integrating diverse data sources, such as restaurant menus and event schedules, into a unified platform poses difficulties in achieving consistency, accessibility, and ease of use.</p></li>
                            <li><p>Developing a reliable system to accurately track user activity and award real-time points for the CLF rewards program is essential to encourage consistent platform engagement.</p></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 order-lg-2 order-md-2 order-sm-1 order-1 mt3">
                        <img src="~/assets/images/casestudy/goolgoal/ProjectChallenge.jpg" alt="project-challenge" class="img-border img-fluid" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ps-lg-4 oursol">
                <div class="row mt-0 mt-md-4 mt-lg-0">
                    <div class="avidclan_section_title">
                        <div class="case-title">
                            <h2 style="border-bottom: 1px solid #ccc;">Our Solution</h2>
                        </div>
                    </div>
                    <div class="col-lg-12 order-lg-1 order-md-1 order-sm-3 order-2 mt3">
                        <ul class="listst">
                            <li><p>Developed 'My Lists' and file-sharing features for concierges to easily save, retrieve, and share essential files and personalized guest recommendation lists.</p></li>
                            <li><p>Facilitated seamless interactions with direct reservations and live updates from hotels and restaurants, ensuring accurate and real-time information for concierges and guests.</p></li>
                            <li><p>Gamified the platform with a points-based rewards system to boost engagement and motivate concierges with monthly rewards for platform activities.</p></li>
                            <li><p>Streamlined communication using Live Feed and Favorites sections, providing quick access to saved files, custom lists, and essential tools for efficient guest service.</p></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 order-lg-2 order-md-2 order-sm-1 order-1 mt3">
                        <img src="~/assets/images/casestudy/goolgoal/OurSolution.jpg" alt="our-solution-clf" class="img-border img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Key Features-->
<section class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="avidclan_section_title text-center mb-50">
                    <div class="case-title">
                        <div class="custom-underline key-feature-margin mb-3">
                            <h2 style="border-bottom: 1px solid #ccc;">Key Features</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1 order-md-1 order-sm-1 order-1  d-flex flex-wrap align-content-center">
                <img src="~/assets/images/casestudy/withoutborder/CLF/KeyFeatures-Image.png" alt="key-feature-clf" class="img-border img-fluid" />
            </div>
            <div class="col-lg-6 order-lg-1 order-md-2 order-sm-2 order-2">
                <div class="row">
                    <div class="row keyftxt txtCenter mt-2">
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/CLF/1_customlist.svg" alt="custom-list" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Custom Lists Creation</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/CLF/2_reservation.svg" alt="reservation" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Direct Reservations Feature</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/CLF/3_livefeed.svg" alt="livefeed" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Live Feed Updates</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/CLF/4_rewards.svg" alt="rewards" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Points-Based Rewards System</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/CLF/5_file_storage.svg" alt="storage" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>File Storage and Sharing</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/CLF/6_personalised.svg" alt="personalised" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Personalized Guest Recommendations</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--User Interface Designs-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-lg-6 mx-auto mb5 mt5">
                <div class="case-title text-center">
                    <div class="custom-underline">
                        <h2 style="width: max-content;">User Interface Designs</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row thumbnail-div">
            <div class="col-md-10 image-thumbnail-carousel">
                <section class="image-display">
                    <div class="screen"></div>
                </section>
                <section class="thumbnail-carousel">
                    <button type="button" class="carousel__btn prev icon-arrow" aria-label="Previous slide">
                        <svg width="16" height="16" fill="currentColor" class="arrow-icon arrow-left-circle" viewBox="0 0 16 16">
                            <img src="~/assets/images/casestudy/Orisuun/Arrow left-circle.svg" alt="left-arrow" />
                        </svg>
                    </button>
                    <ul class="carousel__slider">
                        <li class="carousel__slide">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/assets/images/casestudy/withoutborder/CLF/Slider-1.png" alt="clf-slider-1" class="img-border w-100">
                            </div>
                        </li>
                        <li class="carousel__slide">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/assets/images/casestudy/withoutborder/CLF/Slider-2.png" alt="clf-slider-2" class="img-border w-100">
                            </div>
                        </li>
                        <li class="carousel__slide">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/assets/images/casestudy/withoutborder/CLF/Slider-3.png" alt="clf-slider-3" class="img-border w-100">
                            </div>
                        </li>
                        <li class="carousel__slide">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/assets/images/casestudy/withoutborder/CLF/Slider-4.png" alt="clf-slider-4" class="img-border w-100">
                            </div>
                        </li>
                        <li class="carousel__slide">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/assets/images/casestudy/withoutborder/CLF/Slider-5.png" alt="clf-slider-5" class="img-border w-100">
                            </div>
                        </li>
                    </ul>
                    <button type="button" class="carousel__btn next icon-arrow" aria-label="Next slide">
                        <svg width="16" height="16" fill="currentColor" class="arrow-icon arrow-right-circle" viewBox="0 0 16 16">
                            <img src="~/assets/images/casestudy/Orisuun/Arrow right-circle.svg" alt="right-arrow" />
                        </svg>
                    </button>
                </section>
            </div>
        </div>
    </div>
</section>

<!--Dynamics Statistics-->
<section class="ourmission lightblue-bg mt-5 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center">
                    <div class="case-title">
                        <div class="custom-underline">
                            <h2>Dynamic Statistics</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center dysts">
                    <div class="col-md-2 col-sm-6 stat-card">
                        60%
                        <div class="stat-desc">Guest Satisfaction</div>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-2 col-sm-6 stat-card mmt5">
                        70%
                        <div class="stat-desc">Efficiency Improvement</div>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-2 col-sm-6 stat-card mmt5">
                        35%
                        <div class="stat-desc">Wastage Reduction</div>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-2 col-sm-6 stat-card mmt5">
                        80%
                        <div class="stat-desc">Streamlined Booking Automation</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Business Outcomes-->
<section class="business-outcomes">
    <div class="container-fluid mt-3">
        <div class="row Business_row ">
            <div class="col-lg-6">
                <div class="first-column_content">
                    <h2 class="section-title">Business Outcomes</h2>
                    <hr />
                   <div class="row">
    <div class="col-12 mt-3">
        <p class="section-content">
            The successful implementation of Concierge Live Feed has empowered concierges with a powerful tool for managing guest experiences efficiently. The platform’s unique combination of live data, API integrations, and a rewards-based engagement model has led to increased usage, guest satisfaction, and productivity for concierges. Expanding into new markets has also set the foundation for Concierge Live Feed to become an essential platform in the hospitality industry.
        </p>
    </div>
    <div class="col-12 mt-3">
        <img src="/assets/images/casestudy/goolgoal/businessoutcome.png" class="img-border img-fluid" alt="Business Outcomes">
    </div>
</div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial">
                    <h2 class="section-title">What does the Client Have to say about the project?</h2>
                    <hr />
                    <div class="quote"><img src="~/assets/images/casestudy/goolgoal/quoteupper.png" class="img-fluid" alt="Business Outcomes"></div>
                    <p class="testimonial-content mt-3">
                        CLF is a game-changer for the hospitality industry! It's streamlined our operations and improved guest satisfaction. The real-time updates and easy-to-use interface have been a huge time-saver. We're so grateful to Avidclan for developing such an innovative solution.
                    </p>
                    <div class="row mt-5 mb-3">
                        <div class="col-md-2 col-3">
                            <img src="~/assets/images/casestudy/CLF/Olivia Chen.png" class="img-fluid rounded-circle" alt="Business Outcomes">
                        </div>
                        <div class="col-md-8 col-8">
                            <div class="testimonial-author">
                                <span style="font-weight: 700;font-size: 20px;margin-top: 0.5rem;">
                                    - Olivia Chen
                                </span>
                                <br>
                                <div class="text-muted" style="font-weight: 600;font-size: 14px;">(Head Concierge)</div>
                            </div>
                        </div>
                        <div class="col-md-2 quote">
                            <img src="/assets/images/casestudy/goolgoal/quotelower.png" class="img-fluid" alt="Business Outcomes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Explore our Portfolio-->
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-12  mx-auto mt5 mb-4">
                <div class="case-title text-center" style="border-bottom: 1px solid #ccc; /* width: fit-content; */ ">
                    <h2>Explore our Portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-lg-4">
                <a href="~/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                    <img src="~/assets/images/gallery/elite-portfolio.jpg" alt="elite-portfolio" class="img-border img-fluid" />
                </a>
                <div class="mt-2">
                    <h3>Elite</h3>
                    <p>
                        An admin portal for SMS marketing business used to get the insights of the end-user web
                        application.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <a href="~/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                    <img src="~/assets/images/gallery/grizzlybolt-portfolio.jpg" alt="grizzlybolt-portfolio" class="img-border img-fluid" />
                </a>
                <div class="mt-2">
                    <h3>GrizzlyBolt</h3>
                    <p>
                        Web application based on petroleum industry to forecast oil, gas and water reserviors for the
                        coming years.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <a href="~/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                    <img src="~/assets/images/gallery/SRG-portfolio.jpg" alt="srg-portfolio" class="img-border img-fluid" />
                </a>
                <div class="mt-2">
                    <h3>SRG</h3>
                    <p>
                        Web application that helps diamond manufacturing companies to determine the precision and
                        analyze reports.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")







