
@{
    ViewBag.Title = "IOTWaterHeaterCaseStudyDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalMeta
{
    <title>Smart Water Heater Control: Remote App & Real-Time Monitoring</title>
    <meta name="description" content="Gain complete control of your water heater with our IoT service. Schedule, monitor energy, & receive malfunction alerts via a user-friendly app. Simplify maintenance." />
    <link rel="canonical" href="https://www.avidclan.com/case-studies/iot-water-heater-management/" />

    <link rel="stylesheet" href="~/assets/css/Avidclan/work.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="~/assets/css/swiper-bundle-min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="~/assets/css/Avidclan/responsive_image_slide.css" rel="stylesheet" />
    <script src="~/assets/js/Avidclan/responsive_image_slide.js"></script>
    <link rel="stylesheet" href="~/assets/css/Avidclan/casestudy.css" />
}

<section>
    <div class="container">
        <div class="row mt5 banner-sec-custom mb5">
            <div class="col-md-6 order-lg-1 order-md-1 order-sm-2 order-2">
                <div class="case-title intro-heading">
                    <h1 class="banner-section-two-h1">IoT Smart Water Heater</h1>
                </div>
                <p>
                    Managing water heaters and boilers can be a hassle, which includes frequent maintenance challenges and erratic energy use. Several households suffer from energy wastage and unforeseen malfunctions due to insufficient real-time monitoring of water heater performance, resulting in homeowners being naive to appliance problems until they arise.
                    <br /><br />
                    The IoT-enabled Water Heater Service and Maintenance solution streamlines operations by linking your water heater to your home’s Wi-Fi network via a smart firmware device and the cloud. Homeowners may remotely manage their heater, configure schedules, monitor energy use, and promptly report malfunctions using an intuitive smartphone application. This intelligent solution enhances the efficiency, reliability, and responsiveness of your water heater, providing ease and assurance.
                </p>
                <div class="mt5">
                    <h3>Tools Used</h3>
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <img src="~/assets/images/casestudydetail/tools/XCode.svg" alt="xcode" />
                            <h4 class="mt-2 h4-font">XCode</h4>
                        </div>
                        <div class="col-md-3 col-6">
                            <img src="~/assets/images/casestudydetail/tools/GitLab.svg" alt="gitlab" />
                            <h4 class="mt-2 h4-font">GitLab</h4>
                        </div>
                        <div class="col-md-3 col-6">
                            <img src="~/assets/images/casestudydetail/tools/SourceTree.svg" alt="source-tree" />
                            <h4 class="mt-2 h4-font">SourceTree</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 mtimggg order-lg-2 order-md-2 order-sm-1 order-1">
                <img src="~/assets/images/casestudy/IoT/Banner_IoT_Smart_heater.png" alt="banner-iot-smart-heater" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<!--About Project-->
<section>
    <div class="container">
        <div class="row mt5 aboutpro">
            <div class="col-md-4 p-5">
                @*<img src="~/assets/images/casestudy/IoT/About_image_IoT_Smart_Heater.png" alt="about-img-iot-smart-heater" class="img-fluid" style="width: 270px;height: 552px;">*@
                <img src="~/assets/images/casestudy/IoT/About_image_IoT_Smart_Heater.png" alt="about-img-iot-smart-heater" class="img-fluid" />
            </div>
            <div class="col-md-8 mt5">
                <div class="case-title mt5">
                    <h2 style="border-bottom: 1px solid #ccc; width: fit-content; ">About Project</h2>
                </div>
                <p class="mt5">
                    Designed to address inefficiencies in water heater and boiler management, this <b>SMART HEATER</b> solution integrates IoT technology for seamless control and monitoring, all managed through a mobile app. The system incorporates a firmware device that connects to the appliance via serial protocols like GEA2 and a Wi-Fi adapter that enables connectivity to the cloud through Ayla Cloud, facilitating real-time updates and control.
                    <br /><br />
                    Homeowners can manage temperature settings, schedule operations, track energy usage, and receive fault notifications. The contractor module enables configuration and installation of the devices, ensuring proper setup. This integration of IoT and mobile app technology ensures enhanced efficiency, reduced energy consumption, and complete control for homeowners.
                </p>
                <div class="row justify-content-left mt-3 Sec">
                    <div class="col-md-3 col-6">
                        <h3>Sector :</h3>
                        <p>IoT & Smart Home Technology</p>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center divi">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-3 col-6">
                        <h3>Design Service:</h3>
                        <p>Mobile Application Development & IoT Integration</p>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-3">
                        <h3>Timeline :</h3>
                        <p>2 years+</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Our Technology -->
<section class="process-section hiring-process testimonial-section-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="case-title text-center mb-50">
                    <div class="custom-underline">
                        <h2>Our Technology</h2>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4 col-md-6  stat-card">
                        <div class="d-flex flex-row content-center">
                            <div><img src="~/assets/images/icons/Core_Loaction.svg" alt="core-loaction" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">Frontend</h3>
                                <h3 style="color: #0d47a1; text-align: left;">
                                    Core Location
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 stat-card mmt5">
                        <div class="d-flex flex-row content-center">
                            <div> <img src="~/assets/images/icons/Core_Bluetooth.svg" alt="core-bluetooth" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">Frontend</h3>
                                <h3 style="color: #0d47a1; text-align: left;">
                                    Core Bluetooth
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  stat-card mmt5">
                        <div class="d-flex flex-row content-center">
                            <div> <img src="~/assets/images/icons/Ayla_Cloud_Interaction.svg" alt="ayla-cloud-interaction" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">Cloud</h3>
                                <h3 class="text-left" style="color: #0d47a1;">
                                    Ayla Cloud Interaction
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  stat-card">
                        <div class="d-flex flex-row content-center">
                            <div> <img src="~/assets/images/icons/swift_1.svg" alt="swift_1" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">Frontend/Backend</h3>
                                <h3 style="color: #0d47a1; text-align: left;">
                                    Swift
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  stat-card mmt5">
                        <div class="d-flex flex-row content-center">
                            <div> <img src="~/assets/images/icons/Alamofire.svg" alt="alamofire" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">API</h3>
                                <h3 style="color: #0d47a1; text-align: left;">
                                    Alamofire
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  stat-card mmt5">
                        <div class="d-flex flex-row content-center">
                            <div> <img src="~/assets/images/icons/WKWebKit.svg" alt="wkwebkit" class="img-fluid" /></div>
                            <div class="d-flex flex-column p-1 ms-2">
                                <h3 class="text-left">Frontend</h3>
                                <h3 style="color: #0d47a1; text-align: left;">
                                    WKWebKit
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Clients Requirements-->
<section class="section-clientRequirement">
    <div class="container-fluid mt5 mb-5">
        <div class="row">
            <div class="col-sm-8 col-lg-6 mx-auto mt5">
                <div class="case-title text-center">
                    <div class="custom-underline" style="width: 61%">
                        <h2>Clients Requirements</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5 txtCenter">
            <div class="col-md-4 first-column-content order-lg-1 order-md-1 order-sm-1 order-2 crtxtcls">
                <div class="p-2">
                    <div class="customdiv">1</div>
                    <h3>Seamless IoT Connectivity & Device Control</h3>
                    <p>Ability to connect water heaters/boilers to the cloud for remote monitoring and control.</p>
                </div>
                <div class="p-2">
                    <div class="customdiv">2</div>
                    <h3>Mobile App Accessibility & Multi-Device Support</h3>
                    <p>Real-time control and monitoring of devices through the mobile app on iOS devices.</p>
                </div>
            </div>
            <div class="col-md-2 order-lg-2 order-md-2 order-sm-3 order-1">
                <img src="~/assets/images/casestudy/IoT/ClientReq_image_IoT_Smart_Heater.png" alt="client-req-iot-smart-heater" class="img-fluid" />
            </div>
            <div class="col-md-4 last-column-content order-lg-3 order-md-3 order-sm-2 order-3">
                <div class="p-2">
                    <div class="customdiv">3</div>
                    <h3>Automated Scheduling & Energy Management</h3>
                    <p>Scheduling of heater operations and energy consumption tracking for optimal usage and efficiency.</p>
                </div>
                <div class="p-2">
                    <div class="customdiv">4</div>
                    <h3>Fault Detection, Maintenance & Security</h3>
                    <p>Receive real-time fault alerts for proactive maintenance, with encrypted data and secure communication.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Our Approach-->
<section>
    <div class="container">
        <div class="row mb5 mt5">
            <div class="col-md-6 p-2 oahidimg">
                <img src="~/assets/images/casestudy/goolgoal/OurAppImg.jpg" class="img-border img-fluid" />
            </div>
            <div class="col-md-6 ourapp mt5">
                <div class="avidclan_section_title text-left mb-50">
                    <div class="case-title">
                        <h2 style="border-bottom: 1px solid #ccc;">Our Approach</h2>
                    </div>
                </div>
                <img class="img-border oashwimg img-fluid" src="/assets/images/casestudy/goolgoal/OurAppImg.jpg" />
                <div class="mt5">
                    <ul class="listst">
                        <li><p>We designed a robust architecture integrating the GEA2 protocol, firmware, a Wi-Fi adapter, and Ayla Cloud for seamless connectivity.</p></li>
                        <li><p>The iOS mobile app was developed, enabling users to pair their devices via Bluetooth Low Energy (BLE) for setup.</p></li>
                        <li><p>We connected the app to Ayla Cloud, allowing real-time monitoring, control, and data exchange between the water heaters and the app.</p></li>
                        <li><p>Implemented features to allow users to schedule operations and track energy usage, optimizing water heater efficiency.</p></li>
                        <li><p>Integrated real-time fault detection and notification systems to alert users of issues, enhancing proactive maintenance.</p></li>
                        <li><p>Contractors configured the heaters during installation, while homeowners gained full control over device management via the app.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Project Challenges and Our Solution-->
<section class="ourmission lightblue-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 proch">
                <div class="row">
                    <div class="avidclan_section_title">
                        <div class="case-title">
                            <h2 style="border-bottom: 1px solid #ccc;">Project Challenges</h2>
                        </div>
                    </div>
                    <div class="col order-lg-1 order-md-1 order-sm-3 order-2 mt3">
                        <ul class="listst">
                            <li><p>Water heaters lacked remote access, and firmware integration was complex, hindering communication between devices, Wi-Fi, and the cloud.</p></li>
                            <li><p>Homeowners needed an easy way to control water heaters remotely for energy efficiency and convenience.</p></li>
                            <li><p>Energy usage was unoptimized, with no way to track consumption patterns, leading to unnecessary energy waste and higher costs.</p></li>
                            <li><p>Fault detection was manual, leading to delayed maintenance and extended downtime, affecting both homeowners and contractors.</p></li>
                            <li><p>The installation process was complex for homeowners, with contractors having limited control over initial configuration and cloud connectivity setup.</p></li>
                        </ul>
                    </div>
                    <div class="col order-lg-2 order-md-2 order-sm-1 order-1 mt3">
                        <img src="~/assets/images/casestudy/goolgoal/ProjectChallenge.jpg" class="img-border img-fluid" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 oursol">
                <div class="row">
                    <div class="avidclan_section_title">
                        <div class="case-title">
                            <h2 style="border-bottom: 1px solid #ccc;">Our Solution</h2>
                        </div>
                    </div>
                    <div class="col order-lg-1 order-md-1 order-sm-3 order-2 mt3">
                        <ul class="listst">
                            <li><p>Integrated <b>Wi-Fi adapters</b> and <b>Ayla Cloud</b>, enabling real-time monitoring, remote control, and scheduling of water heaters via the mobile app.</p></li>
                            <li><p>Built a convenient iOS application enabling homeowners to operate, schedule, and monitor their heating systems remotely.</p></li>
                            <li><p>Automated scheduling and energy monitoring were integrated into the application, enabling users to establish timers and effectively monitor energy use.</p></li>
                            <li><p>Enabled real-time fault detection and automated alerts within the mobile app, instantly notifying users of appliance issues for quicker intervention.</p></li>
                            <li><p>Simplified installation with <b>BLE pairing</b>, allowing <b>contractors</b> to configure devices and seamlessly connect them to the cloud for easy setup.</p></li>
                        </ul>
                    </div>
                    <div class="col order-lg-2 order-md-2 order-sm-1 order-1 mt3">
                        <img src="~/assets/images/casestudy/goolgoal/OurSolution.jpg" class="img-border img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Key Features-->
<section class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="avidclan_section_title text-center mb-50">
                    <div class="case-title">
                        <div class="custom-underline key-feature-margin mb-3">
                            <h2 style="border-bottom: 1px solid #ccc;">Key Features</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-lg-1 order-md-1 order-sm-2 order-2">
                <div class="row">
                    <div class="row keyftxt txtCenter">
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/IoT/Remote_Temperature_Control.svg" alt="remote-temperatur-control" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Remote Temperature Control</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/IoT/Energy_Consumption_Tracking.svg" alt="energy-consumption-tracking" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Energy Consumption Tracking</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/IoT/Fault_Detection_Alerts.svg" alt="fault-detection-alerts" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Fault Detection Alerts</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/IoT/Automated_Scheduling_System.svg" alt="automated-scheduling-system" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Automated Scheduling System</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/IoT/Real-Time_Monitoring.svg" alt="Real-Time-Monitoring" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Real-Time Monitoring</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                <img src="~/assets/images/casestudy/IoT/Seamless_Cloud_Integration.svg" alt="seamless-cloud-integration" class="img-fluid" />
                            </div>
                            <div class="p-2">
                                <p>Seamless Cloud Integration</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-lg-1 order-md-1 order-sm-1 order-1">
                <div class="row mt-3">
                    <div class="col-6 p-2"><img src="~/assets/images/casestudy/IoT/KeyFeature-image-1.png" alt="keyfeature-1" class="img-fluid"></div>
                    <div class="col-6 p-2"><img src="~/assets/images/casestudy/IoT/KeyFeature-image-2.png" alt="keyfeature-2" class="img-fluid"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--User Interface Designs-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-lg-6 mx-auto mb5 mt5">
                <div class="case-title text-center">
                    <div class="custom-underline uidsignhed">
                        <h2>User Interface Designs</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mb-3">
            <div class="row">
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/IoT/UserInterface-1.png" alt="user-interface-1" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/IoT/UserInterface-2.png" alt="user-interface-2" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/IoT/UserInterface-3.png" alt="user-interface-3" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/IoT/UserInterface-4.png" alt="user-interface-4" class="img-fluid" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/IoT/ClientReq_image_IoT_Smart_Heater.png" alt="user-interface-5" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/IoT/UserInterface-6.png" alt="user-interface-6" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/IoT/UserInterface-7.png" alt="user-interface-7" class="img-fluid" />
                </div>
                <div class="col-md-3 col-6 p-3">
                    <img src="~/assets/images/casestudy/IoT/UserInterface-8.png" alt="user-interface-8" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!--Dynamics Statistics-->
<section class="ourmission lightblue-bg mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center">
                    <div class="case-title">
                        <div class="custom-underline" style="width:31%;">
                            <h2>Dynamic Statistics</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center dysts">
                    <div class="col-md-2 col-sm-6 stat-card">
                        40%
                        <div class="stat-desc">Reduction in Energy Consumption</div>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-2 col-sm-6 stat-card mmt5">
                        50%
                        <div class="stat-desc">Improvement in Operational Efficiency</div>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-2 col-sm-6 stat-card mmt5">
                        35%
                        <div class="stat-desc">Faster Setup & Configuration</div>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-2 col-sm-6 stat-card mmt5">
                        25%
                        <div class="stat-desc">Increase in Energy Efficiency</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Business Outcomes-->
<section class="business-outcomes">
    <div class="container-fluid mt-5">
        <div class="row BO_row">
            <div class="col-md-6">
                <div class="first-column_content">
                    <h2 class="section-title">Business Outcomes</h2>
                    <hr />
                    <div class="row">
                        <div class="col order-lg-1 order-md-1 order-sm-2 order-2">
                            <p class="section-content mt-3">
                                The IoT-enabled solution improved water heater management by streamlining operations for both homeowners and professionals. The solution diminished maintenance costs and improved energy efficiency via real-time monitoring, automated scheduling, and proactive issue detection.
                                <br /><br />
                                Cloud connectivity and mobile application control enhanced user experience, increasing customer happiness and engagement. The integration of smart technology improved operational efficiency and provided lasting value through energy conservation, expedited maintenance response times, and a more streamlined, user-friendly service for all stakeholders.
                            </p>
                        </div>
                        <div class="col order-lg-1 order-md-1 order-sm-1 order-1">
                            <img src="/assets/images/casestudy/goolgoal/businessoutcome.png" class="img-border img-fluid mt-3" alt="Business Outcomes">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 light-blue-bg">
                <div class="testimonial">
                    <h2 class="section-title">What does the Client Have to say about the project?</h2>
                    <hr />
                    <div class="quote"><img src="~/assets/images/casestudy/goolgoal/quoteupper.png" class="img-fluid" alt="Business Outcomes"></div>
                    <p class="testimonial-content mt-3">
                        Our smart water heater offers practical benefits through remote management, energy monitoring, and timely malfunction alerts. The seamless integration and user-friendly interface have exceeded our expectations. We are grateful for Avidclan Technologies' support and highly recommend them for their effective IoT solutions.
                    </p>
                    <div class="row mt-5 mb-3">
                        <div class="col-md-2 col-3">
                            <img src="~/assets/images/casestudy/Amanda_White.png" class="img-fluid rounded-circle" alt="amanda-white">
                        </div>
                        <div class="col-md-8 col-8">
                            <div class="testimonial-author">
                                <span style="font-weight: 700;font-size: 20px;margin-top: 0.5rem;">
                                    - Amanda White
                                </span>
                                <br>
                                <div class="text-muted" style="font-weight: 600;font-size: 14px;">( Director of Technology )</div>
                            </div>
                        </div>
                        <div class="col-md-2 quote">
                            <img src="/assets/images/casestudy/goolgoal/quotelower.png" class="img-fluid" alt="Business Outcomes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Explore our Portfolio-->
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-12  mx-auto mt5 mb-4">
                <div class="case-title text-center" style="border-bottom: 1px solid #ccc;">
                    <h2>Explore our Portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-lg-4">
                <a href="~/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                    <img src="~/assets/images/gallery/SRG-portfolio.jpg" alt="SRG-portfolio" class="img-border img-fluid" />
                </a>
                <div class="mt-2">
                    <h3>E-Shala</h3>
                    <p>
                        School management app used by teachers and students to manage attendance, assignments and more
                        activities.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <a href="~/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                    <img src="~/assets/images/gallery/prizai-portfolio.jpg" alt="prizai-portfolio" class="img-border img-fluid" />
                </a>
                <div class="mt-2">
                    <h3>Prizai</h3>
                    <p>
                        App used by customers wanting to get salon services online by getting benefit of various
                        referral programs.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <a href="~/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                    <img src="~/assets/images/gallery/improve-portfolio.jpg" alt="improve-portfolio" class="img-border img-fluid" />
                </a>
                <div class="mt-2">
                    <h3>Improve</h3>
                    <p>
                        App focused on health and fitness factors, which engages its user to get fit by providing
                        knowledge on diet, exercise.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")