
@{
    Layout = "~/Views/Shared/_LeaveTemplate.cshtml";
}

<div class="form-center">
    <form name="ChangePasswordForm">
        <div class="form-group">
            <label for="Currentpassword">Current Password</label>
            <input type="password" class="form-control" name="txtCurrentPassword" id="Currentpassword" placeholder="Current Password" onfocusout="CheckExistingpassword()">
        </div>
        <div class="form-group">
            <label for="Newpassword">New Password</label>
            <input type="password" class="form-control" name="txtNewPassword" id="Newpassword" placeholder="New Password">
        </div>
        <div class="form-group">
            <label for="Confirmnewpassword">Confirm New Password</label>
            <input type="password" class="form-control" name="txtConfirmNewPassword" id="Confirmnewpassword" placeholder="Confirm New Password">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>


<script type="text/javascript">
    $(function () {
        validator = $("form[name='ChangePasswordForm']").validate({
            rules: {
                txtCurrentPassword: { required: true, },
                txtNewPassword: {
                    required: true,
                    minlength: 6
                },
                txtConfirmNewPassword: {
                    required: true,
                    equalTo: "#Newpassword"
                },
            },
            messages: {
                txtCurrentPassword: { required: "Please enter a current password", },
                txtNewPassword: {
                    required: "Please enter a new password",
                    minlength : "Password must have 6 characters"
                },
                txtConfirmNewPassword: {
                    required: "Please enter a confirm password",
                    equalTo: "Password is not same"
                },
            },
            submitHandler: function (form) {
               UpdatePassword()
            }
        });
    })

    function CheckExistingpassword() {
        var oldPassword = $("#Currentpassword").val();
        if (oldPassword == "" || oldPassword == null) {
            return
        }
         $.ajax({
            type: "GET",
            url: "@Url.Action("CheckOldPassword", "Leave")",
            contentType: 'application/json',
            success: function (result) {
                if (result != "") {
                    if (oldPassword == result) {
                        return
                    }
                    else {
                        alert("Password does not match with the current password")
                        $("#Currentpassword").val('');
                    }
                }
            },
            error: function (result) {
                    alert("Failure");
            }
        });
    }

    function UpdatePassword() {
        var NewPassword = $("#Newpassword").val();
         $.ajax({
            type: "GET",
            url: "@Url.Action("UpdatePassword", "Leave")",
             contentType: 'application/json',
             data: {Password : NewPassword},
            success: function (result) {

                    alert("password is changed successfully")
                    $("#Newpassword").val('');
                    $("#Confirmnewpassword").val('');
                    $("#Currentpassword").val('');

            },
            error: function (result) {
                    alert("Failure");
            }
        });
    }
</script>
