
@{
    ViewBag.Title = "CompOff";
    Layout = "~/Views/Shared/_LeaveTemplate.cshtml";
}

<div>
    <form name="CommpOffRequestForm">
        <div class="form-group">
            <label for="noofDays" class="required">Number of Days : </label>
            <input type="text" class="form-control" step="0.5" min="0.5" name="noofDays" id="NoOfDays" placeholder="Enter Number of Days" style="width:20%">
        </div>

        <div class="form-group">
            <label for="reason" class="required">Reason for Compensation Leave : </label>
            <textarea type="text" class="form-control cls-customtextarea " name="reason" id="Reason" placeholder="Enter Reason"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-sm">Send Request</button>
    </form>

</div>

<script type="text/javascript">

    $("#NoOfDays").on("input", function () {
        let value = this.value;

        // Allow digits and only one decimal point
        value = value.replace(/[^0-9.]/g, '');

        // Prevent more than one decimal
        if ((value.match(/\./g) || []).length > 1) {
            value = value.substring(0, value.length - 1);
        }

        this.value = value;
    });
    $.validator.addMethod("halfDay", function (value, element) {
        if (value === "") return false;

        let num = parseFloat(value);
        return !isNaN(num) && num > 0 && (num * 2) % 1 === 0;
    }, "Please enter valid days like 0.5, 1, 1.5, 2, 2.5");

    $(function () {
        validator = $("form[name='CommpOffRequestForm']").validate({
            rules: {
                noofDays: { required: true, halfDay: true },
                reason: { required: true, },
            },
            messages: {
                noofDays: { required: "Please enter a number of days", },
                reason: { required: "Please enter reason with specific day and time", },
            },
            submitHandler: function (form) {
                SendCompOffRequest()
            }
        });

        //$("#NoOfDays").on("input", function () {
        //    this.value = this.value.replace(/[^0-9]/g, ''); // Allow only numbers
        //});

    });

    function SendCompOffRequest() {
        showSpinner();
        var Numberofdays = $("#NoOfDays").val();
        var Reasonforrequest = $("#Reason").val();

        var data = {
            NumberOfDays: Numberofdays,
            Reason : Reasonforrequest
        }
        $.ajax({
            type: "POST",
            url: "/api/Admin/SendCompOffRequest",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            success: function (result) {
                alert(result);
                $("#NoOfDays").val("");
                $("#Reason").val("");
                hideSpinner();
            },
            error: function (result) {
                alert(result);
            },
        })
    }


</script>
