@{
    Layout = "~/Views/Shared/_LeaveTemplate.cshtml";
}
<style>
    .chosen-container {
        width: 100% !important;
    }
</style>
<div id='calendar'></div>

@*MODAL START FOR APPLY LEAVE*@
<div class="modal" id="ApplyLeaveModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apply Leave</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="LeaveId" value="0">
                <div class="form-group">
                    <label for="txtFromDate">From Date</label>
                    <input type="text" class="form-control" name="txtFromDate" id="txtFromDate" placeholder="From Date" onchange="SetMinDate()">
                </div>
                <div class="form-group">
                    <label for="txtToDate">To Date</label>
                    <input type="text" class="form-control" name="txtToDate" id="txtToDate" placeholder="To Date" onchange="DateChange()">
                </div>
                <div class="form-group">
                    <label for="txtReason">Reason For Leave</label>
                    <textarea type="text" class="form-control" name="txtReason" id="txtReason" placeholder="Reason For Leave" style="min-height: 5.875rem;" oninput="CheckReason()"></textarea>
                </div>
                <div class="form-group">
                    <label>Select Reporting Person</label>
                    <select data-placeholder="Select Reporting Person..." id="ReportingPersonId" multiple class="chosen-select" name="test" style="width:100%">
                        <option value=""></option>
                        <option value='abhi.avidclan@gmail.com'>abhi.avidclan@gmail.com</option>
                        <option value='dhaval.avidclan@gmail.com'>dhaval.avidclan@gmail.com</option>
                        <option value='ashvin0999@gmail.com'>ashvin0999@gmail.com</option>
                        <option value='rajvi.avidclan@gmail.com'>rajvi.avidclan@gmail.com</option>
                    </select>
                </div>
                <div id="TotalLeaveDates">
                    <table class="table" id="LeaveDateTable">
                        <thead>
                            <tr>
                                <th style="width:20%">Date</th>
                                <th style="width:5%">WFH?</th>
                                <th style="width:5%">Half Day?</th>
                                <th style="width:60%"></th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody class="LeaveDatebody">
                        </tbody>
                    </table>
                </div>
                @*<div class="form-group">
                        <input type="checkbox" id="WorkFromHome" name="workfromHome"> &nbsp;
                        <label for="WorkFromHome">Work From Home?</label>
                    </div>*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="ResetModel()">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick=" SendLeaveRequest()">Submit Request</button>
                </div>
            </div>

        </div>
    </div>
</div>
@*MODAL END FOR APPLY LEAVE*@

<script type="text/javascript">
    $(function () {
        $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!"
        })
        SelectCalenderDate();
        $("#txtFromDate").datepicker();
        $("#txtToDate").datepicker();
        $("#TotalLeaveDates").hide();
        GetLeaveDates();
    });

    var calendar;
    function SelectCalenderDate() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialDate: new Date(),
            selectable: true,
            dateClick: function (info) {
                var responseDate = moment(info.dateStr).format('MM/DD/YYYY');
                //var getDateday = new Date(responseDate)
                //if (getDateday.getDay() === 6 || getDateday.getDay() === 0) {
                //    return
                //}
                //$("#ApplyLeaveModel").show();
                //$("#txtFromDate").val(responseDate);
                //$("#txtToDate").val(responseDate);
                //SetMinDate();

                 var Eventlist = calendar.getEvents();
                if (Eventlist.length > 0) {
                    var existingEvent = false;
                    for (var i = 0; i < Eventlist.length; i++) {
                        if (moment(Eventlist[i]._instance.range.start).format('MM/DD/YYYY')
                            ==  responseDate) {
                            existingEvent = true;
                        }
                    }
                }
                if (existingEvent){
                    return
                }
                else {
                    var getDateday = new Date(responseDate)
                    if (getDateday.getDay() === 6 || getDateday.getDay() === 0) {
                        return
                    }
                    $("#ApplyLeaveModel").show();
                    $("#txtFromDate").val(responseDate);
                    $("#txtToDate").val(responseDate);
                    SetMinDate();
                }
            },
            events: [],
            //eventClick: function (info) {
            //    var StartTime = moment(info.event.start).format('MM/DD/YYYY');
            //    EditLeaves(info.event.id,StartTime);
            //}
        });

        calendar.render();
    }

    function SetMinDate() {
        var start = $("#txtFromDate").datepicker('getDate');
        $("#txtToDate").datepicker("option", "minDate", start);
        DateChange();
    }

    function DateChange() {
        var start = $("#txtFromDate").datepicker('getDate');
        var end = $("#txtToDate").datepicker('getDate');
        var arr = new Array();
        var dt = new Date(start);
        while (dt <= end) {
            var WeekDay = dt.getDay();
            if (WeekDay != 6 && WeekDay != 0) {
                //arr.push(new Date(dt));
                var LeaveDetails = {
                    LeaveDates: new Date(dt),
                }
                arr.push(LeaveDetails);
            }
            dt.setDate(dt.getDate() + 1);
        }

        BindLeaveTable(arr);
    }

    function BindLeaveTable(arr) {
        $("#TotalLeaveDates").show();
        $("#LeaveDateTable .LeaveDatebody").html("");
        var count = 1
          for (var i = 0; i < arr.length; i++) {
            var addcontrols = "<tr id=" +count + ">" + count + ">"
              //addcontrols += "<td>" + moment(arr[i].LeaveDates).format('MM/DD/YYYY') + "</td>" +
              //      "<td>" + '<input type="checkbox" id="WorkFromcheck_' + count + '" name="WorkFromHomecheck">' + "</td>" +
              //      "<td>" + '<input type="checkbox" id="HalfDaycheck_' + count + '" name="HalfDaycheck" onchange="HalfDaycheckboxchecked('+ count +')">' + "</td>" +
              //      "<td>" + '<div class="HalfDaydiv_' + count + '">' +
              //                  '<input type="radio" id="FirstHalf" name="HalfDayLeave_' + count + '" value="FirstHalf" onchange="checkRadioButton(' + count + ')"> <label for="firsthalf">First Half</label>&nbsp;&nbsp;' +
              //                  '<input type="radio" id="SecondHalf" name="HalfDayLeave_' + count + '" value="SecondHalf" onchange="checkRadioButton(' + count + ')"> <label for= "secondhalf" > Second Half</label>' +
              //              '</div>' +
              //              '<label class="error" id="error_' + count + '" for="errormessage" style="display: none;color: red;padding-top: 5px;">Please select one of the options</label>' + "</td>" +
              //    "<td>" + '<input type="checkbox" id="LeaveWorkFromcheck_' + count + '" name="LeaveWorkFromcheck">&nbsp;&nbsp;<label for= "LeaveWorkFromcheck">HalfDay Leave & WFH?</label>' +"</td>"
              //"</tr>";

              addcontrols += "<td>" + moment(arr[i].LeaveDates).format('MM/DD/YYYY') + "</td>" +
                  "<td>" + '<input type="checkbox" id="WorkFromcheck_' + count + '" name="WorkFromHomecheck" onchange="WorkFromHomecheckboxchecked(' + count + ')">' + "</td>" +
                  "<td>" + '<input type="checkbox" id="HalfDaycheck_' + count + '" name="HalfDaycheck" onchange="HalfDaycheckboxchecked(' + count + ')">' + "</td>" +
                  "<td>" + '<div class="HalfDaydiv_' + count + '">' +
                  '<input type="radio" id="FirstHalf" name="HalfDayLeave_' + count + '" value="FirstHalf" onchange="checkRadioButton(' + count + ')"> <label for="firsthalf">First Half</label>&nbsp;&nbsp;' +
                  '<input type="radio" id="SecondHalf" name="HalfDayLeave_' + count + '" value="SecondHalf" onchange="checkRadioButton(' + count + ')"> <label for= "secondhalf" > Second Half</label>' +
                  '</div>' +
                  '<label class="error" id="error_' + count + '" for="errormessage" style="display: none;color: red;padding-top: 5px;">Please select one of the options</label>' + "</td>" +
                  "<td>" +
                  '<div class="WorkAndLeave_' + count + '" style="display:none";>' +
                  '<input type="checkbox" id="LeaveWorkFromcheck_' + count + '" name="LeaveWorkFromcheck">&nbsp;&nbsp;<label for= "LeaveWorkFromcheck">HalfDay Leave & WFH?</label>' +
                  "</div></td>" +

                  "</tr >";


              $("#LeaveDateTable .LeaveDatebody").append(addcontrols);
              if (arr[i].Halfday != null && arr[i].Halfday != "") {
                  $(".HalfDaydiv_" + count).show();
                  $("#HalfDaycheck_"+ count).prop("checked", true);
                  $("input[name=HalfDayLeave_" + count + "][value=" + arr[i].Halfday +"]").prop("checked", true);

              }
              else {
                  $(".HalfDaydiv_" + count).hide();
              }
            count++;
        }
    }

    function HalfDaycheckboxchecked(id) {
        var checked = $("#HalfDaycheck_" + id).is(':checked');
        if (checked) {
            $(".HalfDaydiv_" + id).show();
        }
        else {
            $(".HalfDaydiv_" + id).hide();
            $(".WorkAndLeave_" + id).hide();
            $("#error_" + id).css("display", "none");
            $("input[name=HalfDayLeave_" + id + "]").prop("checked", false);
        }

    }

    function WorkFromHomecheckboxchecked(id) {
        var checked = $("#WorkFromcheck_" + id).is(':checked');
        if (checked) {
            var halfdaycheckbox = $(".HalfDaydiv_" + id).is(":visible");
            if (halfdaycheckbox) {
                $(".WorkAndLeave_" + id).show();
            }
        }
        else {
            $(".WorkAndLeave_" + id).hide();
            $("#LeaveWorkFromcheck_" + id).prop("checked", false);
        }
    }

    function SendLeaveRequest() {
        var Reason = $("#txtReason").val();
        if (Reason.length == 0) {
            if ($('#Reason-error').is(':visible')) {
                return
            }
            else {
                $("<label id='Reason-error' class='error' style=' color: #ff0000;font-weight: normal!important;' for='reason'>Please enter reasons for leave</label>").insertAfter("#txtReason");
                return
            }
        }

        var LeaveDetails = new Array();
        var exit = false;
        $("#LeaveDateTable tbody tr").each(function () {
            var row = $(this);
            var Leave = {};

            Leave.LeaveDate = row.find("td:eq(0)").text();
            Leave.WorkFromHome = row.find("td:eq(1) input:checkbox").is(':checked');
            var checked = row.find("td:eq(2) input:checkbox").is(':checked');
            if (checked) {
               // Leave.Halfday = row.find("td:eq(2) input[type='radio']:checked").val();
                var Radiochecked = row.find("td:eq(3) input[type='radio']:checked").is(':checked');
                if (Radiochecked) {
                    Leave.Halfday = row.find("td:eq(3) input[type='radio']:checked").val();
                    var workhomechecked = row.find("td:eq(4) input:checkbox").is(':checked');
                    if (workhomechecked) {
                        Leave.WorkAndHalfLeave = workhomechecked
                    }
                }
                else {
                    var radiounchecked = row.find("td:eq(3) .error").css("display","block");
                    exit = true;
                    return
                }
            }
            LeaveDetails.push(Leave);
        })
        if (exit) {
            return;
        }
        var Leavedata = {
            Id: $("#LeaveId").val(),
            Fromdate: $("#txtFromDate").val(),
            Todate: $("#txtToDate").val(),
            Leaves: LeaveDetails,
            ReportingPerson: $("#ReportingPersonId").val(),
            ReasonForLeave: $("#txtReason").val(),
            WorkFromHome: $("#WorkFromHome").prop('checked')
        }

        $.ajax({
            type: "POST",
            url: "/api/Admin/RequestForLeave",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Leavedata),
            success: function (result) {
                /*alert("Request Sent..");*/
                alert(result)
                ResetModel();
            },
            error: function (result) {
                alert("failure");
            },
        })
    }

    function ResetModel() {
        console.clear();
        $("#ApplyLeaveModel").hide();
        $("#LeaveId").val(0)
        $("#txtFromDate").val("");
        $("#txtToDate").val("");
        $("#LeaveDateTable .LeaveDatebody").html("");
        $("#TotalLeaveDates").hide();
        $("#ReportingPersonId").val('');
        $('#ReportingPersonId').trigger("chosen:updated");
        $("#txtReason").val('');
        $("#Reason-error").css("display", "none");
        GetLeaveDates();
    }

    function GetLeaveDates() {
        $.ajax({
            url: "@Url.Action("LeaveDates", "Leave")",
            contentType: 'application/json',
            type: "GET",
            success: function (data) {
                calendar.removeAllEvents();
                $.each(data.leavelist, function (key, val) {
                    var fromdate = moment(val.LeaveDate).format('YYYY-MM-DD');
                    if (val.Halfday != null && val.Halfday != "") {
                        if (val.Halfday == "FirstHalf") {
                            calendar.addEvent({
                                id: val.Id,
                                title: val.Halfday,
                                start: fromdate,
                                className: "firsthalf",
                            }), true;
                        }
                        else {
                            calendar.addEvent({
                                id: val.Id,
                                title: val.Halfday,
                                start: fromdate,
                                className: "secondhalf",
                            }), true;
                        }
                    }
                    else {
                        calendar.addEvent({
                            id: val.Id,
                            title: 'Leave',
                            start: fromdate,
                            allDay: true
                        });
                    }

                });

                $.each(data.wfhdetaillist, function (key, val) {
                    var fromdate = moment(val.LeaveDate).format('YYYY-MM-DD');
                    if (val.HalfDay != null && val.HalfDay!="") {
                        if (val.HalfDay == "FirstHalf") {
                            calendar.addEvent({
                                id: val.Id,
                                title: "WFH " + val.HalfDay,
                                start: fromdate,
                                className: "Wfhfirsthalf",
                            }), true;
                        }
                        else {
                            calendar.addEvent({
                                id: val.Id,
                                title: "WFH " + val.HalfDay,
                                start: fromdate,
                                className: "Wfhsecondhalf",
                            }), true;
                        }
                    }
                    else {
                        calendar.addEvent({
                            id: val.Id,
                            title: 'Work From Home',
                            start: fromdate,
                            className: "Wfh",
                            allDay: true
                        });
                    }

                });
            },
            error: function () {
                alert('failure');
            }
        });
    }

    function EditLeaves(id,date) {
        var TodayDate = new Date();
       TodayDate = moment(TodayDate).format('MM/DD/YYYY');
        if (date >= TodayDate) {
            $.ajax({
                url: "@Url.Action("GetLeaveDetails", "Leave")",
                type: "GET",
                data: {
                    Id: id,
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#ApplyLeaveModel").show();
                    var fromdate = moment(data[0].Fromdate).format('MM/DD/YYYY');
                    var todate = moment(data[0].Todate).format('MM/DD/YYYY');
                    $("#txtFromDate").val(fromdate);
                    $("#txtToDate").val(todate);
                    $("#LeaveId").val(data[0].Id)
                    var arr = new Array();
                    $.each(data, function (key, val) {
                        var LeaveDetails = {
                            LeaveDates: val.LeaveDates,
                            Halfday: val.Halfday
                        }

                        arr.push(LeaveDetails);
                    })
                    BindLeaveTable(arr);
                }
            });
        }
    }

    function checkRadioButton(id) {
        var checked = $("input[type=radio][name=HalfDayLeave_"+ id +"]");
        if (checked) {
            $("#error_" + id).css("display", "none");
        }

        var wfhcheckboxccheck = $('#WorkFromcheck_' + id).is(":checked")
        if (wfhcheckboxccheck) {
            $(".WorkAndLeave_" + id).css("display", "block")
        }

    }

    function CheckReason() {
        var reason = $("#txtReason").val();
        if (reason.length != 0) {
            $("#Reason-error").css("display", "none")
        }
        else {
            $("#Reason-error").css("display", "block")

        }
    }
</script>