@{
    Layout = "~/Views/Shared/_LeaveTemplate.cshtml";
}
<style>
    .chosen-container {
        width: 100% !important;
    }
</style>
<div id='calendar'></div>

@*MODAL START FOR APPLY LEAVE*@
<div class="modal" id="ApplyLeaveModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apply Leave</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="LeaveId" value="0">
                <div class="form-group">
                    <label for="txtFromDate" class="required">From Date</label>
                    <input type="text" class="form-control" name="txtFromDate" id="txtFromDate" placeholder="From Date" onchange="SetMinDate()">
                </div>
                <div class="form-group">
                    <label for="txtToDate" class="required">To Date</label>
                    <input type="text" class="form-control" name="txtToDate" id="txtToDate" placeholder="To Date" onchange="DateChange()">
                </div>
                <div class="form-group">
                    <label for="txtReason" class="required">Reason For Leave</label>
                    <textarea type="text" class="form-control" name="txtReason" id="txtReason" placeholder="Reason For Leave" style="min-height: 5.875rem;" oninput="CheckReason()"></textarea>
                </div>
                <div class="form-group">
                    <label>Select Reporting Person</label>
                    <select data-placeholder="Select Reporting Person..." id="ReportingPersonId" multiple class="chosen-select cls-reportingdrp" name="test" style="width:100%">
                    </select>
                </div>
                <div id="TotalLeaveDates">
                    <table class="table" id="LeaveDateTable">
                        <thead style="border: 1px solid #e8e8e8;">
                            <tr>
                                <th style="width:20%">Date</th>
                                <th style="width:10%">WFH?</th>
                                <th style="width:35%">Half Day?</th>
                                <th style="width:60%"></th>
                            </tr>
                        </thead>
                        <tbody class="LeaveDatebody">
                        </tbody>
                    </table>
                </div>
                @*<div class="form-group">
                        <input type="checkbox" id="WorkFromHome" name="workfromHome"> &nbsp;
                        <label for="WorkFromHome">Work From Home?</label>
                    </div>*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="ResetModel()">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick=" SendLeaveRequest()">Submit Request</button>
                </div>
            </div>

        </div>
    </div>
</div>
@*MODAL END FOR APPLY LEAVE*@

<script type="text/javascript">
    $(function () {
        $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!"
        })
        SelectCalenderDate();
        $("#txtFromDate").datepicker();
        $("#txtToDate").datepicker();
        $("#TotalLeaveDates").hide();
        GetLeaveDates();
        GetReportingPerson();
    });

    var calendar;
    function SelectCalenderDate() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialDate: new Date(),
            selectable: true,
            dateClick: function (info) {
                var responseDate = moment(info.dateStr).format('MM/DD/YYYY');
                //var getDateday = new Date(responseDate)
                //if (getDateday.getDay() === 6 || getDateday.getDay() === 0) {
                //    return
                //}
                //$("#ApplyLeaveModel").show();
                //$("#txtFromDate").val(responseDate);
                //$("#txtToDate").val(responseDate);
                //SetMinDate();

                 var Eventlist = calendar.getEvents();
                if (Eventlist.length > 0) {
                    var existingEvent = false;
                    for (var i = 0; i < Eventlist.length; i++) {
                        if (moment(Eventlist[i]._instance.range.start).format('MM/DD/YYYY')
                            ==  responseDate) {
                            existingEvent = true;
                        }
                    }
                }
                if (existingEvent){
                    return
                }
                else {
                    var getDateday = new Date(responseDate)
                    if (getDateday.getDay() === 6 || getDateday.getDay() === 0) {
                        return
                    }
                    $("#ApplyLeaveModel").show();
                    $("#txtFromDate").val(responseDate);
                    $("#txtToDate").val(responseDate);
                    SetMinDate();
                }
            },
            events: [],
            //eventClick: function (info) {
            //    var StartTime = moment(info.event.start).format('MM/DD/YYYY');
            //    EditLeaves(info.event.id,StartTime);
            //}
        });

        calendar.render();
    }

    function SetMinDate() {
        var start = $("#txtFromDate").datepicker('getDate');
        $("#txtToDate").datepicker("option", "minDate", start);
        DateChange();
    }

    function DateChange() {
        var start = $("#txtFromDate").datepicker('getDate');
        var end = $("#txtToDate").datepicker('getDate');
        var arr = new Array();
        var dt = new Date(start);
        while (dt <= end) {
            var WeekDay = dt.getDay();
            if (WeekDay != 6 && WeekDay != 0) {
                //arr.push(new Date(dt));
                var LeaveDetails = {
                    LeaveDates: new Date(dt),
                }
                arr.push(LeaveDetails);
            }
            dt.setDate(dt.getDate() + 1);
        }

        BindLeaveTable(arr);
    }

    function BindLeaveTable(arr) {
        $("#TotalLeaveDates").show();
        $("#LeaveDateTable .LeaveDatebody").html("");
        var count = 1
          for (var i = 0; i < arr.length; i++) {
            var addcontrols = "<tr id=" +count + ">" + count + ">"
              addcontrols += "<td>" + moment(arr[i].LeaveDates).format('MM/DD/YYYY') + "</td>" +
                  "<td>" + '<input type="checkbox" id="WorkFromcheck_' + count + '" name="WorkFromHomecheck" onchange="WorkFromHomecheckboxchecked(' + count + ')">' + "</td>" +
                  "<td>" + '<div class="HalfDaydiv_' + count + '">' +
                  '<input type="radio" id="FirstHalf_' + count + '" name="HalfDayLeave_' + count + '" value="FirstHalf" onclick="checkRadioButton(FirstHalf_' + count + ')" data-checked="false"> <label for="firsthalf">First Half</label>&nbsp;&nbsp;' +
                  '<input type="radio" id="SecondHalf_' + count + '" name="HalfDayLeave_' + count + '" value="SecondHalf" onclick="checkRadioButton(SecondHalf_' + count + ')" data-checked="false"> <label for= "secondhalf" > Second Half</label>' +
                  '</div>' +
                  "<td>" +
                  '<label id="WFHHalfLeave_' + count + '" style="float:left;"></label>&nbsp;' +
                  '<div class="WorkAndLeave_' + count + '" style="display:none;float:right;">' +
                    ':&nbsp; <input type="radio" id="WFHHalfLeave" name="WFHHalfDay_' + count + '" value="HalfDayLeave" onchange="CheckWfhRadioButton(' + count + ')"> <label for="HalfDay">Leave</label>&nbsp;&nbsp;' +
                    '<input type="radio" id="WorkFromOffice" name="WFHHalfDay_' + count + '" value="HalfDayWFO" onchange="CheckWfhRadioButton(' + count + ')"> <label for= "WFO" > WFO</label>' +
                    '</div>' +
                    '<label class="error" id="error_' + count + '" for="errormessage" style="display: none;color: red;padding-top: 5px;">Please select one of the options</label>' +
                  "</td>"

                  "</tr >";


              $("#LeaveDateTable .LeaveDatebody").append(addcontrols);
              //if (arr[i].Halfday != null && arr[i].Halfday != "") {
              //    $(".HalfDaydiv_" + count).show();
              //    $("#HalfDaycheck_"+ count).prop("checked", true);
              //    $("input[name=HalfDayLeave_" + count + "][value=" + arr[i].Halfday +"]").prop("checked", true);

              //}
              //else {
              //    $(".HalfDaydiv_" + count).hide();
              //}
            count++;
        }
    }

    function WorkFromHomecheckboxchecked(id) {
        var checked = $("#WorkFromcheck_" + id).is(':checked');
        if (checked) {
            var halfdaycheckbox = $('input[type=radio][name=HalfDayLeave_'+ id +']').is(':checked')
            if (halfdaycheckbox) {
                var checkcheckboValue = $('input[name="HalfDayLeave_' + id +'"]:checked').val();
                if (checkcheckboValue != null) {
                    if (checkcheckboValue == "SecondHalf") {
                        $("#WFHHalfLeave_" + id).text("First Half")
                    }
                    else {
                        $("#WFHHalfLeave_" + id).text("Second Half")
                    }
                }
                $(".WorkAndLeave_" + id).show();
            }
        }
        else {
            $('input[type=radio][name=WFHHalfDay_' + id).prop("checked", false);
            $(".WorkAndLeave_" + id).hide();
            $("#WFHHalfLeave_" + id).text("")
        }
    }

    function SendLeaveRequest() {
        var Reason = $("#txtReason").val();
        if (Reason.length == 0) {
            if ($('#Reason-error').is(':visible')) {
                return
            }
            else {
                $("<label id='Reason-error' class='error' style=' color: #ff0000;font-weight: normal!important;' for='reason'>Please enter reasons for leave</label>").insertAfter("#txtReason");
                return
            }
        }
        var LeaveDetails = new Array();
        var exit = false;
        $("#LeaveDateTable tbody tr").each(function () {
            var row = $(this);
            var Leave = {};

            Leave.LeaveDate = row.find("td:eq(0)").text();
            var WfhCheck = row.find("td:eq(1) input:checkbox").is(':checked');
            if (WfhCheck) {
                Leave.WorkFromHome = WfhCheck;
                var halfdaycheckbox = row.find("td:eq(2) input[type='radio']:checked").is(':checked');
                if (halfdaycheckbox) {
                    var HalfdayCriteria = row.find("td:eq(3) input[type='radio']:checked").is(':checked');
                    if (HalfdayCriteria) {
                        var WFHHalfDayReason = row.find("td:eq(3) input[type='radio']:checked").val();
                        if (WFHHalfDayReason.includes("WFO") == true) {
                            Leave.WorkAndHalfLeave = false
                        }
                        else {
                            Leave.WorkAndHalfLeave = true
                        }
                    }
                    else {
                        exit = true
                        row.find("td:eq(3) .error").css("display", "block");
                    }
                }
            }
            Leave.Halfday = row.find("td:eq(2) input[type='radio']:checked").val();
            LeaveDetails.push(Leave);
        })
        if (exit) {
            return;
        }
        var Leavedata = {
            Id: $("#LeaveId").val(),
            Fromdate: $("#txtFromDate").val(),
            Todate: $("#txtToDate").val(),
            Leaves: LeaveDetails,
            ReportingPerson: $("#ReportingPersonId").val(),
            ReasonForLeave: $("#txtReason").val(),
            WorkFromHome: $("#WorkFromHome").prop('checked')
        }

        $.ajax({
            type: "POST",
            url: "/api/Admin/RequestForLeave",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Leavedata),
            success: function (result) {
                /*alert("Request Sent..");*/
                alert(result)
                ResetModel();
            },
            error: function (result) {
                alert(result.responseText);
            },
        })
    }

    function ResetModel() {
        console.clear();
        $("#ApplyLeaveModel").hide();
        $("#LeaveId").val(0)
        $("#txtFromDate").val("");
        $("#txtToDate").val("");
        $("#LeaveDateTable .LeaveDatebody").html("");
        $("#TotalLeaveDates").hide();
        $("#ReportingPersonId").val("");
        $('#ReportingPersonId').trigger("chosen:updated");
        $("#txtReason").val('');
        $("#Reason-error").css("display", "none");
        GetLeaveDates();
    }

    function GetLeaveDates() {
        $.ajax({
            url: "@Url.Action("LeaveDates", "Leave")",
            contentType: 'application/json',
            type: "GET",
            success: function (data) {
                calendar.removeAllEvents();
                $.each(data.leavelist, function (key, val) {
                    var fromdate = moment(val.LeaveDate).format('YYYY-MM-DD');
                    if (val.Halfday != null && val.Halfday != "") {
                        if (val.Halfday == "FirstHalf") {
                            calendar.addEvent({
                                id: val.Id,
                                title: val.Halfday,
                                start: fromdate,
                                className: "firsthalf",
                            }), true;
                        }
                        else {
                            calendar.addEvent({
                                id: val.Id,
                                title: val.Halfday,
                                start: fromdate,
                                className: "secondhalf",
                            }), true;
                        }
                    }
                    else {
                        calendar.addEvent({
                            id: val.Id,
                            title: 'Leave',
                            start: fromdate,
                            allDay: true
                        });
                    }

                });

                $.each(data.wfhdetaillist, function (key, val) {
                    var fromdate = moment(val.LeaveDate).format('YYYY-MM-DD');
                    if (val.HalfDay != null && val.HalfDay!="") {
                        if (val.HalfDay == "FirstHalf") {
                            calendar.addEvent({
                                id: val.Id,
                                title: "WFH " + val.HalfDay,
                                start: fromdate,
                                className: "Wfhfirsthalf",
                            }), true;
                        }
                        else {
                            calendar.addEvent({
                                id: val.Id,
                                title: "WFH " + val.HalfDay,
                                start: fromdate,
                                className: "Wfhsecondhalf",
                            }), true;
                        }
                    }
                    else {
                        calendar.addEvent({
                            id: val.Id,
                            title: 'Work From Home',
                            start: fromdate,
                            className: "Wfh",
                            allDay: true
                        });
                    }

                });
            },
            error: function (result) {                alert(result.responseText);            }
        });
    }

    function EditLeaves(id,date) {
        var TodayDate = new Date();
       TodayDate = moment(TodayDate).format('MM/DD/YYYY');
        if (date >= TodayDate) {
            $.ajax({
                url: "@Url.Action("GetLeaveDetails", "Leave")",
                type: "GET",
                data: {
                    Id: id,
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#ApplyLeaveModel").show();
                    var fromdate = moment(data[0].Fromdate).format('MM/DD/YYYY');
                    var todate = moment(data[0].Todate).format('MM/DD/YYYY');
                    $("#txtFromDate").val(fromdate);
                    $("#txtToDate").val(todate);
                    $("#LeaveId").val(data[0].Id)
                    var arr = new Array();
                    $.each(data, function (key, val) {
                        var LeaveDetails = {
                            LeaveDates: val.LeaveDates,
                            Halfday: val.Halfday
                        }

                        arr.push(LeaveDetails);
                    })
                    BindLeaveTable(arr);
                }
            });
        }
    }

    function checkRadioButton(data) {
        var id = data.id.split("_")[1];

        var checked = $("input[type=radio][name=HalfDayLeave_"+ id +"]");
        if (checked) {
            $("#error_" + id).css("display", "none");
        }

        var checkRadio = $(data).attr('data-checked');
        if (checkRadio == "true") {
            $(data).attr('data-checked', "false")
            $("#" + data.id).prop('checked', false);
        }
        else {
            $(data).attr('data-checked', "true")
        }

        if (data.value == 'SecondHalf') {
            $("#FirstHalf_" + id).attr('data-checked', "false")
        }
        else {
            $("#SecondHalf_" + id).attr('data-checked', "false")

        }
        var wfhcheckboxccheck = $('#WorkFromcheck_' + id).is(":checked")
        if (wfhcheckboxccheck) {
            var checkhalfdayradiobutton = $(data).attr('data-checked');
            if (checkhalfdayradiobutton == "true") {
                $(".WorkAndLeave_" + id).css("display", "block")
                if (data.value == "SecondHalf") {
                    $("#WFHHalfLeave_" + id).text("First Half")
                }
                else {
                    $("#WFHHalfLeave_" + id).text("Second Half")
                }

            }
            else {
                $('input[type=radio][name=WFHHalfDay_' + id).prop("checked", false);
                $(".WorkAndLeave_" + id).hide();
                $("#WFHHalfLeave_" + id).text("")
            }
        }

    }

    function CheckReason() {
        var reason = $("#txtReason").val();
        if (reason.length != 0) {
            $("#Reason-error").css("display", "none")
        }
        else {
            $("#Reason-error").css("display", "block")

        }
    }

    function CheckWfhRadioButton(id){
        var checked = $("input[type=radio][name=WFHHalfDay_" + id + "]").is(":checked");
        if (checked) {
            $("#error_" + id).css("display", "none");
        }
    }

    function GetReportingPerson() {
         $.ajax({
            type: "Get",
             url: "@Url.Action("GetListOfReportingPerson", "BlogVacancy")",
             success: function (result) {
                 $.each(result, function (index, item) {
                     $('.cls-reportingdrp').append('<option value="' + item.ReportingPersonEmail + '"> ' + item.ReportingPersonEmail + ' </option>');
                     $('.cls-reportingdrp').trigger('chosen:updated');

                 });
            },
            error: function (result) {
                alert(result.responseText);
            }
        });
    } 
</script>