
@{
    ViewBag.Title = "AboutUs";
}
@*<title>Top Software, Web & Mobile App Development Company in India</title>*@

@section AdditionalMeta
{
    <title>Learn About Our Company and Team - Avidclan About Us Page</title>
    <meta name="description" content="Get to know the team behind Avidclan and learn about our company's mission, values, and services. Discover our expertise in web and mobile development, design, and digital marketing. ">
    <link rel="canonical" href="https://www.avidclan.com/about-us/" />
}
<section class="inner-page">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div>
                        <h1>
                            We are <span class="primary-color">passion-driven</span> people with a vision for digitalization
                        </h1>
                        <div class="text">
                            Incepted in 2017, Avidclan has grown at an exponential pace with clients across various countries.
                            We offer a complete range of IT services and industry-focused solutions from Software development to
                            QA services. Our rich industry experience and efficient technical capabilities allow us to focus on
                            creating valuable digital transformation. We bring our expertise in emerging technologies to
                            navigate the most essential leaps for diverse industries.
                        </div>
                    </div>
                </div>
                <div class="image col-md-12 col-lg-4">
                    <img src="~/assets/images/about-us-img.svg" alt="about-avdclan-technologies" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Section five -->
<section class="services-section-five style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">OUR CORE SERVICES</h5>
                    <div class="sec-title"><h2>Industries We Served</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/POS.svg" class="img-fluid" alt="POS-and-Retail" />
                        </div>
                        <h4>POS & Retail</h4>
                        <p>
                            POS system software empowers retailers with a user-friendly interface that aims to deliver seamless
                            retail experiences.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/healthcare.svg" alt="life-and-healthcare" class="img-fluid" />
                        </div>
                        <h4>Life & Health Care</h4>
                        <p>
                            We help improve the quality of life by providing innovative custom software applications for the
                            healthcare industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/petroleum.svg" alt="petroleum-industry" class="img-fluid" />
                        </div>
                        <h4>Petroleum Industry</h4>
                        <p>
                            With the world going digital, even the oil and gas industry requires software solutions to stay with
                            the times.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/ecommerce.svg" alt="ecommerce-development" class="img-fluid" />
                        </div>
                        <h4>ECommerce</h4>
                        <p>
                            We empower retailers and brands with the best eCommerce platforms with flexible cloud solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/finance.svg" alt="finance-and-insurance-market" class="img-fluid" />
                        </div>
                        <h4>Finance & Insurance Market</h4>
                        <p>
                            The finance and insurance industry has moved on from traditional pen-paper to automated systems.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5 mb-0">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/education.svg" alt="education-and-training" class="img-fluid" />
                        </div>
                        <h4>Education & Training</h4>
                        <p>
                            Whether you need a complex learning platform or a simple e-learning platform, we can make them all!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ourmission lightblue-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">OUR BUSINESS</h5>
                    <div class="sec-title"><h2>Stand Out From The Rest</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="our-mission h-100">
                    <div class="content-block h-100">
                        <div class="icon text-center">
                            <img src="~/assets/images/icons/core-values.svg" alt="our-core-values" />
                        </div>
                        <div class="title text-center">Our Core Values</div>

                        <div class="text">
                            <b>Quality:</b> Our highly skilled professionals work hard in order to deliver high-quality code
                            that is easy to maintain and flexible to the changes. We follow best-recommended industry practices
                            for project architecture and code. <br /><br />
                            <b>Client-Oriented Approach:</b> We always take into account the client's needs and provide
                            transparency of the development process. <br /><br />
                            <b>Timely delivery:</b> We respect the client's project deadlines and value their time. <br /><br />
                            <b>Honesty:</b> We neither over-promise nor under-deliver. We analyze the project tasks against our
                            skill-set. After that, we make a fair estimation and plan the workflow. We don`t waste your time and
                            money on needless work.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-0 mb-md-4">
                <div class="our-mission text-center">
                    <div class="content-block">
                        <div class="icon">
                            <img src="~/assets/images/icons/our-mission-ic.svg" alt="our-mission" />
                        </div>
                        <div class="title">Our Mission</div>
                        <p>
                            We aim to contribute to the technological era by delivering enhanced and compelling products to meet
                            the industry requirements for people out in the world. Our priority lies in making our clients happy
                            and satisfied by providing excellent solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="our-mission vision text-center">
                    <div class="content-block">
                        <div class="icon">
                            <img src="~/assets/images/icons/vision-ic.svg" alt="our-vision" />
                        </div>
                        <div class="title">Our Vision</div>
                        <p>
                            Our vision is to become the largest IT service company that offers first-class Software Development
                            solutions within the competitive international marketplace. Our passionate, self-motivated and
                            reliable crew of software professionals help us meet the goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")

