
@{
    ViewBag.Title = "AboutUs";
}
@*<title>Top Software, Web & Mobile App Development Company in India</title>*@

@section AdditionalMeta
{
    <title>
        Discover Avidclan - Meet Our Team and Company Mission
    </title>
    <meta name="description" content="Dive into the world of Avidclan and discover our company's mission, values, and services. Discover why clients choose us as their trusted web and mobile development partner." />
    <link rel="canonical" href="https://www.avidclan.com/about-us/" />
    <link rel="stylesheet" href="~/assets/css/Avidclan/aboutus.css" />
}
<section class="inner-page pt-5">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div>
                        <h1>
                            Streamlining your success with custom <span class="primary-color"> software development service </span>
                        </h1>
                        <div class="text">
                            As a leading software development company, we provide an expansive suite of services designed to bring your vision to life. From concept development through deployment and ongoing maintenance, our experienced developers collaborate closely with you for high-quality software solutions - web apps, mobile apps, enterprise software, or anything in between - no matter the complexity. We have both the expertise and resources necessary for successful delivery.
                        </div>
                    </div>
                </div>
                <div class="image col-md-12 col-lg-4">
                    <img src="~/assets/images/about-us-img.svg" alt="about-us" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About-us Section -->
<section class="about-section">
    <div class="container">
        <!-- Section Title for Small Screens -->
        <div class="row sm_only">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle text-start">About Us</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="row">
            <!-- Image Column (Visible on All Devices) -->
            <div class="col-md-6 d-flex justify-content-center align-items-center img-col my-3">
                <img src="https://www.avidclan.com/assets/images/forming-team-leadership-concept-illustration.svg"
                     alt="about-us-banner"
                     width="400"
                     height="400"
                     class="lazyload img-fluid"
                     loading="lazy"
                     style="object-fit: contain; max-width: 100%; height: 400px; filter: none; opacity: 1; mix-blend-mode: normal;" />

            </div>

            <!-- Description Column -->
            <div class="col-lg-6 col-md-6 col-about_description">
                <div class="sec-title">
                    <h2 class="lg_only p-0 header_subtitle text-start">About Us</h2>
                    <div class="text description-18 my-0 gap-25_description">
                        <div>
                            Incepted in 2017, Avidclan Technologies has grown exponentially with clients across various countries. We offer a complete range of IT services and industry-focused solutions, from Software development to QA services. Our expertise spans all aspects of AI, including Machine Learning, Computer Vision, and Chatbot development, to empower your business with intelligent automation. Additionally, we deliver exceptional web and mobile app development services, leveraging frameworks like Flutter and ReactJS to bring your vision to life.
                        </div>
                        <div>
                            Our rich industry experience and efficient technical capabilities allow us to focus on creating valuable digital transformation. We bring our expertise in emerging technologies to navigate the most essential leaps for diverse industries. Our hard work has garnered our global clientele - from the USA, Canada, Australia, UK, and UAE; all looking for reliable software development solutions to propel their businesses forward.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Services Section five -->
<section class="services-section-five style-three" id="Aboutus_industry_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">OUR CORE SERVICES</h5>
                    <div class="sec-title"><h2>Industries We Served</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/POS.svg" class="img-fluid" alt="POS-and-Retail" />
                        </div>
                        <h4>POS & Retail</h4>
                        <p>
                            POS system software empowers retailers with a user-friendly interface that aims to deliver seamless
                            retail experiences.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/healthcare.svg" alt="life-and-healthcare" class="img-fluid" />
                        </div>
                        <h4>Life & Health Care</h4>
                        <p>
                            We help improve the quality of life by providing innovative custom software applications for the
                            healthcare industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/petroleum.svg" alt="petroleum-industry" class="img-fluid" />
                        </div>
                        <h4>Petroleum Industry</h4>
                        <p>
                            With the world going digital, even the oil and gas industry requires software solutions to stay with
                            the times.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/ecommerce.svg" alt="ecommerce-development" class="img-fluid" />
                        </div>
                        <h4>ECommerce</h4>
                        <p>
                            We empower retailers and brands with the best eCommerce platforms with flexible cloud solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/finance.svg" alt="finance-and-insurance-market" class="img-fluid" />
                        </div>
                        <h4>Finance & Insurance Market</h4>
                        <p>
                            The finance and insurance industry has moved on from traditional pen-paper to automated systems.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5 mb-0">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/education.svg" alt="education-and-training" class="img-fluid" />
                        </div>
                        <h4>Education & Training</h4>
                        <p>
                            Whether you need a complex learning platform or a simple e-learning platform, we can make them all!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ourmission lightblue-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">OUR BUSINESS</h5>
                    <div class="sec-title"><h2>Stand Out From The Rest</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="our-mission h-100">
                    <div class="content-block h-100">
                        <div class="icon text-center">
                            <img src="~/assets/images/icons/core-values.svg" alt="our-core-values" />
                        </div>
                        <div class="title text-center">Our Core Values</div>

                        <div class="text">
                            <b>Quality:</b> Our highly skilled professionals work hard in order to deliver high-quality code
                            that is easy to maintain and flexible to the changes. We follow best-recommended industry practices
                            for project architecture and code. <br /><br />
                            <b>Client-Oriented Approach:</b> We always take into account the client's needs and provide
                            transparency of the development process. <br /><br />
                            <b>Timely delivery:</b> We respect the client's project deadlines and value their time. <br /><br />
                            <b>Honesty:</b> We neither over-promise nor under-deliver. We analyze the project tasks against our
                            skill-set. After that, we make a fair estimation and plan the workflow. We don`t waste your time and
                            money on needless work.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-0 mb-md-4">
                <div class="our-mission text-center">
                    <div class="content-block">
                        <div class="icon">
                            <img src="~/assets/images/icons/our-mission-ic.svg" alt="our-mission" />
                        </div>
                        <div class="title">Our Mission</div>
                        <p>
                            We aim to contribute to the technological era by delivering enhanced and compelling products to meet
                            the industry requirements for people out in the world. Our priority lies in making our clients happy
                            and satisfied by providing excellent solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="our-mission vision text-center">
                    <div class="content-block">
                        <div class="icon">
                            <img src="~/assets/images/icons/vision-ic.svg" alt="our-vision" />
                        </div>
                        <div class="title text-white">Our Vision</div>
                        <p>
                            Our vision is to become the largest IT service company that offers first-class Software Development
                            solutions within the competitive international marketplace. Our passionate, self-motivated and
                            reliable crew of software professionals help us meet the goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Meet Our Team -->
<section class="section OurTeam">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">OUR TEAM</h5>
                    <div class="sec-title"><h2>Meet Our Leadership Team</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 inner-col">
                <div class="member-block">
                    <div class="inner-box">
                        <div class="profile-pic">
                            <img src="~/assets/images/user/rushil.png" alt="Rushil Bhuptani" />
                        </div>
                        <div class="m-info">
                            <div class="header-box d-flex align-items-center justify-content-between">
                                <div class="heading">
                                    <h3 class="name">Rushil Bhuptani</h3>
                                    <span class="position">Founder & CEO</span>
                                </div>
                                <div class="social-ics">
                                    <a href="https://www.linkedin.com/in/rushil-bhuptani-avidclan/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="m-desc">
                                <p>
                                    He has successfully guided numerous companies through growth and expansion with over 11 years of
                                    entrepreneurial leadership, leveraging his strategic vision and business acumen. His passion for
                                    innovation and dedication to excellence have been the driving forces behind the company's success
                                    and continued growth.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 inner-col">
                <div class="member-block">
                    <div class="inner-box">
                        <div class="profile-pic">
                            <img src="~/assets/images/user/chintan.png" alt="Chintan Dhrangdhariya" />
                        </div>
                        <div class="m-info">
                            <div class="header-box d-flex align-items-center justify-content-between">
                                <div class="heading">
                                    <h3 class="name">Chintan Dhrangdhariya</h3>
                                    <span class="position">Co-Founder & CTO</span>
                                </div>
                                <div class="social-ics">
                                    <a href="https://www.linkedin.com/in/chintan-dhrangdhariya-630133213/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="m-desc">
                                <p>
                                    Brings extensive technical expertise and an innovative mindset, serving as an instrumental force
                                    in shaping our technological vision. With over 10 years of experience in software development and
                                    a commitment to pushing technological boundaries, he has played a key role in steering our company
                                    toward groundbreaking solutions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 inner-col">
                <div class="member-block">
                    <div class="inner-box">
                        <div class="profile-pic">
                            <img src="~/assets/images/user/kirit-1.png" alt="Jay Rupareliya" />
                        </div>
                        <div class="m-info">
                            <div class="header-box d-flex align-items-center justify-content-between">
                                <div class="heading">
                                    <h3 class="name">Kirit Vanani</h3>
                                    <span class="position">Business Development Manager</span>
                                </div>
                                <div class="social-ics">
                                    <a href="https://www.linkedin.com/in/kirit-vanani/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="m-desc">
                                <p>
                                    He is a dynamic business development professional in IT sales, specializing in custom web/app development, SaaS, ERP solutions, and strategic partnerships. With expertise in lead generation, client engagement, and team leadership, Kirit drives business expansion, launches innovative products, and optimizes sales strategies in global markets.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 inner-col">
                <div class="member-block">
                    <div class="inner-box">
                        <div class="profile-pic">
                            <img src="~/assets/images/user/krunal.png" alt="Krunal Puri" />
                        </div>
                        <div class="m-info">
                            <div class="header-box d-flex align-items-center justify-content-between">
                                <div class="heading">
                                    <h3 class="name">Krunal Puri</h3>
                                    <span class="position">Managing Partner</span>
                                </div>
                            </div>
                            <div class="m-desc">
                                <p>
                                    An esteemed tech leader, with over a decade of experience in app development and AI/ML, he brings
                                    a wealth of technical prowess and innovative vision. His exceptional expertise in cutting-edge
                                    technologies and unwavering commitment to excellence continuously drives Avidclan Technologies's innovation and
                                    exponential growth.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 inner-col">
                <div class="member-block">
                    <div class="inner-box">
                        <div class="profile-pic">
                            <img src="~/assets/images/user/maulik.png" alt="Maulik Banjara" />
                        </div>
                        <div class="m-info">
                            <div class="header-box d-flex align-items-center justify-content-between">
                                <div class="heading">
                                    <h3 class="name">Maulik Banjara</h3>
                                    <span class="position">Managing Partner (QA)</span>
                                    @*<span class="position">QA Lead</span>*@
                                </div>
                                <div class="social-ics">
                                    <a href="https://www.linkedin.com/in/maulik-banjara-95a0b67a" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="m-desc">
                                <p>
                                    As an IT Trailblazer with extensive experience in Quality Assurance, he is the guardian of excellence in our IT solutions. He finds satisfaction in meticulously dissecting every element, ensuring that our products not only meet but exceed the highest standards. His role is a testament to our commitment to delivering reliable, flawless, and user-centric technology that instils trust in our clients and users.
                                </p>
                                @*<p>
                                As a Quality Assurance professional, I am the guardian of excellence in our IT solutions. I find satisfaction in meticulously dissecting every element, ensuring that our products not only meet but exceed the highest standards. My role is a testament to our commitment to delivering reliable, flawless, and user-centric technology that instills trust in our clients and users.
                            </p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 inner-col">
                <div class="member-block">
                    <div class="inner-box">
                        <div class="profile-pic">
                            <img src="~/assets/images/user/dhaval.png" alt="Dhaval Sabhaya" />
                        </div>
                        <div class="m-info">
                            <div class="header-box d-flex align-items-center justify-content-between">
                                <div class="heading">
                                    <h3 class="name">Dhaval Sabhaya</h3>
                                    <span class="position">Mobile App Lead</span>
                                </div>
                                <div class="social-ics">
                                    <a href="https://www.linkedin.com/in/dhaval-sabhaya-827b4652/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="m-desc">
                                <p>
                                    He has been instrumental in shaping our cutting-edge mobile applications with over 11 years of
                                    experience in mobile app development. His commitment to staying ahead of the latest technological
                                    trends has driven our mobile app development to new heights, ensuring a seamless and engaging user
                                    experience.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 inner-col">
                <div class="member-block">
                    <div class="inner-box">
                        <div class="profile-pic">
                            <img src="~/assets/images/user/jimmy.png" alt="Jimmy Soni" />
                        </div>
                        <div class="m-info">
                            <div class="header-box d-flex align-items-center justify-content-between">
                                <div class="heading">
                                    <h3 class="name">Jimmy Soni</h3>
                                    <span class="position">Marketing Head</span>
                                </div>
                                <div class="social-ics">
                                    <a href="https://www.linkedin.com/in/jimmy-soni/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="m-desc">
                                <p>
                                    His proven track record demonstrates a talent for building successful marketing strategies that achieve real results. With a keen eye on the latest trends and over 8 years of experience in SEO and digital marketing, he will guide your brand to unparalleled online visibility. He is a maestro of strategy, a champion of innovation, and a guaranteed source of positive energy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 inner-col">
                <div class="member-block">
                    <div class="inner-box">
                        <div class="profile-pic">
                            <img src="~/assets/images/user/ashvin.png" alt="Ashvin Jadav" />
                        </div>
                        <div class="m-info">
                            <div class="header-box d-flex align-items-center justify-content-between">
                                <div class="heading">
                                    <h3 class="name">Ashvin Jadav</h3>
                                    <span class="position">Head Designer</span>
                                </div>
                                <div class="social-ics">
                                    <a href="https://www.linkedin.com/in/ashvin0999" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="m-desc">
                                <p>
                                    With over 10 years of extensive experience in the UI/UX field, he brings a wealth of creative
                                    expertise and a profound passion for crafting engaging and intuitive design experiences. His
                                    innovative and visionary approach to design has helped shape our projects into compelling and
                                    user-friendly experiences.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section ourfacts lightblue-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">By the Numbers</h5>
                    <div class="sec-title"><h2>Key Statistics</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/clients-ic.svg" alt="Clients Served Globally" />
                    <div class="c-number">100+</div>
                    <p>Clients Served Globally</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/delivered-ic.svg" alt="Projects Accomplished" />
                    <div class="c-number">150+</div>
                    <p>Projects Accomplished</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/developers-ic.svg" alt="Team Strength" />
                    <div class="c-number">30+</div>
                    <p>Team Strength</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/satisfaction-rate-ic.svg" alt="Success Ratio" />
                    <div class="c-number">98%</div>
                    <p>Success Ratio</p>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")