
@{
    ViewBag.Title = "BlogDetails";
}

<title>Blog - Avidclan Technologies</title>
<section class="blog-section">
    <div class="container">
        <div class="blog-details-wrap">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Blog Details Post Start -->
                    <div class="blog-details-post">
                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="#"><img src="~/assets/images/blog/blog-s-1.jpg" alt="" /></a>
                                <div class="top-meta">
                                    <span class="tag">Analytics</span>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <span><i class="fas fa-user"></i> <a href="#">Admin</a></span>
                                    <span><i class="far fa-calendar-alt"></i> August 08, 2022</span>
                                </div>
                                <h3 class="title">Easy and Most Powerful Server and Platform.</h3>
                                <p>
                                    Accelerate innovation with world-class tech teams We’ll match you to an entire remote innovation
                                    with world-class tech teams We’ll match you to an entire remote team of incredible freelance
                                    talent for all your software development needs. The basic premise of search engine reputation
                                    management is to use the following three strategies to accomplish the goal of creating a
                                    completely positive first page of search engine results for a specific term….
                                </p>
                            </div>
                        </div>
                        <!-- Single Blog End -->
                        <div class="blog-details-content">
                            <!-- Blog Blockquote Start -->
                            <div class="blog-quote">
                                <blockquote class="blockquote">
                                    <p>
                                        The basic premise of search engine reputation management is to use the following three
                                        strategies to accomplish the goal of creating a completely positive first page of search
                                        engine results for a specific term…
                                    </p>
                                </blockquote>
                            </div>
                            <!-- Blog Blockquote End -->
                            <!-- Blog Inner Img Start -->
                            <div class="blog-inner-img">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="image">
                                            <img src="~/assets/images/blog/blog-2.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="image">
                                            <img src="~/assets/images/blog/blog-3.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Blog Inner Img End -->
                            <!-- Blog Details Text Start -->
                            <div class="blog-details-text">
                                <p>
                                    Accelerate innovation with world-class tech teams We’ll match you to an entire remote team of
                                    incredible freelance talent for all your software development needs. specializes in
                                    technological and IT-related services such as product engineering, warranty management, building
                                    cloud, infrastructure, network, etc.
                                </p>
                            </div>
                            <!-- Blog Details Text End -->
                            <!-- Blog Details Tag Share Start -->
                            <div class="blog-details-tag-share">
                                <div class="blog-details-tag">
                                    <div class="sidebar-widget">
                                        <span class="label">Tags :</span>
                                        <ul class="sidebar-tag">
                                            <li><a href="#">LMS</a></li>
                                            <li><a href="#">Business</a></li>
                                            <li><a href="#">Courses</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-details-share">
                                    <ul class="social-share">
                                        <li>
                                            <a class="share-facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a class="share-twitter" href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a class="share-pinterest" href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Blog Details Tag Share End -->
                            <!-- Blog Details Post Navigation Start -->
                            <div class="blog-post-pagination">
                                <div class="previous-post">
                                    <div class="blog-pagination-post">
                                        <div class="post-thumb">
                                            <a href="#">
                                                <i class="fas fa-chevron-left"></i>
                                                <img src="~/assets/images/blog/p-post-1.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <h4 class="title"><a href="#">Cupidatat non proident sunt culpa officia deserunt</a></h4>
                                            <span class="date"><i class="far fa-calendar-alt"></i> May 15, 2020</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="next-post">
                                    <div class="blog-pagination-post">
                                        <div class="post-content text-end">
                                            <h4 class="title"><a href="#">Cupidatat non proident sunt culpa officia deserunt</a></h4>
                                            <span class="date"><i class="far fa-calendar-alt"></i> May 15, 2020</span>
                                        </div>
                                        <div class="post-thumb">
                                            <a href="#">
                                                <img src="~/assets/images/blog/author-2.jpg" alt="" />
                                                <i class="fas fa-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Blog Details Post Navigation End -->
                        </div>
                    </div>
                    <!-- Blog Details Post End -->
                </div>
                <div class="col-lg-4">
                    <!-- Blog Sidebar Start -->
                    <div class="blog-sidebar">
                        <!-- Sidebar Widget Start -->
                        <div class="sidebar-widget sidebar-widget-1">
                            <!-- Widget Search Form Start -->
                            <form class="search-form" action="#">
                                <input type="text" placeholder="Write your keyword..." />
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                            <!-- Widget Search Form End -->
                        </div>
                        <!-- Sidebar Widget End -->
                        <!-- Sidebar Widget Start -->
                        <div class="sidebar-widget">
                            <!-- Widget Title Start -->
                            <div class="widget-title">
                                <h3 class="title">Recent Posts</h3>
                            </div>
                            <!-- Widget Title End -->
                            <!-- Widget Recent Post Start -->
                            <div class="recent-posts">
                                <ul>
                                    <li>
                                        <a class="post-link" href="#">
                                            <div class="post-thumb">
                                                <img src="~/assets/images/blog/r-post-1.jpg" alt="" />
                                            </div>
                                            <div class="post-text">
                                                <h4 class="title">Cupidatat non proident sunt culpa</h4>
                                                <span class="post-meta"><i class="far fa-calendar-alt"></i> May 15, 2020</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="post-link" href="#">
                                            <div class="post-thumb">
                                                <img src="~/assets/images/blog/r-post-2.jpg" alt="" />
                                            </div>
                                            <div class="post-text">
                                                <h4 class="title">Cupidatat non proident sunt culpa</h4>
                                                <span class="post-meta"><i class="far fa-calendar-alt"></i> May 15, 2020</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="post-link" href="#">
                                            <div class="post-thumb">
                                                <img src="~/assets/images/blog/r-post-3.jpg" alt="" />
                                            </div>
                                            <div class="post-text">
                                                <h4 class="title">Cupidatat non proident sunt culpa</h4>
                                                <span class="post-meta"><i class="far fa-calendar-alt"></i> May 15, 2020</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Widget Recent Post End -->
                        </div>
                        <!-- Sidebar Widget End -->
                        <!-- Sidebar Widget Start -->
                        <div class="sidebar-widget">
                            <!-- Widget Title Start -->
                            <div class="widget-title">
                                <h3 class="title">Categories</h3>
                            </div>
                            <!-- Widget Title End -->
                            <!-- Widget Category Start -->
                            <ul class="category">
                                <li class="cate-item">
                                    <a href="#"><i class="fas fa-chevron-right"></i> Technology <span class="post-count">3</span></a>
                                </li>
                                <li class="cate-item">
                                    <a href="#"><i class="fas fa-chevron-right"></i> Innovation <span class="post-count">5</span></a>
                                </li>
                                <li class="cate-item">
                                    <a href="#"><i class="fas fa-chevron-right"></i> Learning <span class="post-count">3</span></a>
                                </li>
                                <li class="cate-item">
                                    <a href="#"><i class="fas fa-chevron-right"></i> Information <span class="post-count">3</span></a>
                                </li>
                            </ul>
                            <!-- Widget Category End -->
                        </div>
                        <!-- Sidebar Widget End -->
                        <!-- Sidebar Widget Start -->
                        <div class="sidebar-widget">
                            <!-- Widget Title Start -->
                            <div class="widget-title">
                                <h3 class="title">Tags</h3>
                            </div>
                            <!-- Widget Title End -->
                            <!-- Widget Category Start -->
                            <ul class="sidebar-tag">
                                <li><a href="#">Learning</a></li>
                                <li><a href="#">Course</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Udemy</a></li>
                                <li><a href="#">Online</a></li>
                                <li><a href="#">Technology</a></li>
                            </ul>
                            <!-- Widget Category End -->
                        </div>
                        <!-- Sidebar Widget End -->
                    </div>
                    <!-- Blog Sidebar End -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lets-talk">
    <div class="container">
        <div class="inner-block">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <div class="sec-title mb-0">
                        <p class="m-1">Require a solution to your software problems?</p>
                        <h2>Want to get in touch?</h2>
                        <div>
                            <span class="b-txt"><b>Have an idea?</b></span> Do you need some help with it? Avidclan would love
                            to help you! Kindly click on ‘Contact Us’ to reach us and share your query.
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-5 text-end">
                    <div class="btn-box">
                        <a href="~/contactus" class="theme-btn btn-style-one btn-light">
                            <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="main-footer sp-two">
    <div class="container">
        <div class="widgets-section mt-190">
            <div class="row clearfix">
                <div class="column col-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-widget logo-widget">
                                <div class="widget-content">
                                    <div class="number">
                                        <div class="num-icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="phone">
                                            <h5 class="title-lbl">Call Us On</h5>
                                            <a href="tel:+919558450670">+91 95584 50670</a>
                                            <a href="tel:+917046618869">+91 70466 18869</a>
                                        </div>
                                    </div>
                                    <div class="office-mail">
                                        <div class="mail-icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="email">
                                            <h5 class="title-lbl">Mail Us @@</h5>
                                            <a href="mailto:info@avidclan.com">info@avidclan.com</a>
                                        </div>
                                    </div>
                                    <div class="address">
                                        <div class="address-icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div>
                                            <h5 class="title-lbl">Visit Us On</h5>
                                            <p>1101, Shivalik Shilp, Iskcon Cross Roads, <br />S.G. Highway, Ahmedabad - 380015</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column col-lg-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-widget links-widget">
                                <h3 class="widget-title">Company</h3>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="~/aboutus">About</a></li>
                                        <li><a href="~/career">Careers</a></li>
                                        <li><a href="~/career#career-section">Current Openings</a></li>
                                        <li><a href="~/lifeatavidclan">Life@Avidclan</a></li>
                                        <li><a href="#testimonials">Testimonials</a></li>
                                        <li><a href="~/contactus">Contact</a></li>
                                    </ul>
                                </div>

                                <h3 class="widget-title mt-4">Follow Us On</h3>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="https://www.facebook.com/avidclan/" rel="nofollow" target="_blank">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/avidclan-technologies/"
                                           rel="nofollow"
                                           target="_blank">
                                            <span class="fab fa-linkedin-in"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/AvidclanT" rel="nofollow" target="_blank">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/avidclan_technologies/" rel="nofollow" target="_blank">
                                            <span class="fab fa-instagram"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget links-widget sm-mb0">
                                <h3 class="widget-title">Services</h3>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="~/webdevelopment">Web Development</a></li>
                                        <li><a href="~/mobileapplication">Mobile Apps</a></li>
                                        <li><a href="~/design">Design</a></li>
                                        <li><a href="~/internetmarketing">Internet Marketing</a></li>
                                        <li><a href="~/qualityassurance">QA</a></li>
                                        <li><a href="~/internetofthings">IoT</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="column col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="footer-widget links-widget">
                                        <h3 class="widget-title">Technologies</h3>
                                        <div class="widget-content">
                                            <ul>
                                                <li><a href="~/angulardevelopment">Angular</a></li>
                                                <li><a href="~/reactjsdevelopment">ReactJs</a></li>
                                                <li><a href="~/vuejsdevelopment">Vue</a></li>
                                                <li><a href="~/typescriptdevelopment">TypeScript</a></li>
                                                <li><a href="~/html5development">HTML5</a></li>
                                                <li><a href="~/dotnetdevelopment">.NET</a></li>
                                                <li><a href="~/javadevelopment">Java</a></li>
                                                <li><a href="~/phpdevelopment">PHP</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col-lg-6">
                                    <h3 class="widget-title">&nbsp;</h3>
                                    <div class="footer-widget links-widget">
                                        <div class="widget-content">
                                            <ul>
                                                <li><a href="~/nodejsdevelopment">Node</a></li>
                                                <li><a href="~/iosappdevelopment">iOS</a></li>
                                                <li><a href="~/androidappdevelopment">Android</a></li>
                                                <li><a href="~/reactnativedevelopment">React Native</a></li>
                                                <li><a href="~/flutterappdevelopment">Flutter</a></li>
                                                <li><a href="~/ionicappdevelopment">Ionic</a></li>
                                                <li><a href="~/xamarinappdevelopment">Xamarin</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom row no-gutters">
            <div class="col-md-12">
                <div class="copyright">© 2022 <a href="#">Avidclan Technologies</a>, All Rights Reserved.</div>
            </div>
        </div>
    </div>
</footer>