
@{
    ViewBag.Title = "BlogDetails";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

@section AdditionalMeta
{
    <title>Blog - Avidclan Technologies</title>
    <meta name="description" content="Discover the latest news, valuable tips, and insightful content on web and mobile app development, IoT, QA, and Internet marketing in the Avidclan Technologies blog. Stay ahead of the curve." />
    <link rel="canonical" href="https://www.avidclan.com/blog/" />
    <link rel="stylesheet" href="~/assets/css/Avidclan/blog.css" />
}
<section class="blog-section">
    <div class="container">
        <div class="blog-details-wrap">
            <!-- Blog Details Post Start -->
            <div class="blog-details-post">
                <!-- Single Blog Start -->
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="#"><img id="blogImage" src="" alt="" /></a>

                        <div class="top-meta">
                            <span class="tag" id="blogTag"></span>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span id="admin"><i class="fas fa-user"></i> <a href="#"></a></span>
                            <span id="spanDate"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <h3 class="title" id="Blogtitle"></h3>
                        <p>
                        </p>
                    </div>
                </div>
                <!-- Single Blog End -->

            </div>
            <!-- Blog Details Post End -->
        </div>
    </div>
</section>
<section class="lets-talk">
    <div class="container">
        <div class="inner-block">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <div class="sec-title mb-0">
                        <p class="m-1">Require a solution to your software problems?</p>
                        <h2>Want to get in touch?</h2>
                        <div>
                            <span class="b-txt"><b>Have an idea?</b></span> Do you need some help with it? Avidclan Technologies would love
                            to help you! Kindly click on ‘Contact Us’ to reach us and share your query.
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-5 text-end">
                    <div class="btn-box">
                        <a href="~/contact-us/" class="theme-btn btn-style-one btn-light">
                            <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")

<script type="text/javascript">
    $(document).ready(function () {
        GetBlogDetails();
    });
    function GetBlogDetails() {
        var id;
        let searchParams = new URLSearchParams(window.location.search)
        if (searchParams.has('Id')) {
            id = searchParams.get('Id');
        }
        //var id = localStorage.getItem("BlogId");
        //var date = localStorage.getItem("BlogDate");
        $.ajax({
                url: '@Url.Action("GetBlogData", "Avidclan")',
                contentType: 'application/json',
                data: { Id: id },
                type: "GET",
            success: function (result) {
                debugger;
                    if (result != null) {
                        var fromdate = moment(result.PostingDate).format('MM/DD/YYYY  HH:mm:ss');
                        var options = { year: 'numeric', month: 'long', day: 'numeric' };
                        var PostingDate = new Date(fromdate);
                        var longDt = PostingDate.toLocaleDateString("en-US", options);
                        console.log("datebase date :" + result.PostingDate);
                        console.log("FromDate :" + fromdate);
                        console.log("PostingDate :" + PostingDate);
                        console.log("longDt :" + longDt);
                        console.log("Id :" + result.Id);
                        debugger;
                        $("#blogTag").html(result.BlogType)
                        $("#Blogtitle").html(result.Title)
                        $(".blog-content p").html(result.Description)
                        $("#admin a").html(result.PostedBy)
                        $('#blogImage').attr('src', result.Image);
                        $("#spanDate").html(longDt)
                    }

                },
                error: function () {
                    alert('failure');
                }
            });
    }
</script>