@model Avidclan_Website.Models.BlogViewModel

@{
    ViewBag.Title = "Blog";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

@section AdditionalMeta
{
    <title>Avidclan Blog: Latest Insights on Web and Mobile App Development</title>
    <meta name="description" content="Discover the latest news, valuable tips, and insightful content on web and mobile app development, IoT, QA, and Internet marketing in the Avidclan blog. Stay ahead of the curve." />
    <link rel="canonical" href="https://www.avidclan.com/blog/" />
    <link rel="stylesheet" href="~/assets/css/Avidclan/blog.css" />
}

<section class="banner-section-two">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center">
                    <div class="pl-2">
                        <h1>Our <span class="primary-color">Blog</span></h1>
                        <div class="text mb-0">
                            Avidclan is a renowned and leading web and mobile app development company with a vision to fulfill
                            business requirements using innovative solutions. We assist our clients in a way that they can
                            provide a superior digital experience for their clients worldwide.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<div class="loader"></div>
<!-- Blog Section -->
<section class="blog-section">
    <div class="container">
        <div class="blog-grid-wrap">
            <div class="row" id="demo">
            </div>
        </div>

        <!-- Blog Pagination Start -->
        <div class="blog-pagination">
            <ul class="pagination justify-content-center" id="pagination" style="margin-top: 70px;">
            </ul>
        </div>
        <!-- Blog Pagination End -->
    </div>
</section>


<section class="lets-talk">
    <div class="container">
        <div class="inner-block">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <div class="sec-title mb-0">
                        <p class="m-1">Require a solution to your software problems?</p>
                        <h2>Want to get in touch?</h2>
                        <div>
                            <span class="b-txt"><b>Have an idea?</b></span> Do you need some help with it? Avidclan would love
                            to help you! Kindly click on ‘Contact Us’ to reach us and share your query.
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-5 text-end">
                    <div class="btn-box">
                        <a href="~/contact-us/" class="theme-btn btn-style-one btn-light">
                            <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_FooterWith190")


<script type="text/javascript">
    $(document).ready(function () {
        GetSectionData(1);
    });
    function GetSectionData(id) {
        $.ajax({
            type: "GET",
            url: "/Avidclan/GetSectionData?page=" + id,
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                $("#demo").html("");
                var sectionblog = "";
                var paginationData = "";
                var imageURL = "https://cms.avidclan.com";
                $.each(data.data.ListBlog, function (k, v) {
                    var options = { year: 'numeric', month: 'long', day: 'numeric' };
                    var PostingDate = new Date(v.PostingDate);
                    var longDt = PostingDate.toLocaleDateString("en-US", options);
                    var Descriptionlength = v.MetaDescription.length > 80 ? v.MetaDescription.substring(0, 80) + "…" : v.MetaDescription;

                    /* var url = imageURL + v.Image;*/
                    sectionblog += '<div class="col-lg-4 col-md-6">' +
                        '<div class="single-blog">' +
                        '<div class="blog-img img img-fluid">' +
                        '<a href="/blog/' + v.PageUrl + '" onclick=GetBlogDetails(' + v.Id + ',"' + v.PageUrl + '")><img class="BlogImages" src="' + v.Image + '" alt="" style=height:216px; ></a>' +
                        '<div class="top-meta">' +
                        '<span class="tag" style="font-style: normal;">' + v.BlogType + '</span>' +
                        '</div>' +
                        '</div>' +
                        '<div class="blog-content">' +
                        '<div class="blog-meta">' +
                        '<span><i class="fas fa-user"></i> <a style="font-style: normal;" href="#">' + v.PostedBy + '</a></span>' +
                        '<span id="admindateid_' + v.Id + '" style="font-style: normal;"><i class="far fa-calendar-alt"></i>' + longDt + '</span>' +
                        '</div>' +
                        '<h3 class="title blog-title"><a href="/blog/' + v.PageUrl + '" style="font-style: normal;" onclick=GetBlogDetails(' + v.Id + ',"' + v.PageUrl + '")>' + v.Title + '</a></h3>' +
                        '<p class="blog-meta-desc">' + Descriptionlength + '</p>' +
                        '</div>' +
                        '<div class="blog-btn">' +
                        '<a href="/blog/' + v.PageUrl + '" class="blog-btn-link" style="font-style: normal;" onclick=GetBlogDetails(' + v.Id + ',"' + v.PageUrl + '")>' +
                        'Read Full Article <i class="fas fa-long-arrow-alt-right"></i>' +
                        '</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
                })
                $('#demo').html(sectionblog);
                document.querySelector('.loader').style.display = 'none';
                if (data.data.pager.EndPage > 1) {
                    paginationData += '<ul class="pagination">'
                    if (data.data.pager.CurrentPage > 1) {
                        let previousPage = (data.data.pager.CurrentPage) - 1;
                        paginationData += '<li class="page-item">' + '<a class="page-link" onclick="GetSectionData(' + previousPage + ')"  href="javascript:void(0);"><i class="fas fa-chevron-left"></i></a>' + '</li>'
                    }
                    for (var page = data.data.pager.StartPage; page <= data.data.pager.EndPage; page++) {
                        var isActive = (page == data.data.pager.CurrentPage) ? "active" : "";
                        paginationData += '<li class="' + isActive + ' page-item">' +
                            '<a class="page-link" onclick="GetSectionData(' + page + ')" href="javascript:void(0);">' + page + '</a>' +
                            '</li>'
                    }
                    if (data.data.pager.CurrentPage < data.data.pager.TotalPages) {
                        let nextPage = (data.data.pager.CurrentPage) + 1;
                        paginationData += '<li class="page-item">' +
                            '<a class="page-link" onclick="GetSectionData(' + nextPage + ')" href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a>' +
                            '</li>'
                    }
                    paginationData += '</ul>'
                }
                $('#pagination').html(paginationData);

                var uri = window.location.href.toString();
                if (uri.indexOf("?") > 0) {
                    var clean_uri = uri.substring(0, uri.indexOf("?"));
                    window.history.replaceState({}, document.title, clean_uri);
                }

                if (id > 1) {
                    var currentURL = window.location.href;
                    var newURL = currentURL + (currentURL.indexOf('?') !== -1 ? '&' : '?') + 'page=' + id;
                    history.pushState({ path: newURL }, '', newURL);
                }
            },
            error: function (result) {
                alert("Error Ocurred!");
            }
        });
    }

    function GetBlogDetails(id, url) {
        localStorage.setItem("BlogId", id);
        var date = $("#admindateid_" + id).text();
        localStorage.setItem("BlogDate", date);
        window.location.href = "/blog/" + url + "/";
        /*window.location.href = "/blogs/";*/
    }

</script>
