@using reCAPTCHA.MVC
@{
    ViewBag.Title = "ContactUs";
}

@section AdditionalMeta
{
    <title>Contact Avidclan Now For New Journey of Digital Innovation</title>
    <meta name="description" content="Have questions or a project in mind? Contact Avidclan to explore our development services and discuss your next endeavor. Our team is here to assist you. Don't miss out—get in touch now!">
    <link rel="canonical" href="https://www.avidclan.com/contact-us/" />
    <link rel="stylesheet" href="~/assets/css/intlTelInput.css" />
    <link rel="stylesheet" href="~/assets/css/Avidclan/contactus.css" />
}

<section class="inner-page contact-section">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div>
                        <h1>We’d Love To <span class="primary-color">Help</span> You</h1>
                        <div class="text">
                            Together we can create something all inspirational you need to build. <br /><br />
                            Send a message through given form, If your enquiry is time sensitive please use below contact
                            details.
                        </div>
                    </div>
                </div>
                <div class="image col-md-12 col-lg-4">
                    <img src="~/assets/images/contact-us-img.svg" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Form Section -->
<section class="contact-form-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pe-0 pe-md-5">
                <h4 class="avidclan_ralign_subtitle">CONTACT US</h4>
                <div class="sec-title">
                    <h2 class="pb-2">Reach Out and Let's Start a Conversation</h2>
                    <div class="text">
                        Get in touch with us and let us assist you with your queries and needs. Whether you have specific
                        requirements, inquiries, or simply want to share your thoughts, we're here to listen and assist you.
                        <br /><br />
                        To get started, please fill out the form with your contact details and a brief description of your
                        inquiry. This will help us understand your requirements better and enable us to respond promptly. We
                        value your time and look forward to connecting with you to address any questions or concerns you may
                        have.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <form method="post"
                              action="contact-form-handler.php"
                              class="contact-form contact_form"
                              name="contactinfo"
                              id="contact_form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="firstname">First Name</label>
                                    <div class="input-group">
                                        <input type="text" name="firstname" id="firstname" placeholder="First Name" />
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="lastname">Last Name</label>
                                    <div class="input-group">
                                        <input type="text" name="lastname" id="lastname" placeholder="Last Name" />
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="email">Email</label>
                                    <div class="input-group">
                                        <input type="email" name="email" id="email" placeholder="Email Address" />
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="phone">Phone</label>
                                    <div class="input-group">
                                        <input id="code" value="ccode" type="hidden" name="code" />
                                        <input type="tel" name="phone" id="phone" class="numberonly" />

                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message"></textarea>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label for="captcha">Please Verify You Are a Human</label>
                                    @Html.Recaptcha()
                                    @*<div class="g-recaptcha" data-sitekey="6LeWHTseAAAAAMQvKFnHOU1KCsIeAhX4LF7EhrCk"></div>*@
                                </div>

                                <div class="col-md-12 form-group mb-0 text-center">
                                    <div class="">
                                        <button class="theme-btn btn-style-one" name="submit" type="submit" id="sbmtbtn">
                                            <span class="btn-title">
                                                Send Message
                                                <span class="iconify ms-1" data-icon="line-md:email" data-height="25"></span>
                                                <div id="button-spinner" style="margin-left: 10px; width: 15px; height: 15px; display: none" class="spinner-border"></div>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Details Section -->
<section class="lightblue-bg contact-form-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">OUR LOCATIONS</h5>
                    <div class="sec-title"><h2>Visit us on</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="location-block contact-info-block">
                    <div class="d-flex align-items-center">
                        <img src="~/assets/images/icons/ind-flag.svg" alt="" />
                        <h2 class="ms-2 fw-bold">India</h2>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Ahmedabad</h3>
                            <div class="inner-box">
                                <div class="icon-box">
                                    <div class="icon"><span class="iconify text-primary" data-icon="bx:map"></span></div>
                                    <p>
                                        <a href="https://maps.google.com/maps?ll=23.026911,72.506697&z=12&t=m&hl=en&gl=IN&mapclient=embed&cid=7803470708182172091"
                                           target="_blank">726, Shivalik Shilp, Iskcon Cross Roads, S.G. Highway, Ahmedabad, <br />Gujarat - 380015</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h3>Rajkot</h3>
                            <div class="inner-box mb-4">
                                <div class="icon-box">
                                    <div class="icon"><span class="iconify text-primary" data-icon="bx:map"></span></div>
                                    <p>
                                        <a>
                                            523, RK World Tower, 150 Feet Ring Rd, Sheetal Park, Shastri Nagar, Dharam Nagar Society,
                                            Rajkot, Gujarat - 360006
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inner-box"></div>
                </div>
            </div>
            <div class="col-lg-4 offset-xl-1">
                <div class="location-block contact-info-block">
                    <div class="d-flex align-items-center">
                        <img src="~/assets/images/icons/usa-flag.svg" alt="" />
                        <h2 class="ms-2 fw-bold">USA</h2>
                    </div>

                    <h3>Virginia</h3>
                    <div class="inner-box">
                        <div class="icon-box">
                            <div class="icon"><span class="iconify text-primary" data-icon="bx:map"></span></div>
                            <p>
                                <a>45570 Silver pond sq, Apt 302, Sterling, <br />VA 20164</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0 contact-info-block location-block">
            <div class="col-auto inner-box">
                <div class="phone">
                    <h5 class="title-lbl">Sales Inquiry</h5>
                </div>
                <div class="icon-box">
                    <div class="icon">
                        <span class="iconify text-primary" data-icon="eva:email-outline"></span>
                    </div>
                    <p>
                        <a href="mailto:solutions@avidclan.com">solutions@avidclan.com</a>
                    </p>
                </div>
                <div class="icon-box">
                    <div class="icon">
                        <span class="iconify text-primary" data-icon="eva:phone-call-outline"></span>
                    </div>
                    <p><a href="tel:+919558450670">+91 95584 50670</a></p>
                </div>
            </div>
            <div class="col-auto offset-xl-1 inner-box">
                <div class="phone">
                    <h5 class="title-lbl">Career/HR Inquiry</h5>
                </div>
                <div class="icon-box">
                    <div class="icon">
                        <span class="iconify text-primary" data-icon="eva:email-outline"></span>
                    </div>
                    <p>
                        <a href="mailto:career@avidclan.com">career@avidclan.com</a>
                    </p>
                </div>
                <div class="icon-box">
                    <div class="icon">
                        <span class="iconify text-primary" data-icon="eva:phone-call-outline"></span>
                    </div>
                    <p><a href="tel:+919624679717">+91 96246 79717</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Map Section -->
<section class="map-section-two">
    <!--Map Outer-->
    <div class="map-outer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58750.383281796705!2d72.533704!3d23.027482!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e9b2ec9b2d7fb%3A0x6c4b7f43b85d41bb!2sAvidclan%20Technologies!5e0!3m2!1sen!2sin!4v1656134573348!5m2!1sen!2sin"
                height="450"
                frameborder="0"
                class="w-100"
                style="border: 0"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"></iframe>
    </div>
</section>


@Html.Partial("_Footer")

