@using reCAPTCHA.MVC
@{
    ViewBag.Title = "ContactUs";
}


<title>Top Software, Web & Mobile App Development Company in India</title>
<meta name="title"
      content="We specialzed in digital transformation of businesses with top notch software solutions. Get in touch with Avidclan technologies for Software, Web App Development.
    " />
<section class="inner-page contact-section">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div>
                        <h1>We’d Love To <span class="primary-color">Help</span> You</h1>
                        <div class="text">
                            Together we can create something all inspirational you need to build. <br /><br />
                            Send a message through given form, If your enquiry is time sensitive please use below contact
                            details.
                        </div>
                    </div>
                </div>
                <div class="image col-md-12 col-lg-4">
                    <img src="~/assets/images/contact-us-img.svg" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Form Section -->
<section class="contact-form-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">CONTACT US</h5>
                    <div class="sec-title mb-0">
                        <h2>Leave Us a Little Info, and We'll Be In Touch.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form method="post"
                      class="contact-form contact_form"
                      name="contactinfo"
                      id="contact_form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="firstname">First Name</label>
                            <div class="input-group">
                                <input type="text" name="firstname" id="firstname" placeholder="First Name" />
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <label for="lastname">Last Name</label>
                            <div class="input-group">
                                <input type="text" name="lastname" id="lastname" placeholder="Last Name" />
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <label for="email">Email</label>
                            <div class="input-group">
                                <input type="email" name="email" id="email" placeholder="Email Address" />
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <label for="phone">Phone</label>
                            <div class="input-group">
                                <input id="code" value="ccode" type="hidden" name="code" />
                                <input type="tel" name="phone" id="phone" class="numberonly" />

                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <label for="message">Message</label>
                            <textarea name="message" id="message"></textarea>
                        </div>

                        <div class="col-md-6 form-group">
                            <label for="captcha">Please Verify You Are a Human</label>
                            @Html.Recaptcha()
                            @*<div class="g-recaptcha" data-sitekey="6Lc7VFgjAAAAAJQuEw_pFI_HgbdU6SVsO5uc4QIt"></div>*@
                        </div>

                        <div class="col-md-12 form-group mb-0 text-center">
                            <div class="">
                                <button class="theme-btn btn-style-one" name="submit" type="submit">
                                    <span class="btn-title" id="submitbutton">
                                        Send Message <span class="iconify ms-1" data-icon="line-md:email" data-height="25"></span><span id="button-spinner" style="margin-left: 10px; width: 15px; height: 15px; display: none" class="spinner-border"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

<!-- Contact Details Section -->
<section class="contact-details-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 contact-info-block">
                <div class="inner-box">
                    <div class="icon-box">
                        <div class="icon"><span class="iconify text-primary" data-icon="bx:map"></span></div>
                        <h5>Location</h5>
                        <h4>Visit us on</h4>
                    </div>
                    <p>
                        <a href="https://maps.google.com/maps?ll=23.026911,72.506697&z=12&t=m&hl=en&gl=IN&mapclient=embed&cid=7803470708182172091"
                           target="_blank">1101, Shivalik Shilp, Iskcon Cross Roads, S.G. Highway, <br />Ahmedabad - 380015</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 contact-info-block">
                <div class="inner-box">
                    <div class="icon-box">
                        <div class="icon"><span class="iconify text-primary" data-icon="eva:phone-call-outline"></span></div>
                        <h5>24/7 service</h5>
                        <h4>Call us on</h4>
                    </div>
                    <p>
                        <a href="tel:+919558450670">+91 95584 50670</a> <br />
                        <a href="tel:+917046618869">+91 70466 18869</a><br /><br />
                    </p>
                </div>
            </div>
            <div class="col-lg-4 contact-info-block">
                <div class="inner-box">
                    <div class="icon-box">
                        <div class="icon"><span class="iconify text-primary" data-icon="eva:email-outline"></span></div>
                        <h5>Drop a line</h5>
                        <h4>Mail us @@</h4>
                    </div>
                    <p>
                        <a href="mailto:info@avidclan.com">info@avidclan.com</a>
                        <br /><br /><br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Map Section -->
<section class="map-section-two">
    <!--Map Outer-->
    <div class="map-outer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58750.383281796705!2d72.533704!3d23.027482!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e9b2ec9b2d7fb%3A0x6c4b7f43b85d41bb!2sAvidclan%20Technologies!5e0!3m2!1sen!2sin!4v1656134573348!5m2!1sen!2sin"
                height="450"
                frameborder="0"
                class="w-100"
                style="border: 0"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"></iframe>
    </div>
</section>

@Html.Partial("_Footer")

