
@{
    ViewBag.Title = "Design";
}
@*<title>Hire UI/UX Designer from Top Design Company</title>*@
@section AdditionalMeta
{
    <title>Leading UI/UX Design Company For Custom Web Design Services.</title>
    <meta name="description"
          content="Looking for a leading UI/UX design company or agency? Explore our specialized UI/UX design and development services for engaging digital experiences. Contact us today!" />
    <link rel="canonical" href="https://www.avidclan.com/design/" />
    <link rel="stylesheet" href="~/assets/css/Avidclan/services.css" />
}
<section class="inner-page">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-7">
                    <div>
                        <h1>UI/UX Design Company</h1>
                        <div class="text">
                            A creative team of web designers who always thinks out-of-box to deliver exceptionally awesome
                            design above the expectations of the client.
                        </div>
                    </div>
                </div>
                <div class="image col-md-5">
                    <img src="../assets/images/about-us-img.svg" alt="about-avidclan-technologies" />
                </div>
            </div>
        </div>
    </div>
</section>


<section class="service-section" id="analysis">
    <div class="container">
        <div class="section-view right">
            <div class="row g-0 order-change">
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>Analysis</h2>
                        <p>
                            Design analysis is the systematic process of developing a design including all information
                            discovery, planning and communications. It can be applied to any type of design including the design
                            of physical things such as buildings and intangible things such as software, information and
                            processes. We work on capturing and organizing requirements from our clients before designing the
                            layout.
                        </p>

                        <div class="service-list">
                            <ul>
                                <li>Gap Analysis</li>
                                <li>Goal Setting</li>
                                <li>Estimates</li>
                                <li>Research</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../assets/images/design-analysis.jpg" class="img-fluid ser_img" alt="design-analysis" />
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_ContactUs")

<section class="service-section" id="wireframe">
    <div class="container">
        <div class="section-view">
            <div class="row g-0">
                <div class="col-lg-6">
                    <img src="../assets/images/wireframe.jpg" class="img-fluid ser_img" alt="wireframe" />
                </div>
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>Wireframing</h2>
                        <p>
                            Wireframing is where designers draw overviews of interactive products to establish the structure and
                            flow of possible design solutions. These outlines reflect user and business needs. Paper or
                            software-rendered wireframes help teams and stakeholders ideate toward optimal, user-focused
                            prototypes and products. It helps us spot constraints and opportunities to ultimately bridge the gap
                            between abstract requirements and likely solutions.
                        </p>

                        <div class="service-list">
                            <ul>
                                <li>Sketching</li>
                                <li>Create high-fidelity, interactive wireframes</li>
                                <li>Simple, hand-drawn wireframe</li>
                                <li>Wireframe with user journey</li>
                                <li>Pre-plan infographics</li>
                                <li>Creating mobile and desktop versions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-section" id="custom-web-design">
    <div class="container">
        <div class="section-view right">
            <div class="row g-0 order-change">
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>Custom Web Design</h2>
                        <p>
                            Avidclan is a Leading Website Designing Company that offers the most attractive, engaging and
                            visually appealing designs. We offer a wide range of website designing services that help in
                            boosting the brand name of your business worldwide. Our designers are highly creative and dedicated
                            to deliver the most stunning custom web design for each client.
                        </p>

                        <div class="service-list">
                            <ul>
                                <li>Custom Mobile App design</li>
                                <li>Custom e-Commerce design</li>
                                <li>Custom design for web portal</li>
                                <li>Custom design for CMS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../assets/images/custom-web-design.jpg" class="img-fluid ser_img" alt="custom-web-design" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-section" id="uiux-design">
    <div class="container">
        <div class="section-view">
            <div class="row g-0">
                <div class="col-lg-6">
                    <img src="../assets/images/ui-ux-design.jpg" class="img-fluid ser_img" alt="ui-ux-design" />
                </div>
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>UI/UX Design</h2>
                        <p>
                            The first thing any user notices is the UI UX Design Services has been designed and implemented. We
                            help build experiences across different mobile and websites. We are a leading UX/UI design company
                            that serves different industry sectors with our awesome design services. Our team of dedicated UI/UX
                            Designer who believes in building world-class mobile apps, which begins with imagining the perfect
                            design for your apps.
                        </p>

                        <div class="service-list">
                            <ul>
                                <li>AR experience design</li>
                                <li>Mobile app UX and UI design</li>
                                <li>Cross-platform experiences design</li>
                                <li>UI and UX consulting</li>
                                <li>Design workshops</li>
                                <li>Web design services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-section" id="mobile-ui-design">
    <div class="container">
        <div class="section-view right">
            <div class="row g-0 order-change">
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>Mobile UI Design</h2>
                        <p>
                            We make sure every mobile app that we develop goes through a rigorous UI design process. We have
                            developed various applications and websites with extraordinary user interfaces that can be accessed
                            by individuals everywhere throughout the world, which fills in as a reasonable declaration to the
                            prominence of what we convey. Our designers are highly creative and dedicated to deliver the most
                            stunning user interfaces for every single client.
                        </p>

                        <div class="service-list">
                            <ul>
                                <li>Custom Mobile UI Design</li>
                                <li>User-friendly Interface Design</li>
                                <li>Dashboard Interface Design</li>
                                <li>Software Interface Design</li>
                                <li>Intuitive Mobile UI Design</li>
                                <li>Prototype Mobile UI Development</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../assets/images/mobile-ui-design.jpg" class="img-fluid ser_img" alt="mobile-ui-design" />
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")