<section class="inner-page banner-section-two banner-section-box author-section-top-padding" style="padding-top: 50px; background: linear-gradient(to bottom, #f2f5fe, #ffffff);">

    <div class="container">
        <div class="row align-items-center">
            <!-- Left Content -->
            <h1 class="text-center fw-custom fs-1">About the Author</h1>

            <div class="col-lg-9">

                <p class="text">
                    Avidclan Technologies is a premier IT company offering comprehensive solutions to meet your business needs. Serving clients across numerous countries, we specialize in innovative software development, cutting-edge technology integration, and seamless digital transformation. Our team of experts is committed to driving your success by delivering customized, scalable, and reliable IT services that align with your strategic goals, anytime and anywhere.
                </p>
                <p class="text">
                    Avidclan Technologies is a premier IT company offering comprehensive solutions to meet your business needs. Serving clients across numerous countries, we specialize in innovative software development, cutting-edge technology integration, and seamless digital transformation. Our team of experts is committed to driving your success by delivering ....
                </p>
                <p class="text">
                    Avidclan Technologies is a premier IT company offering comprehensive solutions to meet your business needs. Serving clients across numerous countries, we specialize in innovative software development, cutting-edge technology integration, and seamless digital transformation. Our team of experts is committed.Serving clients across numerous countries, we specialize in innovative software development.
                </p>
            </div>
            <style>
                .social-icon-wrapper {
                    background-color: #0E53BE;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 6px;
                    border-radius: 4px;
                    width: 32px;
                    height: 32px;
                }
            </style>
            <!-- Right Author Card -->
            <div class="col-lg-3 mt-5 mt-lg-0 text-center">
                <div class="card border-0 shadow-sm" style="background: linear-gradient(to bottom, #f2f5fe, #ffffff);">
                    <div class="card-body">
                        <img src="~/assets/images/user/rushil_author.png.png" alt="Rushil Bhuptani" class="img-fluid mb-3">
                        <h5 class="fw-bold text-primary">Rushil Bhuptani</h5>
                        <div class="custom-bg d-flex justify-content-center gap-3 my-3">
                            <a href="#" id="facebookShare" class="social-icon-wrapper" target="_blank">
                                <img src="~/assets/images/imagenew/icons8-facebook-f (1).svg" alt="Facebook" class="social-icon-img">
                            </a>

                            <!-- LinkedIn -->
                            <a href="#" id="linkedinShare" class="social-icon-wrapper" target="_blank">
                                <img src="~/assets/images/imagenew/linkedin (1) (1) (1).svg" alt="LinkedIn" class="social-icon-img">
                            </a>

                            <!-- X / Twitter -->
                            <a href="#" id="twitterShare" class="social-icon-wrapper" target="_blank">
                                <img src="~/assets/images/imagenew/twitter-x (1).svg" alt="X" class="social-icon-img">
                            </a>
                        </div>
                        <a href="/team" class="btn text-white fw-bold" style="background:#0E53BE;">Explore Our Team</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="d-block lets-talk">
    <div class="container">
        <div class="inner-block rounded-5 px-md-5 px-3 py-4 position-relative text-white ">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <div class="sec-title">
                        <p class="m-1 text-white">Require a solution to your software problems?</p>
                        <h2 class="text-white d-flex  fs-1 pb-3 tracking-tight lh-sm fw-custom">
                            Want to get in touch?
                        </h2>
                        <div>
                            <span><b class="fs-3">Have an idea?</b></span> Do you need some help with it? Avidclan Technologies would love to help you! Kindly click on ‘Contact Us’ to reach us and share your query.
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-5 mt-4 text-lg-end  text-center">
                    <div class="btn-box mt-3">
                        <a href="~/services#project_inquiry_form"
                           target="_blank"
                           class="btn btn-secondary bg-white custom-color position-relative fw-bold rounded-5 overflow-hidden align-middle text-capitalize custom-btn-padding">
                            <span class="btn-title">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                     class="iconify custom-color iconify--ion me-2" width="25" height="25"
                                     preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"
                                     data-icon="ion:call-sharp" data-height="25">
                                    <path fill="currentColor"
                                          d="M478.94 370.14c-5.22-5.56-23.65-22-57.53-43.75c-34.13-21.94-59.3-35.62-66.52-38.81a3.83 3.83 0 0 0-3.92.49c-11.63 9.07-31.21 25.73-32.26 26.63c-6.78 5.81-6.78 5.81-12.33 4c-9.76-3.2-40.08-19.3-66.5-45.78s-43.35-57.55-46.55-67.3c-1.83-5.56-1.83-5.56 4-12.34c.9-1.05 17.57-20.63 26.64-32.25a3.83 3.83 0 0 0 .49-3.92c-3.19-7.23-16.87-32.39-38.81-66.52c-21.78-33.87-38.2-52.3-43.76-57.52a3.9 3.9 0 0 0-3.89-.87a322.4 322.4 0 0 0-56 25.45A338 338 0 0 0 33.35 92a3.83 3.83 0 0 0-1.26 3.74c2.09 9.74 12.08 50.4 43.08 106.72c31.63 57.48 53.55 86.93 100 133.22S252 405.21 309.54 436.84c56.32 31 97 41 106.72 43.07a3.86 3.86 0 0 0 3.75-1.26A337.7 337.7 0 0 0 454.35 430a322.7 322.7 0 0 0 25.45-56a3.9 3.9 0 0 0-.86-3.86">
                                    </path>
                                </svg>Hire Developers
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_footernew")