
@{
    ViewBag.Title = "InternetofThings";
}

<title>Hire UI/UX Designer from Top Design Company</title>
<meta name="title" content="Hire UI/UX Designer from Top Design Company" />
<meta name="description"
      content="Are you looking Hire UI/UX Designer from Top Design Agency? Avidclan UI/UX Designer is here to help you with designing Services." />
<section class="inner-page">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <h1>Connecting devices, connecting people</h1>
                        <div class="text">
                            IoT is made for integration, and it makes the technology, product, or services connected to each
                            other for active engagement. Personalization to mobile apps is what we all strive for and is one of
                            the cherished benefits of IoT where users have everything they have been exploring. To make smarter
                            utilization of resources, the automation process helps to build efficient IoT applications.
                        </div>
                    </div>
                </div>
                <div class="image col-md-4">
                    <img src="../assets/images/about-us-img.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Section five -->
<section class="service-section" id="industrial-automation">
    <div class="container">
        <div class="section-view right">
            <div class="row g-0 order-change">
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>IoT Solutions for Automotive</h2>
                        <p>
                            Internet of things, or devices connected over a network, is no longer a fancy technology for the
                            future. It's here and fast changing the way we live. In the automotive sector, IoT has enabled
                            greater transportation efficiency and management capabilities and is leading us to a future of
                            intelligent, autonomous vehicles. With usage at both industrial and commercial level, IoT in
                            automotive sector has become a prominent hotspot for multi-purpose applications. Apart from
                            widespread automation, cars will have integrated through IoT technology.
                        </p>

                        <div class="service-list">
                            <ul>
                                <li>Smart Fleet Management System</li>
                                <li>Smart Transportation & Logistics</li>
                                <li>Vehicle Tracking</li>
                                <li>Remote Vehicle Monitoring</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../assets/images/iot-for-automative.jpg" class="img-fluid ser_img" />
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_ContactUs")

<section class="service-section">
    <div class="container">
        <div class="section-view">
            <div class="row g-0">
                <div class="col-lg-6">
                    <img src="../assets/images/iot-for-retail.jpg" class="img-fluid ser_img" />
                </div>
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>IoT Solutions for Retail</h2>
                        <p>
                            The retail industry is seeing a rapid transformation, with IoT solutions taking the center stage in
                            the sector. Having plenty of applications, IoT helps increase customer loyalty, boost sales, offer a
                            personalized experience, and improve inventory management. It allows store managers to find new ways
                            to establish a personal connection with their client. All items we use on a daily basis will be
                            interconnected, able to exchange data, and can be optimized to fit your preferences. It pens a wide
                            range of opportunities in many fields like transportation, healthcare and retail.
                        </p>

                        <div class="service-list">
                            <ul>
                                <li>Inventory & Warehouse Automation</li>
                                <li>Smart Delivery Management</li>
                                <li>Cashierless payment systems</li>
                                <li>Smart POS</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-section" id="home-automation">
    <div class="container">
        <div class="section-view right">
            <div class="row g-0 order-change">
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>Smart Home Automation</h2>
                        <p>
                            Smart IoT Solutions empower cities and citizens to deliver innovative digital services. Leveraging
                            the technology of the Internet of Things (IoT) and increased usage of smart devices, it is possible
                            to gather accurate and near real-time information about people, their behavior, traffic and other
                            utilities.<br /><br />
                            A home automation system will monitor and/or control home attributes such as lighting, climate,
                            entertainment systems, and appliances. It may also include home security such as access control and
                            alarm systems.
                        </p>

                        <div class="service-list">
                            <ul>
                                <li>Managing schedules, planning meetings</li>
                                <li>Controlling other smart devices in the home</li>
                                <li>Home Security Management</li>
                                <li>Setting reminders</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../assets/images/smart-home.jpg" class="img-fluid ser_img" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-section" id="connected-devices">
    <div class="container">
        <div class="section-view">
            <div class="row g-0">
                <div class="col-lg-6">
                    <img src="../assets/images/industrial-iot.jpg" class="img-fluid ser_img" />
                </div>
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>Industrial IoT</h2>
                        <p>
                            Industrial automation is the use of control systems, such as computers or robots and information
                            technologies for handling different processes and types of machinery in an industry to replace a
                            human being. It is the second step beyond mechanization in the scope of industrialization.
                            <br /><br />
                            Businesses can capitalize on our IoT solutions and services to improve operational efficiencies,
                            enhance user experiences and create a digital business by connecting people, processes and
                            information together.
                        </p>

                        <div class="service-list">
                            <ul>
                                <li>Temperature monitoring</li>
                                <li>Water quality monitoring</li>
                                <li>Complete Factory Automation</li>
                                <li>Smart Warehouse Management System</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-section" id="smart-healthcare">
    <div class="container">
        <div class="section-view right">
            <div class="row g-0 order-change">
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>Smart Healthcare</h2>
                        <p>
                            IoT expertise to improve operational efficiencies, enhance user experiences and create a digital
                            business by connecting people, processes and information together. IoT expertise to improve
                            operational efficiencies, enhance user experiences and create a digital business by connecting
                            people, processes and information together. We build smart products that harness the power of
                            machine learning and advanced analytics to help you become more efficient; providing integrated
                            services to deliver and manage IoT services.
                        </p>

                        <div class="service-list">
                            <ul>
                                <li>Remote Patient Diagnostics</li>
                                <li>Remote health monitoring</li>
                                <li>Smart Inventory Management</li>
                                <li>Hospital Mobility Solutions</li>
                                <li>Smart watch monitoring</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../assets/images/smart-healthcare.jpg" class="img-fluid ser_img" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">Technologies</h5>
                    <div class="sec-title"><h2>Technology Expertise</h2></div>
                </div>
            </div>
        </div>
        <!--Sortable Galery-->
        <div class="sortable-masonry1">
            <div class="items-container row clearfix justify-content-center">
                <!-- Case Block -->
                <div class="case-block-one masonry-item col-4 col-sm-4 col-md-3 col-lg-2">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../assets/images/icons/maven.svg" alt="" />
                        </div>
                        <h5>Maven</h5>
                    </div>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../assets/images/icons/jenkins.svg" alt="" />
                        </div>
                        <h5>Jenkins</h5>
                    </div>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../assets/images/icons/selenium.svg" alt="" />
                        </div>
                        <h5>Selenium</h5>
                    </div>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../assets/images/icons/cucumber.svg" alt="" />
                        </div>
                        <h5>Cucumber</h5>
                    </div>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../assets/images/icons/mantis.png" alt="" />
                        </div>
                        <h5>Mantis</h5>
                    </div>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../assets/images/icons/jira.svg" alt="" />
                        </div>
                        <h5>JIRA</h5>
                    </div>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../assets/images/icons/Bugzilla.svg" alt="" />
                        </div>
                        <h5>Bugzilla</h5>
                    </div>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../assets/images/icons/redmine.png" alt="" />
                        </div>
                        <h5>Redmine</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")
