
@{
    ViewBag.Title = "LifeAtAvidclan";
}

@*<title>Top Software, Web & Mobile App Development Company in India</title>*@
@section AdditionalMeta
{
    <title>A Glimpse of Life at Avidclan Technologies | Join Our Innovative Team</title>
    <meta name="description" content="Explore the vibrant work culture at Avidclan Technologies, where growth, creativity, collaboration, and enjoyment drive our endeavors. Take your career to new heights with us.">
    <link rel="canonical" href="https://www.avidclan.com/life-at-avidclan/" />
    <link rel="stylesheet" href="~/assets/css/Avidclan/career.css" />
}
<!-- Career Section -->
<section class="inner-page contact-section">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <h1>Who says work can’t <span class="primary-color">be fun?</span></h1>
                        <div class="text">
                            Avidclan is the place where our goal has been and will always be to consistently build a fun,
                            diverse, and inclusive workforce that enables all team members to unleash their potential.
                        </div>
                    </div>
                </div>
                <div class="image col-md-4">
                    <img src="~/assets/images/contact-us-img.svg" alt="contact-us-img" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Process Section -->
<section class="process-section hiring-process">
    <div class="auto-container">
        <div class="sec-top row m-0 justify-content-center">
            <div class="col-md-8">
                <div class="sec-title text-center">
                    <h2 class="mb-sm-30">Some Reasons To Join Us</h2>
                    <p class="mt-0">
                        Culture is simply a shared way of doing something with a passion. Right environment keeps you
                        energized and motivated to achieve your goals.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center benefits">
            <div class="col-lg-3">
                <div class="inner-box">
                    <div class="icon">
                        <img src="~/assets/images/5-days.svg" alt="5-days" />
                    </div>
                    <h4>5 Days Working</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="inner-box">
                    <div class="icon">
                        <img src="~/assets/images/medical-insurance.svg" alt="medical-insurance" />
                    </div>
                    <h4>Medical Insurance</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="inner-box">
                    <div class="icon">
                        <img src="~/assets/images/flexible-time.svg" alt="flexible-time" />
                    </div>
                    <h4>Flexible Time</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="inner-box">
                    <div class="icon">
                        <img src="~/assets/images/bonus.svg" alt="bonus" />
                    </div>
                    <h4>Referral Bonus</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="inner-box">
                    <div class="icon">
                        <img src="~/assets/images/door-policy.svg" alt="door-policy" />
                    </div>
                    <h4>Open Door policy</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="inner-box">
                    <div class="icon">
                        <img src="~/assets/images/l-and-d.svg" alt="i-and-d" />
                    </div>
                    <h4>Learning and Development</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="inner-box">
                    <div class="icon">
                        <img src="~/assets/images/remote-working.svg" alt="remote-working" />
                    </div>
                    <h4>Remote Working</h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="inner-box">
                    <div class="icon">
                        <img src="~/assets/images/rewards.svg" alt="rewards" />
                    </div>
                    <h4>Appreciations & Rewards</h4>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")
