
@{
    ViewBag.Title = "Portfolio";
}
<title>Top Software, Web & Mobile App Development Company in India</title>
<meta name="title" content="Top Software, Web & Mobile App Development Company in India" />
<section class="inner-page">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div>
                        <h1>We Turn Your Idea Into <span class="primary-color">Reality</span></h1>
                        <div class="text">
                            Our happiness lies in the history we share with our clients and customers! We make every effort to
                            turn your idea into reality that changes user perspective. Have a look at our Portfolio.
                        </div>
                    </div>
                </div>
                <div class="image col-md-12 col-lg-4">
                    <img src="~/assets/images/portfolio.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-section">
    <div class="auto-container">
        <div class="sortable-masonry">
            <!--Filter-->
            <div class="filters clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="filter active" data-role="button" data-filter=".por-1">Web</li>
                    <li class="filter" data-role="button" data-filter=".por-2">Mobile</li>
                    <!-- <li class="filter" data-role="button" data-filter=".por-3">UI/UX</li> -->
                </ul>
            </div>

            <div class="items-container row clearfix">
                <div class="project-block-five masonry-item por-1 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/expo-mobile-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Expo Mobile</h4>
                                <p>
                                    Web application used by network service providers to manage their prepaid and postpid customers,
                                    recharge, billing, refund, support.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-1 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/cavinessandcates-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Caviness & Cates Communities</h4>
                                <p>
                                    Real estate based web application which helps its end users to find suitable home that best fits
                                    their requirements.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-1 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/progress-retail-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Progress Retail</h4>
                                <p>
                                    Personalized retail education platform, with retail operations tools that make retail easier,
                                    and assist in decreasing employee turnover.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-1 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/reebonz-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Reebonz</h4>
                                <p>
                                    An online platform for buying and selling the widest range of bags, caps, men and women
                                    accessories.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-1 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/ondeck-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Ondeck</h4>
                                <p>
                                    Web application based on finance domain which helps managing loan, cash flow, payroll, credit
                                    line.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-1 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/eargoprise-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Ergoprise</h4>
                                <p>
                                    E-commerce platform offering a huge variety of standing desks, sit stand workstation, ergonomic
                                    office furniture, ergonomic chairs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-1 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/elite-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Elite</h4>
                                <p>
                                    An admin portal for SMS marketing business used to get the insights of the end-user web
                                    application.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-1 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/grizzlybolt-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>GrizzlyBolt</h4>
                                <p>
                                    Web application based on petroleum industry to forecast oil, gas and water reserviors for the
                                    coming years.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-1 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/SRG-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>SRG</h4>
                                <p>
                                    Web application that helps diamond manufacturing companies to determine the precision and
                                    analyze reports.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/e-shala-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>E-Shala</h4>
                                <p>
                                    School management app used by teachers and students to manage attendance, assignments and more
                                    activities.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/prizai-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Prizai</h4>
                                <p>
                                    App used by customers wanting to get salon services online by getting benefit of various
                                    referral programs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/improve-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Improve</h4>
                                <p>
                                    App focused on health and fitness factors, which engages its user to get fit by providing
                                    knowledge on diet, exercise.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/hotel-lemonade-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Hotel Lemonade</h4>
                                <p>
                                    App that allows customers to book hotel room, browse menu, search for nearby events and contact
                                    a concierge.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/salon-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Grabdeal</h4>
                                <p>
                                    Search engine based app that allows users to find the best deals in their city, nearby areas and
                                    check their reviews.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/klixtersM-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Klixters</h4>
                                <p>
                                    Klixters is a fun and simple rewards network. To get in you’ll need an invitation from someone
                                    who’s already in Klixters.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/boltwellM-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Boltwell</h4>
                                <p>
                                    Mobile app to generate forecast reports for oil, gas and water reserviors for the coming years
                                    and maintaining wells.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/bladeportM-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Bladeport</h4>
                                <p>
                                    Bladeport is an application used internally for task management, emails and live conversation
                                    among the team members.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/medicinedeck-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Medsure</h4>
                                <p>
                                    Online pharmacy app that delivers medicines to the customers based on practitioner's
                                    prescription.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-none project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/ecafe360-portfolio.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>ecafe 360</h4>
                                <p>
                                    App focused on news, live feeds, story publications, viewer feedback and viewer engagement
                                    activities.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@Html.Partial("_Footer")