@using reCAPTCHA.MVC
@{
    ViewBag.Title = "Services";
}
@*<title>Top Software, Web & Mobile App Development Company in India</title>*@
@section AdditionalMeta
{
    <title>Our IT Services - Software, Web, Mobile, and More for Business</title>
    <meta name="description" content="Explore Avidclan Technologies' full range of IT services. We provide custom solutions to drive innovation and success for businesses of all sizes." />
    <link rel="canonical" href="https://www.avidclan.com/services/" />
    <link rel="stylesheet" href="~/assets/css/Avidclan/services.css" />
    <link rel="stylesheet" href="~/assets/css/intlTelInput.css" />
}
<section class="inner-page">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div>
                        <h1>Delivering <span class="primary-color">Comprehensive IT Services </span> and Solutions</h1>
                        <div class="text">
                            Delivering the most stunning & interactive Trending IT Solutions as per today’s market need is our
                            motto! We believe in providing the best service to our clients to ensure a long-term partnership.
                            Scroll down to know the services we offer.
                        </div>
                    </div>
                </div>
                <div class="image col-md-12 col-lg-6">
                    <img src="~/assets/images/services-img.svg" alt="services-image" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-section">
    <div class="container">
        <div class="section-view right">
            <div class="row g-0 order-change">
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>Web Development</h2>
                        <p>
                            Our industry and technology engineering experts help you to discover your business potential to
                            shape products, solutions, services and digital experiences that you offer. Our services span from
                            pre to post product lifecycle phases, which also encompasses re-engineering approaches for better
                            business agility. We combine its business knowledge with product engineering proficiencies to help
                            you build disruptive products.
                        </p>
                        <div class="technology-ic-list">
                            <ul>
                                <li>
                                    <div data-bs-toggle="tooltip" title=".NET">
                                        <img src="~/assets/images/icons/dotnet.svg" alt="dot-net-framework" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="Java">
                                        <img src="~/assets/images/icons/java.svg" alt="java-application-development-company" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="Php"><img src="~/assets/images/icons/php.svg" alt="php-development-company" /></div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="HTML5">
                                        <img src="~/assets/images/icons/html5.svg" alt="html5-web-development-company" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="MongoDB">
                                        <img src="~/assets/images/icons/mongodb.svg" alt="mongodb-nodejs" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="AngularJS">
                                        <img src="~/assets/images/icons/angular.svg" alt="angular-development-company" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="NodeJS">
                                        <img src="~/assets/images/icons/nodejs.svg" alt="nodejs- development-company" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="SQL Server">
                                        <img src="~/assets/images/icons/sql-server.svg" alt="sql-server-badge" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="service-list">
                            <ul class="two-cols">
                                <li>Web Application Development</li>
                                <li>Custom Web Development</li>
                                <li>Responsive Web Apps</li>
                                <li>Custom ERP Web App</li>
                            </ul>
                        </div>
                        <div class="btn-box mt-3">
                            <a href="~/web-development-services/" target="_blank" class="btn btn-primary fw-bold rounded-5 custom-btn-padding">
                                <span>
                                    Read More
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="~/assets/images/web-dev-service.jpg" class="img-fluid ser_img" alt="web-development-services" />
                </div>
            </div>
        </div>
    </div>
</section>


<section class="service-section">
    <div class="container">
        <div class="section-view">
            <div class="row g-0">
                <div class="col-lg-6">
                    <img src="~/assets/images/mobile-dev-service.jpg" class="img-fluid ser_img" alt="mobile-development-service" />
                </div>
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>Mobile Apps Development</h2>
                        <p>
                            We offer responsive and mobile-friendly softwares to help you build the most interactive web
                            applications with our experienced and artistic developers, who are crafting apps using innovative
                            and modern ideas. We emphasize on providing you with engineering result-oriented business solutions
                            that help streamline your digital transformation journey.
                        </p>
                        <div class="technology-ic-list">
                            <ul>
                                <li>
                                    <div data-bs-toggle="tooltip" title="iOS"><img src="~/assets/images/icons/ios.svg" alt="ios-app-development" /></div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="Android">
                                        <img src="~/assets/images/icons/android.svg" alt="android-app-development-company" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="React Native">
                                        <img src="~/assets/images/icons/react-native.svg" alt="react-native-app-development" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="Xamarin">
                                        <img src="~/assets/images/icons/xamarin.svg" alt="xamarin-android-app-development" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="Phone Gap">
                                        <img src="~/assets/images/icons/phonegap.svg" alt="phonegap" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="service-list">
                            <ul class="two-cols">
                                <li>Android App Development</li>
                                <li>iOS App Development</li>
                                <li>Hybrid App Development</li>
                                <li>Cross-platform App Development</li>
                                <li>React Native App Development</li>
                                <li>Flutter App Development</li>
                                <li>Xamarin App Development</li>
                            </ul>
                        </div>
                        <div class="btn-box mt-3">
                            <a href="~/mobile-application-development/" target="_blank" class="btn btn-primary fw-bold rounded-5 custom-btn-padding">
                                <span>
                                    Read More
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-section">
    <div class="container">
        <div class="section-view right">
            <div class="row g-0 order-change">
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>UI/UX Design</h2>
                        <p>
                            Customer-centricity is the new normal that pushes businesses to deliver personalized digital
                            experiences to influence positive sentiments about the product in the market and achieve a higher
                            degree of satisfaction. We identify the right set of tools, technology and technique to shape the
                            way your business can create a lasting impression and establish brand recall, keeping scalability,
                            efficiency and experience at the forefront.
                        </p>
                        <div class="technology-ic-list">
                            <ul>
                                <li>
                                    <div data-bs-toggle="tooltip" title="Sketch">
                                        <img src="~/assets/images/icons/sketch.svg" alt="sketch" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="Adobe Illustrator">
                                        <img src="~/assets/images/icons/AI.svg" alt="AI-articficial-intelligence" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="Adobe Photoshop">
                                        <img src="~/assets/images/icons/photoshop.svg" alt="photoshop-designing" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="Invision">
                                        <img src="~/assets/images/icons/invision.svg" alt="invision" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="Figma">
                                        <img src="~/assets/images/icons/figma.svg" alt="figma" />
                                    </div>
                                </li>
                                <li>
                                    <div data-bs-toggle="tooltip" title="Adobe XD">
                                        <img src="~/assets/images/icons/adobe-xd.svg" alt="adobe-xd" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="service-list">
                            <ul class="two-cols">
                                <li>UI Design & UX Analysis</li>
                                <li>Responsive Web Design</li>
                                <li>Wireframes Designing</li>
                                <li>Mobile App Design</li>
                            </ul>
                        </div>

                        <div class="btn-box mt-3">
                            <a href="~/design/" target="_blank" class="btn btn-primary fw-bold rounded-5 custom-btn-padding">
                                <span>
                                    Read More
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="~/assets/images/uiux-design.jpg" class="img-fluid ser_img" alt="ui-ux-design-company" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-section">
    <div class="container">
        <div class="section-view">
            <div class="row g-0">
                <div class="col-lg-6">
                    <img src="~/assets/images/iot-service.jpg" class="img-fluid ser_img" alt="iot-development-company" />
                </div>
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>IoT Solutions</h2>
                        <p>
                            We are specialized in handling different types of IoT app development as per different industry
                            requirements. We promise to deliver Smart Products and Smart Solutions to transform the current
                            Enterprise Industry. We strive to catalyze growth with cutting-edge solutions that accelerate
                            innovation, revenue and sustainability. We deliver enterprise and consumer Internet of Things
                            applications to support smart initiatives from security to home automation to industrial IoT that
                            can transform your business operations and lives.
                        </p>
                        <div class="service-list">
                            <ul class="two-cols">
                                <li>Industrial IoT Automation</li>
                                <li>IoT App Development</li>
                                <li>Smart Home Automation</li>
                                <li>APIs & Backend</li>
                                <li>IoT Cloud Integration</li>
                                <li>IoT System Integration</li>
                            </ul>
                        </div>
                        <div class="btn-box mt-3">
                            <a href="~/iot-service-providers/" target="_blank" class="btn btn-primary fw-bold rounded-5 custom-btn-padding">
                                <span>
                                    Read More
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-section mb-4">
    <div class="container">
        <div class="section-view right">
            <div class="row order-change">
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>Quality Assurance (QA)</h2>
                        <p>
                            To successfully battle the changing technology market, product organizations launch their
                            applications in different platforms and devices. As a testing organization, we have build our
                            specialty in mobile testing services, particularly in testing applications on Android and iOS
                            gadgets, that covers a scope around the human interface guidelines. We likewise play out a wide
                            range of native, hybrid and web applications testing with an enhanced mobile test automation
                            approach.
                        </p>
                        <div class="service-list">
                            <ul class="two-cols">
                                <li>Web Testing Automation</li>
                                <li>Manual QA Testing</li>
                                <li>Mobile App Testing</li>
                                <li>Performance Testing</li>
                            </ul>
                        </div>

                        <div class="btn-box mt-3">
                            <a href="~/quality-assurance-services/" target="_blank" class="btn btn-primary fw-bold rounded-5 custom-btn-padding">
                                <span>
                                    Read More
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="~/assets/images/QA-service.jpg" class="img-fluid ser_img" alt="qa-service" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-section">
    <div class="container">
        <div class="section-view">
            <div class="row g-0">
                <div class="col-lg-6">
                    <img src="~/assets/images/Ai-ML-development.png" class="img-fluid ser_img" alt="ai-ml-development-company" />
                </div>
                <div class="col-lg-6">
                    <div class="sec-title ps-5 pe-5 pt-5">
                        <h2>AI/ML Development</h2>
                        <p>
                            Leverage AI and ML for intelligence-driven decisions and operational excellence. As AI/ML development company, we build custom AI/ML solutions to automate processes, optimize workflows, and generate insights. Our cutting-edge AI/ML applications range from machine learning services to predictive analytics and natural language processing, assisting businesses in maintaining a competitive edge, improving customer experience, and opening pathways to new growth opportunities
                        </p>
                        <div class="service-list">
                            <ul class="two-cols">
                                <li>Custom AI/ML Model Development</li>
                                <li>AI/ML Consultancy</li>
                                <li>Generative AI</li>
                                <li>Predictive Analytics</li>
                                <li>Natural Language Processing (NLP)</li>
                                <li>Deep Learning Solutions</li>
                                <li>AI as a Service (AIaaS)</li>
                            </ul>
                        </div>
                        <div class="btn-box mt-3">
                            <a href="~/ai-development-company" target="_blank" class="btn btn-primary fw-bold rounded-5 custom-btn-padding">
                                <span>
                                    Read More
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="inquiry-section" id="inquiry-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="avidclan_ralign_subtitle">HIRING DEVELOPERS</h4>
                <div class="sec-title mb-0">
                    <h2>Hire Dedicated Developers</h2>
                </div>
                <p>
                    Scale your delivery capacity with intelligent dedicated developers. Our clients succeed by leveraging
                    Avidclan Technologies' process of building, motivating, and managing web & mobile app development
                    teams. Our dedicated developers have experience in providing end to end solutions to various startups
                    and enterprise in more than 30 countries. We have a rock star team of experienced people whom you can
                    hire and get satisfactory results.
                </p>
                <div class="service-list">
                    <ul class="two-cols">
                        <li>Onsite Hiring</li>
                        <li>Offsite Hiring</li>
                        <li>Fixed Rate Hiring</li>
                        <li>Hourly Hiring</li>
                        <li>Dedicated Hiring</li>
                    </ul>
                </div>
                <div class="sec-title pr-5 pt-5 mt-4 p-sm-0"></div>
            </div>
            <div class="col-md-6 contact-form-section">
                <img src="~/assets/images/hire-developer.svg" alt="hire-developer" />
            </div>
        </div>
    </div>
</section>

<section class="project-inquiry" id="project_inquiry_form">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">READY TO START A PROJECT?</h5>
                    <div class="sec-title"><h2>To start, use form below to tell us about you and the project</h2></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <form method="post"
                      class="contact-form project_form"
                      name="project_form_data">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" name="firstname" id="firstname" placeholder="First Name" />
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" name="lastname" id="lastname" placeholder="Last Name" />
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="Your Email Address" />
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="phone" class="w-100">Phone</label>
                            <input id="scode" value="scode" type="hidden" name="scode" />
                            <input type="tel" name="phone" id="phone" class="numberonly" />
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="servicename">Select a Service</label>
                            <select class="dropdownservice" name="servicename" id="servicename">
                                <option value="">Select</option>
                                <option value="UI/UX Design">UI/UX Design</option>
                                <option value="Web Development">Web Development</option>
                                <option value="Mobile Application Development">Mobile Application Development</option>
                                <option value="Sharepoint Consulting">Sharepoint Consulting</option>
                                <option value="Microsoft Dynamics CRM">Microsoft Dynamics CRM</option>
                            </select>
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="budget">Budget</label>
                            <select class="dropdownservice" name="budget" id="budget">
                                <option value="">Select</option>
                                <option value="Less than one Thousand">< $1K</option>
                                <option value="In between one to five Thousand">$1K - $5K</option>
                                <option value="In between five to ten Thousand">$5K - $10K</option>
                                <option value="More than Ten Thousand">> $10K</option>
                            </select>
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="starttime">How soon you want to start?</label>
                            <select class="dropdownservice" name="starttime" id="starttime">
                                <option value="">Select</option>
                                <option value="Right Now">Right now</option>
                                <option value="In few Weeks">In few weeks</option>
                                <option value="In few months">In few months</option>
                            </select>
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="prequirement">Requirement</label>
                            <select class="dropdownservice" name="prequirement" id="prequirement">
                                <option value="">Select</option>
                                <option value="Hire Dedicated Team">Hire Dedicated Team</option>
                                <option value="New Project">New Project</option>
                                <option value="Existing Project">Existing Project</option>
                                <option value="Support & Maintenance">Support & Maintenance</option>
                            </select>
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="projectbrief">Brief about the project</label>
                            <textarea name="projectbrief" placeholder="" rows="10" id="projectbrief" maxlength="800"></textarea>
                        </div>

                        <div class="col-md-4 form-group">
                            <label>Please verify you are a human</label>
                            @Html.Recaptcha()
                            @*<div class="g-recaptcha" data-sitekey="6Lc7VFgjAAAAAJQuEw_pFI_HgbdU6SVsO5uc4QIt"></div>*@
                        </div>

                        <div class="col-md-6 form-group my-auto text-end">
                            <button class="theme-btn btn-style-one" type="submit" name="submit" id="btnSendEmail">
                                <span class="btn-title">
                                    Let's Talk
                                    <div id="button-spinner" style="margin-left: 10px; width: 15px; height: 15px; display: none" class="spinner-border"></div>
                                </span>
                            </button>
                        </div>
                    </div>
                    <!-- form message -->
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success project_msg mt-2 mb-0" style="display: none" role="alert"></div>
                        </div>
                    </div>
                    <!-- end message -->
                </form>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")

