
@section AdditionalMeta
{
    <title>Terms of Service and Usage Policy | Avidclan Technologies</title>
    <meta name="description"
          content="Avidclan Technologies' Terms of Service outlining service usage, user responsibilities, legal conditions, and policies governing our IT and software development services." />
    <link rel="canonical" href="https://www.avidclan.com/terms-of-service/" />
    @*<link rel="stylesheet" href="~/assets/css/Avidclan/blogDetails.css" />*@

}
<style>
    .custom-bullets li {
        list-style-type: disc !important; /* force normal bullets */
        list-style-position: inside !important; /* bullet visible inside padding */
        color: black !important; /* text color */
        margin-bottom: 0.5rem; /* spacing between items */
    }

    .custom-bullets {
        padding-left: 1.5rem !important; /* indent to show bullets */
    }
</style>
<section class="custom-padding-top-pr2025">
    <div class="container">
        <div class="row justify-content-center">

            <!-- center box but left-aligned text -->
            <div class="col-lg-12 col-md-12 text-start" style="text-align:justify !important;">
                <h1 class="text-center fw-semibold mb-5">Terms of Service</h1>

                <h6 class="mb-3">Last Updated: December 17, 2025</h6>

                <p class="text-muted mb-4">Welcome to Avidclan Technologies! These Terms of Service outline the guidelines for using our website and services. By accessing our website or engaging with any of our offerings, you acknowledge and accept these terms. We encourage you to read through them carefully to understand your rights and responsibilities. These Terms apply to all visitors, users, and clients who interact with our platform or services in any capacity. We reserve the right to update these terms periodically, and continued use of our services indicates your acceptance of any modifications.</p>

                <h2 class="fw-normal mb-2">Definitions</h2>

                <p class="text-muted mb-3">
                    To help you understand these terms more clearly, here are some key terms we use throughout this document:
                </p>

                <h5 class="mb-4">
                    "We", "us", "our", or "Company" refers to:
                </h5>

                <ul class="custom-bullets mb-4">
                    <li class="text-muted"> Avidclan Technologies.</li>
                    <li class="text-muted"> Our website, services, and team. </li>
                    <li class="text-muted"> All associated pages, subdomains, and digital properties.</li>
                </ul>

                <h5 class="mb-4">
                    "User", "you", or "your" refers to:
                </h5>

                <ul class="custom-bullets mb-4">
                    <li class="text-muted"> Any individual accessing our website.</li>
                    <li class="text-muted"> Businesses or entities using our services. </li>
                    <li class="text-muted"> Anyone engaging with our platform in any capacity.</li>
                </ul>

                <h5 class="mb-4">
                    "Website" refers to:
                </h5>

                <ul class="custom-bullets mb-4">
                    <li class="text-muted"><a href="/" target="_blank">www.avidclan.com </a> </li>
                    <li class="text-muted">This includes all associated pages and subdomains.</li>
                    <li class="text-muted">Digital properties owned and operated by us.</li>
                </ul>

                <h5 class="mb-4">"Services" refers to: </h5>

                <ul class="custom-bullets mb-4">
                    <li class="text-muted"> Web development and mobile application development.</li>
                    <li class="text-muted"> UI/UX design and consulting services.</li>
                    <li class="text-muted"> Any other digital solutions we provide.</li>
                </ul>

                <h5 class="mb-4">"Content" refers to: </h5>

                <ul class="custom-bullets mb-4">
                    <li class="text-muted"> Text, images, graphics, videos, and code.</li>
                    <li class="text-muted"> Data, information, and designs.</li>
                    <li class="text-muted"> Any materials available on or through our website.</li>
                </ul>

                <h2 class="fw-normal mb-2">Use of Website & Intellectual Property Rights</h2>
                <p class="text-muted mb-4">
                    By accessing and using our website, you agree to comply with the terms outlined in this section and interact with the platform responsibly. We aim to provide information about our services, showcase our portfolio, and facilitate genuine business communication through our website. You are welcome to explore our content and contact us for legitimate professional inquiries.
                </p>

                <h5 class="mb-4">All materials on this website are the exclusive intellectual property of Avidclan Technologies or our licensors. This includes:</h5>

                <ul class="custom-bullets mb-4">
                    <li class="text-muted"> Logo and branding elements.</li>
                    <li class="text-muted"> Website design, graphics, and text.</li>
                    <li class="text-muted"> Code and technical implementations.</li>
                    <li class="text-muted"> Portfolio projects and case studies.</li>
                    <li class="text-muted"> Images, videos, and multimedia content.</li>
                </ul>

                <p class="text-muted mb-3">
                    These materials are protected under applicable copyright, trademark, and intellectual property laws. You may use our content strictly for personal and non-commercial purposes.
                </p>

                <h5 class="mb-4">You are not permitted to:</h5>

                <ul class="custom-bullets mb-4">
                    <li class="text-muted"> Copy, reproduce, or republish website content.</li>
                    <li class="text-muted"> Modify or create derivative works.</li>
                    <li class="text-muted"> Upload, transmit, or distribute materials.</li>
                    <li class="text-muted"> Use automated tools, bots, or scraping technologies to extract data.</li>
                    <li class="text-muted"> Use any content for public, commercial, or competitive purposes.</li>
                </ul>

                <p class="text-muted mb-3">
                    Unauthorized use of our materials may violate intellectual property laws.
                </p>

                <p class="text-muted mb-3">
                    Portfolio and case study items displayed on our website represent work completed for clients. Unless stated otherwise in a written agreement, ownership of these deliverables belongs to the client upon full payment. Avidclan Technologies may showcase completed work in our portfolio, case studies, and marketing materials unless contractually restricted. Any third-party tools or software used in development remain governed by their respective licenses.
                </p>
                <p class="text-muted mb-3">
                    You agree not to submit harmful, offensive, or illegal content through our website and to maintain the integrity of our digital space. Our website may contain links to third-party sites, and we are not responsible for their content or practices. If you believe any material on our site infringes your intellectual property rights, please contact us immediately.
                </p>

                <h2 class="fw-normal mb-2">Limitation of Liability</h2>

                <p class="text-muted mb-3">
                    To the fullest extent allowed by law, Avidclan Technologies will not be responsible for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits. This includes revenue loss, whether direct or indirect, as well as any loss of data, usage, goodwill, or other intangible losses that result from:
                </p>

                <ul class="custom-bullets mb-4">
                    <li class="text-muted"> This refers to your ability or inability to use our website or services.</li>
                    <li class="text-muted"> Unauthorized access to or use of our servers.</li>
                    <li class="text-muted"> Bugs, viruses, or harmful code are transmitted through our platform.</li>
                    <li class="text-muted"> Any errors or omissions in content.</li>
                </ul>

                <p class="text-muted mb-3">
                    While we strive to maintain accurate and reliable information on our website, we make no warranties or representations about the completeness, accuracy, or reliability of any content. Your use of our website is at your own risk, and you assume full responsibility for any decisions made based on information found here.
                </p>

                <h2 class="fw-normal mb-2">Third-Party Links and Services</h2>

                <p class="text-muted mb-3">
                    Our website may contain links to third-party websites, applications, services, or resources that are not owned or controlled by Avidclan Technologies. These links are provided for your convenience and informational purposes only. We do not endorse, monitor, or assume any responsibility for:
                </p>

                <ul class="custom-bullets mb-4">
                    <li class="text-muted"> Content on third-party websites.</li>
                    <li class="text-muted"> Privacy policies and practices for external sites.</li>
                    <li class="text-muted"> Services or accuracy of linked websites.</li>
                    <li class="text-muted"> Terms and conditions of third-party platforms.</li>
                </ul>

                <p class="text-muted mb-3">
                    When you click on external links and leave our website, you do so at your own risk and subject to the terms and policies of those third-party sites. We strongly encourage you to review the terms of service and privacy policies of any third-party websites you visit. Additionally, we may integrate third-party tools, plugins, or services into our website to enhance functionality and user experience. These third-party services operate under their terms and conditions, and we are not liable for any issues arising from their use.
                </p>

                <h2 class="fw-normal mb-2">Children Under Thirteen</h2>

                <p class="text-muted mb-3">
                    Our website is accessible to all ages. However, we do not knowingly collect personal information from children under thirteen without parental consent. Parents should monitor their children's online activities and are responsible for any information provided on their behalf. If we become aware that we have inadvertently collected information from a child under thirteen without proper consent, we will take immediate steps to delete such information from our records.
                </p>

                <h2 class="fw-normal mb-2">Disclaimer</h2>

                <p class="text-muted mb-3">
                    Our website and all content, information, and services provided are offered on an "as is" and "as available" basis without any warranties of any kind, either express or implied. Avidclan Technologies makes no representations or warranties regarding the accuracy, completeness, reliability, or timeliness of any content or information on our website. We do not warrant that our website will be uninterrupted, secure, or free from errors, viruses, or other harmful components.
                </p>

                <p class="text-muted mb-3">
                    Although we try our best to provide accurate and high-quality information, we do not guarantee any promises about it being reliable, suitable for your needs, or non-violative of any rights. Any material downloaded or obtained through our website is accessed at your own discretion and risk, and you will be solely responsible for any damage to your computer system or loss of data that results from such downloads. We do not guarantee specific results from using our website or services, and any testimonials or case studies presented represent individual experiences that may not be typical.
                </p>

                <h2 class="fw-normal mb-2">Privacy and Data Protection</h2>

                <p class="text-muted mb-3">
                    Your privacy is important to us. We handle the information you provide through our website, including contact forms, email communications, or any other interactions, in accordance with our Privacy Policy. We collect personal data such as your name and email address. We collect your phone number and project requirements solely to respond to inquiries and provide our services. We implement reasonable security measures to protect your information from unauthorized access, disclosure, or misuse. For detailed information about how we collect, use, store, and protect your data, please refer to our complete Privacy Policy available on our website.
                </p>

                <h2 class="fw-normal mb-2">Indemnification</h2>

                <p class="text-muted mb-3">
                    By using our website and services, you agree to protect Avidclan Technologies and its team from any legal claims, costs, or damages that come up because of how you use or misuse our website, break these terms, or violate someone else's rights. This also covers any content you send through our website. This responsibility will continue even after you stop using our website. This obligation includes any content you submit or transmit through our website. This indemnification obligation will survive the termination of these terms and your use of our website. We reserve the right to assume exclusive defense and control of any matter subject to indemnification by you, and you agree to cooperate with our defense of such claims.
                </p>

                <h2 class="fw-normal mb-2">Modifications to Terms</h2>

                <p class="text-muted mb-3">
                    We reserve the right to modify, update, or revise these Terms of Service at any time to reflect changes in our practices, services, or legal requirements. Any modifications will be effective immediately upon posting on our website with an updated "Last Updated" date at the top of this document. Once we post changes to our website, your continued use of it signifies your acceptance of the revised terms. We encourage you to review these terms periodically to stay informed about any updates.
                </p>

                <h2 class="fw-normal mb-2">Termination and Access</h2>

                <p class="text-muted mb-3">
                    We reserve the right to restrict, suspend, or terminate your access to our website at any time without prior notice if we believe you have violated these terms or engaged in unlawful conduct. You may stop using our website at any time without notice. When you stop using our website, some parts of these terms will still apply, like rules about intellectual property, disclaimers, responsibilities for damages, and liability limits.
                </p>

                <h2 class="fw-normal mb-2">Contact Information</h2>

                <p class="text-muted mb-5">
                    If you need any clarification, have any concerns, or have any inquiries regarding these<a href="#"> Terms of Service </a>or any aspect of our website and services, please feel free to contact us. We are here to assist you and address any issues you may have promptly and professionally.
                </p>
            </div>

        </div>
    </div>
</section>

@Html.Partial("_Footer")
