
@{
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>


<button type="button" class="btn btn-primary" data-target="#exampleModal" id="AddJobPosition">
    Add New Job Position
</button>

<div class="modal" id="AddNewJobPositionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Job Position</h5>
            </div>
            <div class="modal-body">
                <form class="JobPositionForm" name="JobPositionForm">
                    <input type="hidden" class="form-control" id="CareerId">
                    <div class="form-group">
                        <label for="JobTitle"> Job Title</label>
                        <input type="text" class="form-control" id="JobTitle" name="jobtitle" placeholder="Job Title" required>
                    </div>
                    <div class="form-group">
                        <label for="Experience">Experience</label>
                        <input type="text" class="form-control" id="Experience" name="experience" placeholder="Experience">
                    </div>
                    <div class="form-group">
                        <label for="Location">Location</label>
                        <input type="text" class="form-control" id="Location" name="location" placeholder="Location">
                    </div>
                    <div class="form-group">
                        <label for="NoOfPosition">No of Position</label>
                        <input id="NoOfPosition" type="number" class="form-control" name="position" placeholder="No Of Position" />
                    </div>
                    <div class="form-group">
                        <label for="Responsibilities">Responsibilities</label>
                        <textarea type="text" class="ckeditor" id="Responsibilities" name="responsibilties"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Qualification">Qualification</label>
                        <input type="text" class="form-control" id="Qualification" name="qualification" placeholder="Qualification">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="ResetJobPositionForm();">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="table-responsive pt-3">
    <table id="CurrentOpeningsList" class="table table-bordered table-responsive">
        <thead>
            <tr>
                @*<th> Id </th>*@
                <th> Job Title </th>
                <th> Experience </th>
                <th> Location </th>
                <th> No of Position </th>
                <th>Qualification</th>
                <th>Order Position</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">
    var validator;
    $(function () {
        validator = $("form[name='JobPositionForm']").validate({
            ignore: [],
            rules: {
                jobtitle: { required: true, },
                experience: { required: true, },
                location: { required: true, },
                position: { required: true, },
                qualification: { required: true, }
            },
            messages: {
                jobtitle: { required: "Please enter a jobtitle", },
                experience: { required: "Please enter experience", },
                location: { required: "Please enter location", },
                position: { required: "Please enter a position", },
                qualification: { required: "Please enter qualification", }
            },

            submitHandler: function (form) {
                SaveJobPosition();
            }

        });
        GetJobPositionList();
    });



    $('#AddJobPosition').click(function () {
        $("#AddNewJobPositionModal").modal('show');
    });

    function SaveJobPosition() {
        if (CKEDITOR.instances['Responsibilities'].getData().length == 0) {
            $("<label id='Responsibility-error' class='error' for='Responsibilty'>Please enter Responsibilties</label>").insertAfter("#cke_Responsibilities");
            return
        }
        var data = {
            Id: $("#CareerId").val(),
            JobTitle: $("#JobTitle").val(),
            Experience: $("#Experience").val(),
            Location: $("#Location").val(),
            NoOfPosition: $("#NoOfPosition").val(),
            Responsibilities: CKEDITOR.instances['Responsibilities'].getData(),
            Qualification: $("#Qualification").val(),
        }

        $.ajax({
            type: "POST",
            url: "/api/Admin/SaveJobPosition",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            success: function (result) {
                alert("success");
                GetJobPositionList();
                ResetJobPositionForm();

            },
            error: function (result) {
                alert("failure");
            },
        })

    }

    function GetJobPositionList() {
        $.ajax({
            type: "Get",
             url: "@Url.Action("GetJobPositionList", "BlogVacancy")",
            success: function (result) {
                $('#CurrentOpeningsList').dataTable({
                    destroy: true,
                    data: result,
                    order: [[5, 'asc']],
                    "columns": [
                        //{
                        //    "data": "Id"
                        //},
                        { "data": "JobTitle" },
                        { "data": "Experience"},
                        { "data": "Location" },
                        { "data": "NoOfPosition" },
                        { "data": "Qualification" },
                        { "data": "OrderPosition" },
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return '<a class="btn btn-info btn-sm" style="color: white;" onclick="EditCareerOption(' + data + ')"><i class="mdi mdi-pencil"></i></a>';
                            }
                        },
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return '<a class="btn btn-danger btn-sm" style="color: white;" onclick="DeleteCareerOption(' + data + ')"><i class="mdi mdi-delete"></i></a>';
                            }
                        }
                    ]
                });


            },
            error: function (result) {
                alert("failure");
            }
        });
    }


    function DeleteCareerOption(id) {
        if (confirm('Are you sure want to delete Career Option?')) {
            $.ajax({
                url: '@Url.Action("DeleteCareer", "BlogVacancy")',
                contentType: 'application/json',
                data: { Id: id },
                type: "GET",
                success: function (result) {
                    GetJobPositionList();
                    alert('Delete Successfully!');

                },
                error: function () {
                    alert('failure');
                }
            });
        }
        else {
            return;
        }
    }

    function EditCareerOption(id) {
        $("#AddNewJobPositionModal").modal('show');
        $.ajax({
            url: '@Url.Action("GetCareerById", "BlogVacancy")',
            contentType: 'application/json',
            data: { Id: id },
            type: "GET",
            success: function (result) {
                $("#CareerId").val(result.Id);
                $("#JobTitle").val(result.JobTitle);
                $("#Experience").val(result.Experience);
                $("#Location").val(result.Location);
                $("#NoOfPosition").val(result.NoOfPosition);
                CKEDITOR.instances['Responsibilities'].setData(result.Responsibilities);
                $("#Qualification").val(result.Qualification);
            },
            error: function () {
                alert('failure');
            }
        });
    }

    function ResetJobPositionForm() {
        validator.resetForm();
        $("#AddNewJobPositionModal").modal('hide');
        $("#CareerId").val(0);
        $("#JobTitle").val('');
        $("#Experience").val('');
        $("#Location").val('');
        $("#NoOfPosition").val('');
        /* $("#Responsibilities").val('');*/
        CKEDITOR.instances['Responsibilities'].setData('');
        $("#Qualification").val('');
    }

    $("#CurrentOpeningsList").sortable({
        items: 'tr',
        cursor: 'pointer',
        axis: 'y',
        dropOnEmpty: false,
        start: function (e, ui) {
            ui.item.addClass("selected");
        },
        stop: function (e, ui) {
            ui.item.removeClass("selected");
            UpdateOrderPosition();
        }
    });

    function UpdateOrderPosition() {
           var selectedData = new Array();
        var j = 1;
        $('#CurrentOpeningsList > tbody > tr').each(function () {
            var Id = $(this).find("td:eq(0)");
            var order = j;
            j++;
            var UpdatedOrder =  {
                Name: Id[0].innerHTML,
                Order: order
            }

            selectedData.push(UpdatedOrder);
        })
        $.ajax({
            url: '/api/Admin/UpdateOrder',
            contentType: 'application/json',
            data: JSON.stringify(selectedData),
            type: "POST",
            success: function (result) {
                GetJobPositionList();
            },
            error: function () {
                alert('failure');
            }
        });

        console.log(selectedData);
    }



</script>
