
@{
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

<button type="button" class="btn btn-primary" onclick="ShowEmployeRegisterModel()">
    Add New Employee
</button>

<div class="modal" id="EmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:100%">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Registration</h5>
                <button type="button" class="btn-close" aria-label="Close" onclick="ResetForm()"></button>
            </div>
            <div class="modal-body">
                <div class="login-form">
                    <form name="registration">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="EmployeeId">

                            <label for="firstName" class="required">FirstName</label>
                            <input type="text" class="form-control" name="firstname" id="FirstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="required">LastName</label>
                            <input type="text" class="form-control" name="lastname" id="LastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber" class="required">Phone Number</label>
                            <input type="text" class="form-control" name="phonenumber" id="PhoneNumber" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="emaillAddress" class="required">Email Address</label>
                            <input type="email" class="form-control" name="emailaddress" id="EmailAddress" placeholder="Email Address" onfocusout="CheckExistingEmailAddress()">
                        </div>
                        <div class="form-group password-container">
                            <label for="passWord" class="required">Password</label>
                            <input type="password" class="form-control" name="password" id="PassWord" placeholder="Pass Word">
                            <i class="mdi mdi-eye-off toggle-password"></i>
                        </div>
                        <div class="form-group password-container">
                            <label for="ConfirmpassWord" class="required">Confirm Password</label>
                            <input type="password" class="form-control" name="Confirmpassword" id="ConfirmPassWord" placeholder="Confirm PassWord">
                            <i class="mdi mdi-eye-off toggle-confirm-password"></i>
                        </div>
                        <div class="form-group">
                            <label for="joiningDate" class="required">Joining Date</label>
                            <input type="text" class="form-control" name="txtjoiningDate" id="JoiningDate" placeholder="Select Joining Date">
                        </div>
                        <div class="form-group">
                            <label for="probationPeriod" class="required">Probation Months</label>
                            <input type="text" class="form-control" name="txtprobationmonth" id="ProbationMonth" placeholder="Probation Month">
                        </div>
                        <div class="form-group">
                            <label for="role" class="required">Select Role</label>
                            <select class="form-control cls-role" name="role" id="RoleName">
                                <option value="">Roles</option>
                            </select>
                        </div>
                        <br />
                        @*<button type="submit" class="btn btn-primary btn-sm btn-block">Submit</button>*@
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" onclick="ResetForm()">Close</button>
                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="table-responsive pt-3">
    <table id="EmployeeList" class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th> FirstName </th>
                <th> LastName </th>
                <th> JoiningDate </th>
                <th> Password </th>
                <th> ProbationPeriod </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


<script src="~/Javascript/RegisterEmployeeJs.js"></script>
