
@{
    Layout = "~/Views/Shared/_RegistrationTemplate.cshtml";
}
<body>
    <div class="login-form" style=" width: 500px;">
        <form name="registration">
            <h4 class="modal-title">Register Your Account</h4>
            <div class="form-group">
                <label for="firstName">FirstName</label>
                <input type="text" class="form-control" name="firstname" id="FirstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="lastName">LastName</label>
                <input type="text" class="form-control" name="lastname" id="LastName" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" name="phonenumber" id="PhoneNumber" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <label for="emaillAddress">Email Address</label>
                <input type="email" class="form-control" name="emailaddress" id="EmailAddress" placeholder="Email Address" onfocusout="CheckExistingEmailAddress()">
            </div>
            <div class="form-group">
                <label for="passWord">Password</label>
                <input type="password" class="form-control" name="password" id="PassWord" placeholder="Pass Word">
            </div>
            <div class="form-group">
                <label for="joiningDate">Joining Date</label>
                <input type="text" class="form-control" name="txtjoiningDate" id="JoiningDate" placeholder="Select Joining Date">
            </div>
            <div class="form-group">
                <label for="probationPeriod">Probation Months</label>
                <input type="text" class="form-control" name="txtprobationmonth" id="ProbationMonth" placeholder="Probation Month">
            </div>
            <div class="form-group">
                <label for="role">Select Role</label>
                <select class="form-control cls-role" name="role" id="RoleName">
                    <option value="">Roles</option>
                </select>
            </div>
            <br />
            <button type="submit" class="btn btn-primary btn-sm btn-block">Submit</button>
        </form>
        <div class="text-center small"><a href="~/BlogVacancy/UserLogin">Back To Login Page?</a></div>

    </div>
</body>


<script type="text/javascript">
    $(function () {
        $("form[name='registration']").validate({
            rules: {
                firstname: {required: true},
                lastname: {required: true,
                },
                phonenumber: {
                    required: true,
                    minlength: 10,
                    maxlength: 10
                },
                emailaddress: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                },
                txtjoiningDate: { required: true, },
                role: {
                    required: true,
                }
            },
            messages: {
                firstname: { required: "Please enter a firstname" },
                lastname: { required: "Please enter a lastname" },
                phonenumber: {
                    required: "Please enter a phonenumber",
                    minlength: "Please enter valid phone number",
                    maxlength: "Please enter valid phone number",
                },
                emailaddress: {
                    required: "Please enter email address",
                    email: "Please enter a valid email address"
                },
                password: {
                    required: "Please enter a password",
                },
                txtjoiningDate: { required: "Select valid Date", },
                role: { required: "Please Select valid role" },
            },
            submitHandler: function (form) {
                SaveNewUser();
            }
        });

        BindRoles();
        $('#JoiningDate').datepicker();
    });

    function SaveNewUser() {
        var data = {
            FirstName: $("#FirstName").val(),
            LastName: $("#LastName").val(),
            PhoneNumber: $("#PhoneNumber").val(),
            EmailId: $("#EmailAddress").val(),
            Password: $("#PassWord").val(),
            Role: $("#RoleName").val(),
            JoiningDate: $("#JoiningDate").val(),
            ProbationPeriod: $("#ProbationMonth").val()
        }
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddNewUser", "BlogVacancy")",
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (result) {
                    if (result == "True") {
                        window.location.href = '/BlogVacancy/UserLogin'
                    }
                    else {
                        alert("Something Went Wrong!")
                    }
                },
                error: function (result) {
                    alert("Failure");
                }
            });

    }


    function CheckExistingEmailAddress() {
        var emailId = $("#EmailAddress").val();
        if (emailId == null || emailId == "") {
            return
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("CheckEmailAdress", "BlogVacancy")",
            contentType: 'application/json',
            data: {Email : emailId},
            success: function (result) {
                if (result == "") {

                }
                else {
                    alert(result)
                    $("#EmailAddress").val('');
                }
            },
            error: function (result) {
                    alert("Failure");
            }
        });
    }

    function BindRoles() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetRoles", "BlogVacancy")",
            contentType: 'application/json',
            success: function (result) {
                if (result != null) {
                    $.each(result, function (index, item) {
                        var opt = new Option(item.RoleName, item.Id);
                        $('.cls-role').append(opt);

                    });
                }
            },
            error: function (result) {
                    alert("Failure");
            }
        });
    }
</script>
