<footer class="main-footer sp-two">
    <div class="container">
        <div class="widgets-section">
            <div class="row clearfix">
                <div class="column col-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-widget logo-widget">
                                <div class="widget-content">
                                    <div class="number">
                                        <div class="num-icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="phone">
                                            <h5 class="title-lbl">Call Us On</h5>
                                            <a href="tel:+919558450670">+91 95584 50670</a>
                                            <a href="tel:+917046618869">+91 70466 18869</a>
                                        </div>
                                    </div>
                                    <div class="office-mail">
                                        <div class="mail-icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="email">
                                            <h5 class="title-lbl">Mail Us @@</h5>
                                            <a href="mailto:info@avidclan.com">info@avidclan.com</a>
                                        </div>
                                    </div>
                                    <div class="address">
                                        <div class="address-icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div>
                                            <h5 class="title-lbl">Visit Us On</h5>
                                            <p>1101, Shivalik Shilp, Iskcon Cross Roads, <br />S.G. Highway, Ahmedabad - 380015</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column col-lg-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-widget links-widget">
                                <h3 class="widget-title">Company</h3>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="~/Avidclan/AboutUs">About</a></li>
                                        <li><a href="~/Avidclan/Career">Careers</a></li>
                                        <li><a href="~/Avidclan/Career#career-section">Current Openings</a></li>
                                        <li><a href="~/Avidclan/LifeAtAvidclan">Life@Avidclan</a></li>
                                        <li><a href="#testimonials">Testimonials</a></li>
                                        <li><a href="~/Avidclan/ContactUs">Contact</a></li>
                                    </ul>
                                </div>

                                <h3 class="widget-title mt-4">Follow Us On</h3>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="https://www.facebook.com/avidclan/" rel="nofollow" target="_blank">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/avidclan-technologies/"
                                           rel="nofollow"
                                           target="_blank">
                                            <span class="fab fa-linkedin-in"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/AvidclanT" rel="nofollow" target="_blank">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/avidclan_technologies/" rel="nofollow" target="_blank">
                                            <span class="fab fa-instagram"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget links-widget sm-mb0">
                                <h3 class="widget-title">Services</h3>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="~/Avidclan/WebDevelopment">Web Development</a></li>
                                        <li><a href="~/Avidclan/MobileApplication">Mobile Apps</a></li>
                                        <li><a href="~/Avidclan/Design">Design</a></li>
                                        <li><a href="~/Avidclan/InternetMarketing">Internet Marketing</a></li>
                                        <li><a href="~/Avidclan/QualityAssurance">QA</a></li>
                                        <li><a href="~/Avidclan/InternetofThings">IoT</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="column col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="footer-widget links-widget">
                                        <h3 class="widget-title">Technologies</h3>
                                        <div class="widget-content">
                                            <ul>
                                                <li><a href="~/Avidclan/AngularDevelopment">Angular</a></li>
                                                <li><a href="~/Avidclan/ReactJsDevelopment">ReactJs</a></li>
                                                <li><a href="~/Avidclan/VueJsDevelopment">Vue</a></li>
                                                <li><a href="~/Avidclan/TypeScriptDevelopment">TypeScript</a></li>
                                                <li><a href="~/Avidclan/Html5Development">HTML5</a></li>
                                                <li><a href="~/Avidclan/DotNetDevelopment">.NET</a></li>
                                                <li><a href="~/Avidclan/JavaDevelopment">Java</a></li>
                                                <li><a href="~/Avidclan/PhpDevelopment">PHP</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col-lg-6">
                                    <h3 class="widget-title">&nbsp;</h3>
                                    <div class="footer-widget links-widget">
                                        <div class="widget-content">
                                            <ul>
                                                <li><a href="~/Avidclan/NodeJsDevelopment">Node</a></li>
                                                <li><a href="~/Avidclan/IosAppDevelopment">iOS</a></li>
                                                <li><a href="~/Avidclan/AndroidAppDevelopment">Android</a></li>
                                                <li><a href="~/Avidclan/ReactNativeDevelopment">React Native</a></li>
                                                <li><a href="~/Avidclan/FlutterAppDevelopment">Flutter</a></li>
                                                <li><a href="~/Avidclan/IonicAppDevelopment">Ionic</a></li>
                                                <li><a href="~/Avidclan/XamarinAppDevelopment">Xamarin</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom row no-gutters">
            <div class="col-md-12">
                <div class="copyright">© 2022 <a href="#">Avidclan Technologies</a>, All Rights Reserved.</div>
            </div>
        </div>
    </div>
</footer>
<!-- BEGIN COOKIE INFO BAR -->
<div class="cookies-infobar">
    We use cookies to ensure that we give you the best experience on our website.
    <div class="cookies-infobar_wrapper">
        <a href="#" id="cookies-infobar-close" class="cookies-infobar_btn">Accept</a>
    </div>
</div>
<!-- CLOSE COOKIE INFO BAR -->
    
