
<footer class="main-footer sp-two custom-bg">
    <div class="container">
        <div class="widgets-section mt-190">
            <div class="row clearfix">
                <div class="column col-lg-6">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="footer-widget logo-widget">
                                <div class="widget-content">
                                    <div class="number d-flex w-100 mb-3 align-items-start">
                                        <div class="phone">
                                            <h3 class="title-lbl fw-bold fs-6 mb-3">Sales Inquiry</h3>
                                            <div class="call_ic d-flex align-items-center mb-2">
                                                <img src="~/assets/images/imagenew/envelope-blue-fill.svg" height="15" width="15"
                                                     alt="Email" class="primary-color me-2"/>
                                                <a href="mailto:solutions@avidclan.com"
                                                   class="text-decoration-none">solutions@avidclan.com</a>
                                            </div>
                                            <div class="call_ic d-flex align-items-center">
                                                <img src="~/assets/images/imagenew/telephone-fill (2).svg" alt="Phone" class="me-2"/>
                                                <a href="tel:+919558450670" class="text-decoration-none">
                                                    +91 95584
                                                    50670
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="number d-flex w-100 mb-3 align-items-start">
                                        <div class="phone">
                                            <h3 class="title-lbl fw-bold fs-6 mb-3">Career/HR Inquiry</h3>
                                            <div class="call_ic d-flex align-items-center mb-2">
                                                <img src="~/assets/images/imagenew/envelope-blue-fill.svg" height="15" width="15"
                                                     alt="Email" class="me-2" />
                                                <a href="" class="text-decoration-none">career@avidclan.com</a>
                                            </div>
                                            <div class="call_ic d-flex align-items-center">
                                                <img src="~/assets/images/imagenew/telephone-fill (2).svg" alt="Phone" class="me-2" />
                                                <a href="tel:+919624679717" class="text-decoration-none">+91 96246 79717</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <h3 class="widget-title fs-5 fw-bold mb-3">Follow Us On</h3>
                                        <ul class="ps-0 mb-2">
                                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                                <a href="https://www.facebook.com/avidclan/"
                                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                                   aria-label="facebook" target="_blank">
                                                    <img src="~/assets/images/imagenew/icons8-facebook-f (1).svg" alt="Facebook" class="img-fluid icon-height" />
                                                </a>
                                            </li>

                                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                                <a href="https://www.linkedin.com/company/avidclan-technologies/posts/?feedView=all"
                                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                                   aria-label="linkedin" target="_blank">
                                                    <img src="~/assets/images/imagenew/linkedin (1) (1) (1).svg" alt="LinkedIn" class="img-fluid icon-height" />
                                                </a>
                                            </li>
                                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                                <a href="https://x.com/i/flow/login?redirect_after_login=%2FAvidclanT"
                                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                                   aria-label="twitter" target="_blank">
                                                    <img src="~/assets/images/imagenew/twitter-x (1).svg" alt="Twitter" class="img-fluid icon-height" />
                                                </a>
                                            </li>
                                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                                <a href="https://www.instagram.com/avidclan_technologies/"
                                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                                   aria-label="instagram" target="_blank">
                                                    <img src="~/assets/images/imagenew/instagram (1).svg" alt="Instagram" class="img-fluid icon-height" />
                                                </a>
                                            </li>
                                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                                <a href="https://www.pinterest.com/avidclantechnologies/"
                                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                                   aria-label="pinterest" target="_blank">
                                                    <img src="~/assets/images/imagenew/pinterest (2) (1).svg" alt="Pinterest" class="img-fluid icon-height " />
                                                </a>
                                            </li>
                                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                                <a href="https://www.behance.net/avidclantechnologies"
                                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                                   aria-label="behance" target="_blank">
                                                    <img src="~/assets/images/imagenew/behance (1).svg" alt="Behance" class="img-fluid icon-height" />
                                                </a>
                                            </li>
                                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                                <a href="https://dribbble.com/avidclantechnologies"
                                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                                   aria-label="dribbble" target="_blank">
                                                    <img src="~/assets/images/imagenew/dribbble (1).svg" alt="Dribbble" class="img-fluid icon-height" />
                                                </a>
                                            </li>
                                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                                <a href="#"
                                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                                   aria-label="medium" target="_blank">
                                                    <img src="~/assets/images/imagenew/medium (1).svg" alt="Medium" class="img-fluid icon-height" />
                                                </a>
                                            </li>
                                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                                <a href="https://www.upwork.com/agencies/1095206097058578432/"
                                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                                   aria-label="upwork" target="_blank">
                                                    <img src="~/assets/images/imagenew/upwork (1).svg" alt="Upwork" class="img-fluid icon-height" />
                                                </a>
                                            </li>
                                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                                <a href="https://goo.gl/maps/yA7s1VLYBE5H7sBp6"
                                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                                   aria-label="google" target="_blank">
                                                    <img src="~/assets/images/imagenew/google (2).svg" alt="Google" class="img-fluid icon-height" />
                                                </a>
                                            </li>



                                        </ul>
                                    </div>

                                    <div class="widgetclutch">
                                        <h3 class="widget-title fw-bold t-title my-3">Review Us</h3>
                                        <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="2" data-height="45" data-nofollow="true" data-expandifr="true" data-clutchcompany-id="1880867">
                                            <iframe id="iframe-0.6059967442438787" width="100%" src="https://widget.clutch.co/widgets/get/2?ref_domain=www.avidclan.com&amp;uid=1880867&amp;rel_nofollow=true&amp;ref_path=/" height="45px" scrolling="no" title="[iFrameSizer]iframe-0.6059967442438787:0:0:mouseleave:448:3682"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-3">
                            <h3 class="widget-title fw-bold mb-3">Visit Us On</h3>
                            <div class="d-flex mb-1">
                                <div class="address-icon">
                                    <img loading="lazy" src="~/assets/images/imagenew/ind-flag.svg" width="24" height="24" alt="India Flag">
                                </div>
                                <div>
                                    <div class="fw-bold fs-5 mb-1">India</div>
                                    <div class="fw-bold">Ahmedabad</div>
                                    <p class="mb-1 mb-lg-0">
                                        1206, Shivalik Shilp, Iskcon Cross Roads, S.G. Highway, Ahmedabad, <br>
                                        Gujarat - 380015
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex my-3">
                                <div class="address-icon"></div>
                                <div>
                                    <div class="fw-bold">Rajkot</div>
                                    <p>
                                        523, RK World Tower, 150 Feet Ring Rd, Sheetal Park, Shastri Nagar, Dharam
                                        Nagar Society,
                                        Rajkot, <br>Gujarat - 360006
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column col-lg-6 mt-lg-0 mt-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <h3 class="widget-title fw-bold mb-3">Company</h3>
                                <div>
                                    <ul class="list-unstyled">
                                        <li><a href="/about-us/">About</a></li>
                                        <li><a href="/career/">Careers</a></li>
                                        <li><a href="/career#career-section">Current Openings</a></li>
                                        <li><a href="/life-at-avidclan/">Life@Avidclan Technologies</a></li>
                                        <li><a href="#testimonials">Testimonials</a></li>
                                        <li><a href="/contact-us/">Contact</a></li>
                                        <li>
                                            <a href="/flutter-app-development-company-usa/">
                                                Flutter App Development
                                                Company USA
                                            </a>
                                        </li>
                                        <li><a href="/ui-ux-design-company-usa/">UI/UX Design Company USA</a></li>
                                        <li>
                                            <a href="/dot-net-development-company-usa/">
                                                .NET Development Company
                                                USA
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/flutter-app-development-company-india/">
                                                Flutter App
                                                Development Company India
                                            </a>
                                        </li>
                                        <li><a href="/hire-dot-net-developers/">Hire .NET Developers</a></li>
                                    </ul>
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h3 class="widget-title fw-bold mb-3">Services</h3>
                                <div>
                                    <ul class="visible list-unstyled">
                                        <li><a href="/web-development-services/">Web Development</a></li>
                                        <li><a href="/mobile-application-development/">Mobile Apps</a></li>
                                        <li><a href="/design/">Design</a></li>
                                        <li><a href="/internet-marketing-services/">Internet Marketing</a></li>
                                        <li><a href="/quality-assurance-services/">QA</a></li>
                                        <li><a href="#">IoT</a></li>
                                    </ul>
                                </div>
                                @*<h3 class="widget-title fw-bold my-3">Case Studies</h3>
                                <div>
                                    <ul class="list-unstyled">
                                        <li><a href="/case-studies/vyking/">Vyking</a></li>
                                        <li><a href="/case-studies/clf/">CLF</a></li>
                                    </ul>
                                </div>*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <h3 class="widget-title fw-bold mb-3">Technologies</h3>
                                        <div>
                                            <ul class="list-unstyled">
                                                <li><a href="/angular-development-services/">Angular</a></li>
                                                <li><a href="/reactjs-development-services/">ReactJs</a></li>
                                                <li><a href="/vuejs-development-services/">Vue</a></li>
                                                <li><a href="/typescript-web-development/">TypeScript</a></li>
                                                <li><a href="/html5-development/">HTML5</a></li>
                                                <li><a href="/dot-net-development-company/">.NET</a></li>
                                                <li><a href="/java-development-company/">Java</a></li>
                                                <li><a href="/php-development-company/">PHP</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="fs-5 fw-bold mb-3">&nbsp;</h3>

                                    <div>
                                        <ul class="list-unstyled">
                                            <li><a href="/nodejs-development-services/">Node</a></li>
                                            <li><a href="/ios-app-development-company/">iOS</a></li>
                                            <li><a href="/android-app-development-company/">Android</a></li>
                                            <li><a href="/react-native-app-development/">React Native</a></li>
                                            <li><a href="/flutter-app-development-company/">Flutter</a></li>
                                            <li><a href="/ionic-app-development-company/">Ionic</a></li>
                                            <li><a href="/xamarin-app-development-company/">Xamarin</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="py-4 border-top row">
            <div class="col-md-12">
                <div class="text-center">
                    © 2025 <a class="primary-color" href="#">Avidclan Technologies</a>, All
                    Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- BEGIN COOKIE INFO BAR -->
@*<div class="cookies-infobar cookies-infobar_hide">
    We use cookies to ensure that we give you the best experience on our website.
    <div class="cookies-infobar_wrapper">
        <a href="#" id="cookies-infobar-close" class="cookies-infobar_btn">Accept</a>
    </div>
</div>*@
<!-- CLOSE COOKIE INFO BAR -->
