
<footer class="main-footer custom-bg">
    <div class="container">
        <div class="pb-0 widgets-section mt-190">
            <!-- Top Section -->
            <div class="row mb-4">
                <!-- Logo & Socials -->
                <div class="col-lg-3 mb-4 mb-lg-0">
                    <img loading="lazy" height="55" width="195" src="/assets/images/imagenew/logo (1).svg" alt="Logo">
                    <p class="text-black">Your reliable technology partner for quality and efficient business solutions.</p>
                    <div class="d-flex flex-wrap gap-2">
                        <ul class="ps-0 mb-2">
                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                <a href="https://www.facebook.com/avidclan/"
                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                   aria-label="facebook" target="_blank">
                                    <img src="~/assets/images/imagenew/icons8-facebook-f (1).svg" alt="Facebook" class="img-fluid icon-height" />
                                </a>
                            </li>

                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                <a href="https://www.linkedin.com/company/avidclan-technologies/posts/?feedView=all"
                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                   aria-label="linkedin" target="_blank">
                                    <img loading="lazy" src="~/assets/images/imagenew/linkedin (1) (1) (1).svg" alt="LinkedIn" class="img-fluid icon-height" />
                                </a>
                            </li>
                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                <a href="https://x.com/i/flow/login?redirect_after_login=%2FAvidclanT"
                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                   aria-label="twitter" target="_blank">
                                    <img src="~/assets/images/imagenew/twitter-x (1).svg" alt="Twitter" class="img-fluid icon-height" />
                                </a>
                            </li>
                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                <a href="https://www.instagram.com/avidclan_technologies/"
                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                   aria-label="instagram" target="_blank">
                                    <img src="~/assets/images/imagenew/instagram (1).svg" alt="Instagram" class="img-fluid icon-height" />
                                </a>
                            </li>
                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                <a href="https://www.pinterest.com/avidclantechnologies/"
                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                   aria-label="pinterest" target="_blank">
                                    <img loading="lazy" src="/assets/images/imagenew/pinterest (2) (1).svg" alt="Pinterest" class="img-fluid icon-height">
                                </a>
                            </li>
                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                <a href="https://www.behance.net/avidclantechnologies"
                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                   aria-label="behance" target="_blank">
                                    <img src="~/assets/images/imagenew/behance (1).svg" alt="Behance" class="img-fluid icon-height" />
                                </a>
                            </li>
                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                <a href="https://dribbble.com/avidclantechnologies"
                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                   aria-label="dribbble" target="_blank">
                                    <img src="~/assets/images/imagenew/dribbble (1).svg" alt="Dribbble" class="img-fluid icon-height" />
                                </a>
                            </li>
                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                <a href="https://medium.com/@('@')avidclan.technologies"
                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                   aria-label="medium" target="_blank">
                                    <img src="~/assets/images/imagenew/medium (1).svg" alt="Medium" class="img-fluid icon-height" />
                                </a>
                            </li>
                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                <a href="https://www.upwork.com/agencies/1095206097058578432/"
                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                   aria-label="upwork" target="_blank">
                                    <img loading="lazy" src="/assets/images/imagenew/upwork (1).svg" alt="Upwork" class="img-fluid icon-height">
                                </a>
                            </li>
                            <li class="me-2 mb-2 d-inline-block background-primary rounded-circle">
                                <a href="https://goo.gl/maps/yA7s1VLYBE5H7sBp6"
                                   class="bg-icon-hover icon-custom" rel="nofollow"
                                   aria-label="google" target="_blank">
                                    <img src="~/assets/images/imagenew/google (2).svg" alt="Google" class="img-fluid icon-height" />
                                </a>
                            </li>



                        </ul>
                    </div>
                </div>

                <!-- Quick Links -->
                <div class="col-md-4 col-lg-2 mb-4 mb-lg-0">
                    <h6 class="fw-bold footer-heading">
                        Quick Links
                    </h6>

                    <ul class="list-unstyled pt-2">
                        <li><a href="/about-us/">About Us</a></li>
                        <li><a href="/services/">Services</a></li>
                        <li><a href="/technologies/">Technologies</a></li>
                        <li><a href="/countries-we-serve/">Countries We Serve</a></li>
                        <li><a href="/portfolio/">Portfolio</a></li>
                        <li><a href="/case-studies/">Case Studies</a></li>
                        <li><a href="/blog/">Blog</a></li>
                    </ul>
                </div>

                <!-- Services -->
                <div class="col-md-4 col-lg-2 mb-4 mb-lg-0">
                    <h6 class="fw-bold footer-heading">
                        <a href="/services" class="text-decoration-none text-dark">Services</a>
                    </h6>

                    <ul class="list-unstyled pt-2">
                        <li><a href="/web-development-company/">Web Development</a></li>
                        <li><a href="/mobile-app-development-company/">Mobile App</a></li>
                        <li><a href="/ui-ux-design-company/">UI/UX Design</a></li>
                        <li><a href="/quality-assurance-services/">QA Services</a></li>
                        <li><a href="/iot-service-providers/">IoT Development</a></li>
                        <li><a href="/ai-development-company/">Artificial Intelligence</a></li>
                        <li><a href="/digital-marketing-services/">Digital Marketing</a></li>
                    </ul>
                </div>

                <!-- Technologies -->
                <div class="col-md-4 col-lg-2 mb-4 mb-lg-0">
                    <h6 class="fw-bold footer-heading">
                        <a href="/technologies" class="text-decoration-none text-dark">Technologies</a>
                    </h6>

                    <ul class="list-unstyled pt-2">
                        <li><a href="/dot-net-development-company/">.NET</a></li>
                        <li><a href="/angular-development-company/">Angular</a></li>
                        <li><a href="/reactjs-development-services/">ReactJS</a></li>
                        <li><a href="/flutter-app-development-company/">Flutter</a></li>
                        <li><a href="/selenium-automation-testing-services/">Selenium</a></li>
                        <li><a href="/ios-app-development-services/">iOS</a></li>
                        <li><a href="/android-app-development-company/">Android</a></li>
                        <li><a href="/php-development-company/">PHP</a></li>
                        <li><a href="/html5-development-services/">HTML5</a></li>
                    </ul>
                </div>

                <!-- Hire Developers -->
                <div class="col-md-8 col-lg-3">
                    <div class="row">
                        <!-- Hire Developers -->
                        <div class="col-md-6 col-lg-12 mb-4 mb-lg-0">
                            <h6 class="fw-bold footer-heading">Hire Developers</h6>
                            <ul class="list-unstyled pt-2">
                                <li><a href="/hire-custom-software-developers/">Hire Custom Software Developers</a></li>
                                <li><a href="/hire-dot-net-developers/">Hire .NET Developers</a></li>
                                <li><a href="/hire-ui-ux-designers/">Hire UI/UX Designers</a></li>
                                <li><a href="/hire-qa-automation-tester/">Hire QA Testers</a></li>
                            </ul>
                        </div>

                        <!-- Career -->
                        <div class="col-md-6 col-lg-12 mb-4 mb-lg-0">
                            <h6 class="fw-bold footer-heading">
                                <a href="/career" class="text-decoration-none text-dark">Career</a>
                            </h6>
                            <ul class="list-unstyled pt-2">
                                <li><a href="/career#career-section">Current Openings</a></li>
                                <li><a href="/life-at-avidclan/">Life at Avidclan Technologies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Bottom Section -->
            <!-- Bottom Section -->
            <div class="row pt-4 border-top">
                <!-- Column 1: Our Offices -->
                <div class="col-md-5 mb-3">
                    <h6 class="fw-bold footer-heading mb-2">Our Offices</h6>
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <p class="fw-semibold d-flex align-items-center mb-0">
                                <img src="/assets/images/icons/icon-country-footer.png" alt="India Flag" height="18" class="me-2">
                                India
                            </p>
                        </div>
                        <div class="col-md-4 mb-2">
                            <!-- Intentionally left blank or for future use -->
                        </div>
                    </div>

                    <div class="row">
                        <!-- Ahmedabad -->
                        <div class="mb-2 mb-md-0 col-sm-12 col-md-6 col-lg-6">
                            <h6 class="fw-bold mb-2">Ahmedabad</h6>
                            <p class="mb-0">
                                1206, Shivalik Shilp,<br>
                                Iskcon Cross Roads,<br>
                                S.G. Highway,<br>
                                Ahmedabad, Gujarat - 380015
                            </p>
                        </div>
                        <!-- Rajkot -->
                        <div class="mb-2 mb-md-0 col-sm-12 col-md-6 col-lg-6">
                            <h6 class="fw-bold mb-2">Rajkot</h6>
                            <p class="mb-0">
                                523, RK World Tower,<br>
                                150 Ft Ring Rd,<br>
                                Sheetal Park, Shastri Nagar,<br>
                                Rajkot, Gujarat - 360006
                            </p>
                        </div>
                        <!-- Virginia + USA -->

                    </div>
                </div>

                <div class="col-md-2 mb-3">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                        <h6 class="fw-bold mb-4 pb-2"></h6>
                        <div class="row">
                            <p class="fw-semibold d-flex align-items-center mb-2">
                                <img src="/assets/images/icons/icon-country-footer.png" alt="USA Flag" height="18" class="me-2">
                                USA
                            </p>
                            <h6 class="fw-bold mb-2"><span>Virginia</span></h6>
                            <p class="mb-0">
                                45670 Silver Pond Sq,<br>
                                Apt 302, Sterling,<br>
                                VA 20164
                            </p>
                        </div>
                    </div>
                </div><!-- Column 2: USA Office -->
                <!-- Column 3: Contact Info -->
                <div class="col-md-5">
                    <div class="row">
                        <!-- Contact Info -->
                        <div class="col-md-6 mb-3">
                            <h6 class="fw-bold footer-heading mb-2">Contact Info</h6>

                            <p class="mb-1 fw-semibold">Project Inquiry</p>
                            <div class="call_ic d-flex align-items-center mb-2 phone">
                                <img loading="lazy" src="/assets/images/imagenew/envelope-blue-fill.svg" height="15" width="15" alt="Email" class="me-2">
                                <a href="mailto:solutions@avidclan.com" class="text-decoration-none">solutions@avidclan.com</a>
                            </div>
                            <div class="call_ic d-flex align-items-center mb-2 phone">
                                <img src="/assets/images/imagenew/telephone-fill (2).svg" alt="Phone" class="me-2">
                                <a href="tel:+919558450670" class="text-decoration-none">+91 95584 50670</a>
                            </div>

                            <p class="mb-1 fw-semibold">Career/HR Inquiry</p>
                            <div class="call_ic d-flex align-items-center mb-2 phone">
                                <img loading="lazy" src="/assets/images/imagenew/envelope-blue-fill.svg" height="15" width="15" alt="Email" class="me-2">
                                <a href="mailto:career@avidclan.com" class="text-decoration-none">career@avidclan.com</a>
                            </div>
                            <div class="call_ic d-flex align-items-center phone">
                                <img src="/assets/images/imagenew/telephone-fill (2).svg" alt="Phone" class="me-2">
                                <a href="tel:+919624679717" class="text-decoration-none">+91 96246 79717</a>
                            </div>
                        </div>

                        <!-- Reviews -->
                        <div class="col-md-6 mb-2">
                            <h6 class="fw-bold footer-heading mb-3">Reviews</h6>

                            <!-- Clutch Review -->
                            <a href="https://clutch.co/profile/avidclan-technologies">
                                <div class="mb-2">
                                    <p class="mb-1 fw-semibold">
                                        Clutch Reviews
                                    </p>
                                    <div class="d-flex align-items-center">
                                        <img src="/assets/images/icons/clutch-logo-footer.png" alt="Clutch" width="24" class="me-3">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <span class="fw-semibold small text-dark ms-1">5.0</span>
                                    </div>
                                </div>
                            </a>

                            <!-- Google Review -->
                            <a href="https://goo.gl/maps/yA7s1VLYBE5H7sBp6">
                                <div class="mb-2">
                                    <p class="mb-1 fw-semibold">
                                        Google Reviews
                                    </p>
                                    <div class="d-flex align-items-center">
                                        <img src="/assets/images/icons/google-icon-logo-footer.png" alt="Google" width="24" class="me-3">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <span class="fw-semibold small text-dark ms-1">5.0</span>
                                    </div>
                                </div>
                            </a>
                            <!-- Upwork Review -->
                            <a href="https://www.upwork.com/agencies/1095206097058578432/">
                                <div class="mb-2">
                                    <p class="mb-1 fw-semibold">
                                        Upwork Reviews
                                    </p>
                                    <div class="d-flex align-items-center">
                                        <img src="/assets/images/icons/Upwork-logo-footer.png" alt="Upwork" width="24" class="me-3">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <img src="/assets/images/icons/Star-footer.png" alt="star" class="me-1">
                                        <span class="fw-semibold small text-dark ms-1">5.0</span>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <!-- Blank column -->
                    </div>
                </div>


            </div>

            <style>
                .footer-heading {
                    display: inline-block;
                    position: relative;
                    padding-bottom: 3px;
                }

                    .footer-heading::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 30px; /* Match full text width */
                        height: 1.5px;
                        background-color: #3686F7;
                        border-radius: 2px;
                    }
            </style>
            <!-- Copyright -->

        </div>
    </div>
</footer>
<div class="text-center py-2 border-top" style="background: #0E53BE;">
    <p class="text-white mb-0">&copy; 2025 <a class="text-white fw-bold" href="#">Avidclan Technologies</a>, All Rights Reserved.</p>
</div>