<footer class="main-footer sp-two">
    <div class="container">
        <div class="widgets-section">
            <div class="row clearfix">
                <div class="column col-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-widget logo-widget">
                                <div class="widget-content">
                                    <div class="number">
                                        <div class="num-icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="phone">
                                            <h5 class="title-lbl">Call Us On</h5>
                                            <a href="tel:+919558450670">+91 95584 50670</a>
                                            <a href="tel:+917046618869">+91 70466 18869</a>
                                        </div>
                                    </div>
                                    <div class="office-mail">
                                        <div class="mail-icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="email">
                                            <h5 class="title-lbl">Mail Us @@</h5>
                                            <a href="mailto:info@avidclan.com">info@avidclan.com</a>
                                        </div>
                                    </div>
                                    <div class="address">
                                        <div class="address-icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div>
                                            <h5 class="title-lbl">Visit Us On</h5>
                                            <p>1101, Shivalik Shilp, Iskcon Cross Roads, <br />S.G. Highway, Ahmedabad - 380015</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column col-lg-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-widget links-widget">
                                <h3 class="widget-title">Company</h3>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="~/about-us/">About</a></li>
                                        <li><a href="~/career/">Careers</a></li>
                                        <li><a href="~/career#career-section">Current Openings</a></li>
                                        <li><a href="~/life-at-avidclan/">Life@Avidclan</a></li>
                                        <li><a href="#testimonials">Testimonials</a></li>
                                        <li><a href="~/contact-us/">Contact</a></li>
                                    </ul>
                                </div>

                                <h3 class="widget-title mt-4">Follow Us On</h3>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="https://www.facebook.com/avidclan/" rel="nofollow" target="_blank">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/avidclan-technologies/"
                                           rel="nofollow"
                                           target="_blank">
                                            <span class="fab fa-linkedin-in"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/AvidclanT" rel="nofollow" target="_blank">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/avidclan_technologies/" rel="nofollow" target="_blank">
                                            <span class="fab fa-instagram"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget links-widget sm-mb0">
                                <h3 class="widget-title">Services</h3>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="~/web-development-services/">Web Development</a></li>
                                        <li><a href="~/mobile-application-development/">Mobile Apps</a></li>
                                        <li><a href="~/design/">Design</a></li>
                                        <li><a href="~/internet-marketing-services/">Internet Marketing</a></li>
                                        <li><a href="~/quality-assurance-services/">QA</a></li>
                                        <li><a href="~/iot-service-providers/">IoT</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="column col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="footer-widget links-widget">
                                        <h3 class="widget-title">Technologies</h3>
                                        <div class="widget-content">
                                            <ul>
                                                <li><a href="~/angular-development-services/">Angular</a></li>
                                                <li><a href="~/reactjs-development-services/">ReactJs</a></li>
                                                <li><a href="~/vuejs-development-services/">Vue</a></li>
                                                <li><a href="~/typescript-web-development/">TypeScript</a></li>
                                                <li><a href="~/html5-development/">HTML5</a></li>
                                                <li><a href="~/dot-net-development-company/">.NET</a></li>
                                                <li><a href="~/java-development-company/">Java</a></li>
                                                <li><a href="~/php-development-company/">PHP</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col-lg-6">
                                    <h3 class="widget-title">&nbsp;</h3>
                                    <div class="footer-widget links-widget">
                                        <div class="widget-content">
                                            <ul>
                                                <li><a href="~/nodejs-development-services/">Node</a></li>
                                                <li><a href="~/ios-app-development-company/">iOS</a></li>
                                                <li><a href="~/android-app-development-company/">Android</a></li>
                                                <li><a href="~/react-native-app-development/">React Native</a></li>
                                                <li><a href="~/flutter-app-development-company/">Flutter</a></li>
                                                <li><a href="~/ionic-app-development-company/">Ionic</a></li>
                                                <li><a href="~/xamarin-app-development-company/">Xamarin</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom row no-gutters">
            <div class="col-md-12">
                <div class="copyright">© 2022 <a href="#">Avidclan Technologies</a>, All Rights Reserved.</div>
            </div>
        </div>
    </div>
</footer>
<!-- BEGIN COOKIE INFO BAR -->
<div class="cookies-infobar">
    We use cookies to ensure that we give you the best experience on our website.
    <div class="cookies-infobar_wrapper">
        <a href="#" id="cookies-infobar-close" class="cookies-infobar_btn">Accept</a>
    </div>
</div>
<!-- CLOSE COOKIE INFO BAR -->
    
