<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Content/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <title>Avidclan Technologies</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    @*<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
    <script src="~/Scripts/index.global.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" rel="stylesheet" />
</head>
<body>
    <div id="spinner-overlay" style="display: none;">
        <div class="spinner-border text-muted" style="position: fixed; top: 50%; left: 50%; z-index: 1000;"></div>
    </div>
    <div class="container-scroller" id="content-to-blur">
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo" href="#"><img src="~/Image/Avidclan_Logo_New_Small_1.jpg" class="sideImageBanner"/></a>
                    <a class="navbar-brand brand-logo-mini" href="~/BlogVacancy/blog"><img src="~/Image/Avidclan_Only_Logo_2.png" class="sideImageBannerSmall" /></a>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Leave/Index">
                            <span class="menu-title">Apply Leave</span>
                            <i class="mdi mdi-account-multiple menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Leave/TotalLeaves">
                            <span class="menu-title">Total Leave</span>
                            <i class="mdi mdi-account-multiple menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Leave/FeedBack">
                            <span class="menu-title">FeedBack</span>
                            <i class="mdi mdi-creation menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Leave/ChangePassword">
                            <span class="menu-title">Change Password</span>
                            <i class="mdi mdi-account-key menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Leave/CompOff">
                            <span class="menu-title">Request Compensation off</span>
                            <i class="mdi mdi-creation menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="main-panel" style="margin-top:40px;">
                <div class="content-wrapper">
                    <div class="navbar-menu-wrapper d-flex align-items-stretch" style="position: relative; top: -65px;">
                        @*<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                            <span class="mdi mdi-menu"></span>
                        </button>*@

                        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                            <span class="mdi mdi-menu"></span>
                        </button>
                        <button type="button" class="btn btn-primary" style="margin-left: auto;background-color:#142149" onclick="LogOut()">Log Out</button>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/off-canvas.js"></script>
    <script src="~/Scripts/hoverable-collapse.js"></script>
    <script src="~/Scripts/misc.js"></script>
    <script src="~/Scripts/dashboard.js"></script>
    <script src="~/Scripts/todolist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        function LogOut() {
            ///* $.removeCookie("EmailId")*/
            //sessionStorage.removeItem("EmailId");
            $.ajax({
                url: "/BlogVacancy/Logout",
                type: "GET",
                dataType: "json",
                success: function (data) {

                }
            })
            window.location.href = '/BlogVacancy/UserLogin'
        }
        
        function showSpinner() {
            $('#spinner-overlay').show();
            $('#content-to-blur').addClass('blur-background');
        }

        function hideSpinner() {
            $('#spinner-overlay').hide();
            $('#content-to-blur').removeClass('blur-background');
        }
    </script>
</body>
</html>

